body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",Microsoft JhengHei,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --lightorange : #f2d5a7;
  --orange : #d9ac0c;
  --bluegreen : #2ea69d;
  --lightred : #f18787;
  --red : #e35555;
  --yellow : #d7bc21;
  --green : #50a162;
}

#root{width: 100vw;height: 100vh;overflow: hidden;}
.NoScrollBar::-webkit-scrollbar { width: 0px; }
.subApp{width: 100vw;height: calc(100vh - 40px);overflow: scroll;}
.flex{ display: flex; justify-content: center; }
.flex_col{ display: flex; flex-direction: column; align-items: center; }

nav{
  display: flex; height: 40px ;
  background-color: black; width: 100vw;
  z-index: 999; position: sticky; top: 0;
}
nav img{height: 40px;margin: 0px 10px}
.menu{
  min-width: 40px; height: 40px;
  position: relative; padding: 0;
  top: 0; background: transparent;
  left: 0 ; opacity: 1 ; cursor: pointer;
}
.menu span{
  width: 80%; height: 3px; margin: 0 10%;
  background-color: white; display: block;
  position: absolute; top: 25%; transition: .3s ease;
  border-radius: 5px;
}
.menu span:nth-of-type(2){top: 50%}
.menu span:last-of-type{top: 75%}
.menu[active='1'] span{top: 50%;opacity: 0;transform-origin: center;}
.menu[active='1'] span:nth-of-type(2){opacity: 1;transform: rotate(45deg);}
.menu[active='1'] span:last-of-type{opacity: 1;transform: rotate(-45deg);}
.NavigationSideColumn{
  position: fixed; top: 0px; height: 100vh; width: 200px;
  left: -200px; overflow-y: scroll; background-color: black ;
  font-size: 20px; color:white; transition: .4s ease-in-out;
  z-index: 998; padding-top: 40px;
}
.NavBG{position: fixed;top:0;left:0;width: 100vw;height: 100vh;background-color: black;opacity: .7;cursor: pointer;display: none;z-index: 997}
.menu[active='1'] + .NavigationSideColumn{left:0}
.menu[active='1'] ~ .NavBG{display: block;}
.NavigationSideColumn a,.NavigationSideColumn a:active{color:white;padding:5px;text-decoration: none;}
.NavigationSideColumn a:hover{color:var(--bluegreen)}
.NavigationSideColumn .TreeView {margin: 0px 10px}

.TreeView, .TreeView .NodeCollection{
  display: flex;
  flex-direction: column;
  margin: 10px;
  transition: .3s ease-in-out;
}
.TreeView .NodeCollection{
  margin-top: 0;
  border-left: 1px solid;
  overflow: hidden;
  max-height: 0;
}
.TreeView .NodeCollection[expand='1']{max-height: 100vh;}
.TreeView .Root, .TreeView .Node{padding: 5px}

.HomePageBlock{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  padding: 3% 5%;
  font-size: 16px;
}

.HomePageBlock:nth-child(2n+1){
  background-color: rgba(250,250,250,.9);
  color: black;
}
.HomePageBlock:nth-child(2n){
  background-color: rgba(10,10,10,.9);
  color:white;
}
.HomePageBlock h2{text-align: center;font-weight: bold;margin: 20 0}
.HomePageBlock>div{
  display:flex;
}
.HomePageBlock .article{
  flex: 1;
  padding: 15px;
  line-height: 2;
  font-weight: 100;
}

.LegendBoard{
  display: flex;
  flex:1;
  justify-content: space-around;
  align-items: flex-start;
}
.LegendCard{
  display: flex;
  flex:1;
  flex-direction: column;
  padding: 5px;
  border: 2px dashed;
  border-radius: 10px;
  position: relative;
  margin: 0 5px;
}
.LegendCard img{width: 100%}
.LegendCard span{
    font-weight: bold;
    margin: 3 5;
    border-bottom: 1px solid lightgray;
}
.LegendCard span:first-of-type{text-align: center;}
.LegendCard span:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0
}
.LegendCard span:last-child:hover{color: rgb(231, 167, 87)}
