.dataScetion{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,.7);
  border-radius: 20px;
}
.display{padding: 0}
.section{padding: 10px;display: none;}
.display .subclass{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20;
  padding: 0 20;
}
.display .subclass div{
    display: flex;
    width: 100%;
}
.display .subclass span{
  word-break: keep-all;
  font-size: 20;
  font-weight: bold;
  margin: 2;
  margin-bottom: 0;
  background-color: rgba(238, 190, 44, 0.9);
  padding: 10 15 0 15;
  border-radius: 15px 15px 0px 0px;
  flex:1;
  text-align: center;
  cursor: pointer;
  transition: .3s ease;
}
.display .subclass span:hover,
.display .subclass span[active='1']{
  background-color: rgba(242, 100, 51, 0.9);
  flex:2;
}

.dataScetion .section_snapshot{
  width: 50px;
  height: 50px;
  color: white;
  padding: 15px 17px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgb(141, 97, 145);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .4s ease-in-out
}
.dataScetion .section_snapshot:hover{background-color: rgb(204, 89, 161);}
.dataScetion .item{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
}
.blink{
  animation-name: border-blink;
  animation-duration: .5s ;
  animation-iteration-count: infinite;
}
@keyframes border-blink {
  0%{border-color: rgb(255, 93, 46)}
  50%{border-color: yellow}
  100%{border-color: orange}
}
.action{display: none}
#left,#right{
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: fixed;
  top: 50%;
  border: 50px solid transparent;
  transition: .2s ease-in-out;
  cursor: pointer;
}
#left{border-right: 50px solid white;left:-20px}
#right{border-left: 50px solid white;right:-20px}
#left:hover{border-right: 50px solid rgb(255, 177, 66)}
#right:hover{border-left: 50px solid rgb(255, 177, 66)}
#clear{
  position: fixed;
  top: 50px;
  left: 50px;
  color: white;
  border: 3px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease-in-out;
}
#clear:hover{color: rgb(255, 177, 66);border-color: rgb(255, 177, 66)}
#clear i {font-size: 40px}
#edit{
  position: absolute;
  top: 40px;
  z-index: 3;
}
#edit[value~='1']{
  position: fixed;
  background: linear-gradient(rgb(241, 130, 130),rgb(203, 61, 61))
}
.edit{
  animation-name: jump;
  animation-duration: .2s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  25%{transform: rotate(1deg);}
  75%{transform: rotate(-1deg);}
}
@media screen and (max-width: 768px) {
  .display .subclass span{font-size: 16}
}
