.page_2{height: 100%;overflow-y: scroll;}
.page_2::-webkit-scrollbar{width: 0}
.animate_cat{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: none;
  align-items: flex-end;
}
.glyphicon-refresh,
.glyphicon-shopping-cart{
  top: 140px;
  position: relative;
  right: -167px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  background: linear-gradient(rgb(233, 197, 40), rgb(208, 141, 12));
  border: 3px solid;
}
.glyphicon-shopping-cart{
  top: 30px;
  right: -134px;
}
.compare_panel{
  position: fixed;
  height: 0px;
  width: 100px;
  background-color: rgba(0,0,0,.7);
  Z-INDEX: 99;
  display: flex;
  flex-direction: column;
  color: white;
  transition: .4s ease-in-out;
  justify-content: center;
  overflow: hidden;
}
.compare_panel span{
  font-size: 20px;
  text-align: center;
  padding:0 10px;
  cursor: pointer;
}
.compare_panel span:hover{
  color: rgb(222, 175, 77)
}
.compareTarget_child{
  display: flex;
  font-size: 20px;
  align-items: center;
  transition: .2s ease-in-out
}
.compareTarget_child:hover{color:rgb(232, 84, 84)}
.compareTarget_holder{
  position: fixed;
  top: 0px;
  left:-180;
  width: 180px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.64) ;
  padding: 10px;
  z-index: 6;
  transition: .8s ease-in-out;
  overflow-y: scroll;
  padding-top: 60px
}
.compareTarget{
  flex-direction: column;
  display: flex;
  min-height: 100%
}
#compare_panel_BG{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
  display: none;
}
#char span[id~='type'],
#char span[id~='color']{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
#condition span{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
#condition img{
  width: 30px;
  margin: 5px;
}
#color{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.select_color .button[name~='對紅色'][value~='1'],
.select_color .button[name~='紅色敵人'][value~='1']
{background:linear-gradient(rgb(246, 134, 112), rgb(199, 65, 39))}
.select_color .button[name~='對漂浮'][value~='1'],
.select_color .button[name~='漂浮敵人'][value~='1']
{background:linear-gradient(rgb(180, 212, 73), rgb(98, 139, 60))}
.select_color .button[name~='對黑色'][value~='1'],
.select_color .button[name~='黑色敵人'][value~='1']
{background:linear-gradient(rgb(62, 62, 62), rgb(42, 42, 42))}
.select_color .button[name~='對鋼鐵'][value~='1'],
.select_color .button[name~='鋼鐵敵人'][value~='1']
{background:linear-gradient(rgb(219, 219, 219),rgb(156, 156, 156))}
.select_color .button[name~='對天使'][value~='1'],
.select_color .button[name~='天使敵人'][value~='1']
{background:linear-gradient(rgb(224, 213, 111), rgb(207, 198, 78))}
.select_color .button[name~='對外星'][value~='1'],
.select_color .button[name~='外星敵人'][value~='1']
{background:linear-gradient(rgb(111, 224, 218), rgb(57, 184, 176))}
.select_color .button[name~='對不死'][value~='1'],
.select_color .button[name~='不死敵人'][value~='1']
{background:linear-gradient(rgb(201, 117, 236), rgb(141, 47, 161))}
.select_color .button[name~='對古代'][value~='1'],
.select_color .button[name~='古代種'][value~='1']
{background:linear-gradient(rgb(91, 134, 15), rgb(82, 87, 7))}
.ability_icon{
  width: 30px;
  height: 30px;
  background-size: cover;
  background-color: rgba(0,0,0,.6);
  background-blend-mode: multiply;
}
.ability_tip{width: 200px;text-align: center;}
.compareSorce td{
  cursor: pointer;
  font-weight: bold;
}
.compareSorce td:hover{color: rgb(246, 159, 63)}
.compareSorce td i{
  font-size: 20px;
  padding-left: 5px;
}
.card-group{
  margin: 0 8px;
  transition: .3s ease-in-out;
}
.search_type{
  width: 100%;
  display: flex;
}
#mark_own[value~='0']{color:rgb(224, 103, 103)}
#mark_own[value~='1']{color:rgb(96, 176, 37)}
.survey #nickname{display: flex;text-align: center;}
.survey #nickname span,
.survey #nickname div,
{
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.survey #nickname div{
  border-bottom: 1px solid gray;
  flex:3;

}
.survey #add_nick,
.survey #confirm_nick,
.survey #cancel_nick{
  border: 1px solid gray;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
  transition: .4s ease-in-out
}
.survey #add_nick:hover,
.survey #confirm_nick:hover,
.survey #cancel_nick:hover{background-color: rgb(180, 180, 180)}

.survey input{
  border: 0;
  border-bottom: 1px solid rgb(39, 11, 93);
  background-color: transparent;
  width: 90%;
}
.survey textarea{
  background-color: rgba(255,255,255,.4);
  border: 2px solid rgb(237, 137, 33);
  font-size: 16px;
}
.survey #rank span i,
.rank_respec span i
{cursor: pointer;color:rgba(170, 170, 170, 0.89)}
.survey #rank span i[value~='1'],
.rank_respec span i[value~='1']
{color: rgb(235, 209, 68);}
#rank_detail .detail{
  width: 95%;
  display: flex;
  margin: 3px 0;
}
#rank_detail .detail div{flex: 3;display: flex;}
#rank_detail .detail div .num{font-size: 14px}
#rank_detail .detail div .char{
  width: 100%;
  margin:0 5px;
  transition: .4s ease-in-out;
}
.application i{cursor: pointer;}
.bulletin{
  position: fixed;
  bottom: 0;
  background-color: black;
  padding: 3px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  min-width: 1000px;
  z-index: 9
}
.display{
  position: relative;top:-300px
}
#combo_head i,#survey_head i,#comment_head i{
  font-size: 16px;
  transform: rotate(-90deg);
  transition: .2s ease-in-out
}
.comment_input {
  display: flex;
  align-items: center;
}
.comment_input textarea,
.bubble textarea{
  flex: 3;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px 20px;
  height: 35px;
  overflow: hidden;
  resize: none;
}
.comment_input textarea::selection{
  background-color: rgb(255, 153, 0);
  color: rgb(64, 228, 152)
}
.comment_input i{
  color: #18669e;
  cursor: pointer;
  margin: 0 10px;
  font-size: 30px;
  transition: .3s ease-in-out;
}
.comment_input i:hover{color:#189e62;}
.comment_content{
  display: flex;
  align-items: center;
  position: relative;
}
.comment_content .photo{
  background-image: url('/public/css/footage/cat/u001-1.png');
  width: 75px;
  height: 75px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 3px 9px 1px grey;
  margin: 10px 20px;
}
.comment_content .name{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.61);
  margin: 0 20px;
  bottom: 0;
  color: white;
  padding: 3px 5px;
}
.comment_content div{
  display: flex;
  flex-direction: column;
}
.comment_content div .function{
  display: flex;
  font-size: 14px;
  padding: 4px;
  align-items: center;
  color: gray;
  font-weight: bold;
}
.comment_content div .bubble{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 11px 3px grey;
  text-align: left;
}
.function .time{margin-right: 10px}
.function .like i{
  margin: 3px;
  cursor: pointer;
  transition: .3s ease
}
.function .like span{margin: 3px}
.function .like i:hover,
.function .like i[value~='1']
{color: rgb(251, 146, 60)}

.compareSorce #query{
  width: 100%;
  background-color: rgba(255,255,255,.7);
  padding: 3 20;
  display: flex;
  justify-content: flex-end;
}
.compareSorce #query span{
  border: 1px solid;
  padding: 1 5;
  margin: 3 5;
  border-radius: 20px;
  background: gainsboro;
}
#zoomImg{
  position:fixed;
  background-color:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 0%;
  top: 0;
  z-index: 3;
  transition: .4s ease-in-out
}
#zoomImg img{ width: 60% }
#more_option i::before{
  top:30%;
  left:125%;
  text-align: left;
}
.editable{cursor: text;}
.select_ability .smallicon{
  padding:0;
  border-radius:7;
  overflow:hidden
}
.select_ability .smallicon span{display: none;}
.select_ability .smallicon i{width: 40;height: 40}
@keyframes rotate {
  0%{transform:rotate(0deg);}
  50%{transform:rotate(720deg);}
  100%{transform:rotate(360deg);}
}

@keyframes scrolling {
  0%{left:1000px}
  50%{left:0px}
  100%{left:-1000px}
}
.dataTable #title{
  display: flex;
  height: 120px;
}
.dataTable #title .img{
      padding: 0px;
      background-size: cover;
      width: 100;
      height: 100;
      margin: 10;
      border-radius: 50%;
      box-shadow: 1px 1px 10px 0px;
      border: 3px solid white;
      cursor: pointer;
      transition: .3s ease
}
.dataTable #title .img[active~='1']{
  width: 180px;
  border-radius: 10px;
}
.dataTable #title .name{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  transition: .3s ease;
  pointer-events: none;
}
.dataTable #title .name[active~='0']{
  flex: 0;
  color: transparent
}
.surveyTable{
  width: calc(100% - 6px);
  font-size: 16;
}
.surveyTable .survey{
  display: flex;
  width: 100%;
}
.surveyTable .th{
  background-color: #e9d6ad;
  font-weight: bold;
  margin: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5
}
.surveyTable .td{
  background-color: rgba(255,255,255,.9);
  padding: 5;
  margin: 1.5;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rank_detail{display: block}
.surveyTable .rank_holder{
  display: flex;
  width: 100%
}
.surveyTable .rank_holder div{
  flex:1;
  text-align: center;
  border-bottom: 1px dashed lightgray;
  margin: 1.5;
}
.surveyTable .pos_holder{
  flex:1;
  margin: 2;
  border: 1px dashed lightgray;
  text-align: center;
  position: relative;
}
.surveyTable .pos_holder .describe{
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  background-color: black;
  color: white;
  padding: 5;
  border-radius: 10px;
  z-index: 3;
}
.surveyTable .pos_holder .describe:after{
  content: "";
  width: 20;
  height: 20;
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}
.surveyTable .pos_holder:hover .describe{display: flex}
@media screen and (max-width: 425px) {
  .dataTable #title .img{ width: 50px; height: 50px; }
  .dataTable #title .img[active='1']{ width: 90px}
  .dataTable #title .name{ font-size: 14}
  .dataTable #title {height: 60}
  .survey{flex-direction: column;}
  .survey:first-of-type{height: 100}
  .survey:nth-of-type(2n){height: 300}
  .survey:nth-of-type(3n){height: 400}
  .survey:last-of-type{height: 150}
}
