.chooser table{
  display: none;
  transition: .3s ease;
  overflow: hidden;
}
.valueTabke tr td:first-of-type{min-width: 30vw;padding: 20 10;}
.filter_option[active='0']{
  background-color: rgba(129, 115, 92,.93);
  color: lightgray
}
.chooser table[active='1']{ display: flex; }
.valueTable tr td:first-of-type{width: 200px}
.chooser .content{display: none;}
.chooser .normalTable[active='1'] ~ .content,
.chooser .gachaTable[active='1'] ~ .content,
.chooser .valueTable[active='1'] ~ .content
{display: flex;}
.resultTable th{width: 100vw}
.resultTable .title{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.resultTable #query{
  display: flex;
  justify-content: flex-end;
}
.resultTable #query span{
  border: 1px solid;
  padding: 1 5;
  margin: 3 5;
  border-radius: 20px;
}
.resultTable #query span:hover,
.resultTable #query span[active='1']
{background-color: var(--lightred)}
#selected>div{
  width: 100%;
  display: flex;
  min-height: 120;
  background-color: rgba(255,255,255,.5);cursor: pointer;}
#selected>div:nth-of-type(2n){background-color: rgba(200,200,200,.5) }
#selected>div:hover{background-color: rgba(150,150,150,.5) }
#selected>div .img[active='0'],
#selected>div .name[active='0'],
#selected>div .optional[active='0']
{ display: none;}
#selected>div .function{
  align-items: center;
  padding-right: 20;
  justify-content: center;
}
#selected[view_mode='card'] {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#selected[view_mode='card']>div{
  width: 180px;
  flex-direction: column;
  margin: 10;
  border-radius: 10px;
  align-items: center;
}
#selected[view_mode='card']>div .img {
    width: 80%;
    border-radius: 10px;
    min-height: 120px;
}
#selected[view_mode='card']>div .name {padding: 0 5 }
#selected[view_mode='card']>div .function {padding-right: 0 }


.glyphicon-refresh,
.glyphicon-shopping-cart{
  top: 140px;
  position: relative;
  right: -167px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  background: linear-gradient(rgb(233, 197, 40), rgb(208, 141, 12));
  border: 3px solid;
}
.glyphicon-shopping-cart{
  top: 30px;
  right: -134px;
}
.compare_panel{
  position: fixed;
  height: 0px;
  width: 100px;
  background-color: rgba(0,0,0,.7);
  Z-INDEX: 99;
  display: flex;
  flex-direction: column;
  color: white;
  transition: .4s ease-in-out;
  justify-content: center;
  overflow: hidden;
}
.compare_panel span{
  font-size: 20px;
  text-align: center;
  padding:0 10px;
  cursor: pointer;
}
.compare_panel span:hover{
  color: rgb(222, 175, 77)
}
.compareTarget_child{
  display: flex;
  font-size: 20px;
  align-items: center;
  transition: .2s ease-in-out
}
.compareTarget_child:hover{color:rgb(232, 84, 84)}
.compareTarget{
  flex-direction: column;
  display: flex;
  min-height: 100%;
  align-items: center;
}
#compare_panel_BG{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
  display: none;
}
#char span[id~='type'],
#char span[id~='color'],
#color,
#condition span{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
#condition img{
  width: 30px;
  margin: 5px;
}
.comboPic .card{
  width: 90;
  height: 60;
  box-shadow: 0px 0px 10px black;
  border: 3px solid;
}
.comboPic .card::after{display: none;}
.select_color .button[name~='對紅色'][value~='1'],
.select_color .button[name~='紅色敵人'][value~='1']
{background:linear-gradient(rgb(246, 134, 112), rgb(199, 65, 39))}
.select_color .button[name~='對漂浮'][value~='1'],
.select_color .button[name~='漂浮敵人'][value~='1']
{background:linear-gradient(rgb(180, 212, 73), rgb(98, 139, 60))}
.select_color .button[name~='對黑色'][value~='1'],
.select_color .button[name~='黑色敵人'][value~='1']
{background:linear-gradient(rgb(62, 62, 62), rgb(42, 42, 42))}
.select_color .button[name~='對鋼鐵'][value~='1'],
.select_color .button[name~='鋼鐵敵人'][value~='1']
{background:linear-gradient(rgb(219, 219, 219),rgb(156, 156, 156))}
.select_color .button[name~='對天使'][value~='1'],
.select_color .button[name~='天使敵人'][value~='1']
{background:linear-gradient(rgb(224, 213, 111), rgb(207, 198, 78))}
.select_color .button[name~='對外星'][value~='1'],
.select_color .button[name~='外星敵人'][value~='1']
{background:linear-gradient(rgb(111, 224, 218), rgb(57, 184, 176))}
.select_color .button[name~='對不死'][value~='1'],
.select_color .button[name~='不死敵人'][value~='1']
{background:linear-gradient(rgb(201, 117, 236), rgb(141, 47, 161))}
.select_color .button[name~='對古代'][value~='1'],
.select_color .button[name~='古代種'][value~='1']
{background:linear-gradient(rgb(91, 134, 15), rgb(82, 87, 7))}
.ability_icon{
  width: 30px;
  height: 30px;
  background-size: cover;
  filter: brightness(.5);
  transition: .3s ease;
}
.ability_tip{width: 200px;text-align: center;}
#selected{
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  transition: .3s ease-in-out;
}
.card-group{
  margin: 0 8px;
  transition: .3s ease-in-out;
}
.search_type{
  width: 100%;
  display: flex;
}
#pre_sel_pg,#next_sel_pg{ margin: 0 20px; }
.button_group{
  width:100%;
  justify-content: center;
}
#mark_own[value~='0']{color:rgb(224, 103, 103)}
#mark_own[value~='1']{color:rgb(96, 176, 37)}
.survey #nickname{display: flex;text-align: center;}
.survey #nickname div {
  display: flex;
  justify-content: center;
  flex:3;
  flex-wrap: wrap;
}
.survey #nickname>div>span{
   margin: 3;
   border: 1px solid gray;
   padding: 0 7px;
   border-radius: 20px;
}
.survey #nickname .panel span{ padding: 0 10 }
.survey #nickname i{
  border: 1px solid gray;
  cursor: pointer;
  margin: 2px;
  border-radius: 50%;
  transition: .3s ease-in-out
}
.survey #nickname i:hover,
.survey #nickname div span:hover{background-color: #b4b4b4}

.survey input{
  border: 0;
  border-bottom: 1px solid rgb(39, 11, 93);
  background-color: transparent;
  width: 90%;
}
.survey textarea{
  background-color: rgba(255,255,255,.4);
  border: 2px solid rgb(237, 137, 33);
  font-size: 16px;
}
.survey #rank span i,
.rank_respec span i
{cursor: pointer;color:rgba(170, 170, 170, 0.89)}
.survey #rank span i[value~='1'],
.rank_respec span i[value~='1']
{color: rgb(235, 209, 68);}
#rank_detail .detail{
  width: 95%;
  display: flex;
  margin: 3px 0;
}
#rank_detail .detail div{flex: 3;display: flex;}
#rank_detail .detail div .num{font-size: 14px}
#rank_detail .detail div .char{
  width: 100%;
  margin:0 5px;
  border-radius: 0px 10px 10px 0px;
  transition: .4s ease-in-out;
}
.application i{cursor: pointer;}
.bulletin{
  position: fixed;
  bottom: 0;
  background-color: black;
  padding: 3px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  min-width: 1000px;
  z-index: 9
}
#combo_head i,#survey_head i,#comment_head i{
  font-size: 16px;
  transform: rotate(-90deg);
  transition: .2s ease-in-out
}
#more_option i::before{
  top:30%;
  left:125%;
  text-align: left;
}
.editable{cursor: text;}
.select_ability .smallicon{
  padding:0;
  border-radius:7;
  overflow:hidden
}
.select_ability .smallicon span{display: none;}
.select_ability .smallicon i{width: 40;height: 40}
@keyframes rotate {
  0%{transform:rotate(0deg);}
  50%{transform:rotate(720deg);}
  100%{transform:rotate(360deg);}
}

@keyframes scrolling {
  0%{left:1000px}
  50%{left:0px}
  100%{left:-1000px}
}
.dataTable #title{
  display: flex;
  height: 120px;
}
.dataTable #title .img,
#selected>div .img{
    padding: 0px;
    background-size: cover;
    width: 100;
    height: 100;
    margin: 10;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0px;
    border: 3px solid white;
    cursor: pointer;
    transition: .3s ease
}
.dataTable #title .img[active~='1'] {
  width: 180px;
  border-radius: 10px;
}
.dataTable #title .name,
#selected>div .optional,
#selected>div .name {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  transition: .3s ease;
  pointer-events: none;
}
.dataTable #title .name[active~='0'] {
  flex: 0;
  color: transparent
}
.surveyTable{
  width: calc(100% - 4px);
  font-size: 16;
}
.surveyTable .survey{
  display: flex;
  width: 100%;
}
.surveyTable .th,
.surveyTable .td{
  background-color: var(--lightorange);
  font-weight: bold;
  margin: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5;
  border-radius: 5px;
}
.surveyTable .td{
  background-color : white;
  flex:1;
  font-weight: normal;
}
#rank_detail{display: block}
.surveyTable .rank_holder{
  display: flex;
  width: 100%
}
.surveyTable .rank_holder div{
  flex:1;
  text-align: center;
  border-bottom: 1px dashed lightgray;
  margin: 1.5;
}
.surveyTable .pos_holder{
  flex:1;
  margin: 2;
  border: 1px dashed lightgray;
  text-align: center;
  position: relative;
}
.surveyTable .pos_holder .describe{
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  background-color: black;
  color: white;
  padding: 5;
  border-radius: 10px;
  z-index: 3;
}
.surveyTable .pos_holder .describe:after{
  content: "";
  width: 20;
  height: 20;
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}
/* .surveyTable .pos_holder:hover .describe{display: flex} */

.displayControl[float='true'] .data #img,
.displayControl[float='true'] .data #name,
.displayControl[float='true'] .position
{display: flex;}
.displayControl .data #img{
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 50%;
  margin: 0 5;
  border: 1px solid;
}
.displayControl .data #rarity{
  border: 1px solid;
  border-radius: 20px;
}
.displayControl .data #img,
.displayControl .data #name
{display: none;}
.instinctTable tr th:first-child{text-align: left;}
.instinctTable tr:first-of-type th{text-align: center;}

@media screen and (max-width: 425px) {
  .survey{flex-direction: column;}
  #selected>div .optional{display: none;}
  #selected>div .img{width: 80;height: 80}
}
