.compareTable{display: flex;}
.best{
  color:rgb(247, 175, 67);
  font-weight: bolder;
}
.compareDisplay{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 70px;
  overflow: scroll;
}
.compareDisplay::-webkit-scrollbar {width: 0}
.compareTable{
  transform-origin: 0% 0%;
  transition: .4s ease-in-out;
}
.comparedataholder{
  display: flex;
  flex: 3;
  width: 90%;
}
.side_bar{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.floatbutton {
  position: relative;
  width: 48px;
  height: 48px;
  right: -100;
  top: 0;
}
#snapshot{position: relative;right: -100}
.comparedatahead{padding-top: 2px;position: sticky;left: 0}
#level{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}
#level span{flex: 3}
#level i{transition: .6s ease-in-out;cursor: pointer;}
#level i:hover{
  background-color: rgba(200,200,200,.7);
  border-radius: 50%
}
.panel{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 0;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  padding: 0px 10px;
  transition: .4s ease-in-out;
  color: white;
  overflow: hidden;
  justify-content: space-around;
  border: 0;
}
#tutorial{
  position: fixed;
  top: 0;
  width: 80%;
  margin: 50 10%;
  padding: 3%;
  background: rgba(255,255,255,.9);
  box-shadow: 0px 5px 10px 3px;
  border-radius: 30px;
  display: none;
}
#tutorial p,#tutorial li{font-size: 16;font-weight: bold;}
.panel span{cursor: pointer;display: flex;justify-content: space-around;}
.panel span:hover{color: rgb(233, 138, 27);font-weight: bold;}
.panel span span:hover{color: rgb(27, 134, 233);font-weight: bold;}

.comparedatahead tr[reverse='decrease'] th{border-left:5px solid #3bb8f6;}
.comparedatahead tr[reverse='increase'] th{border-left:5px solid #f6843b;}
.table_head{
  position: sticky;
  top: 30;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.display::-webkit-scrollbar { width: 8px; }
.display::-webkit-scrollbar-track { background-color: rgba(255,255,255,.3)}
.display::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
  border-radius: 4px;
}
.display{
  padding: 0;
  padding-top: 10;
  width: 100%;
  overflow: scroll;
  background-color: rgba(255,255,255,.5);
  height: calc(100% - 150px);
  justify-content: flex-start;
  align-items: flex-start;
}
.display table{min-width: 100%;width: auto;}
.display thead div{min-width: 80px}
.display thead {position: sticky;top: 0}
.control{
  background-color: rgba(255,255,255,.8);
  box-shadow: 0px 1px 10px 0px gray;
  width: 100%;
  height: 150;
}
.swapper{
  cursor: pointer;
  padding: 20 10 10 10;
  display: flex;
  position: relative;
}
.control h1{font-size: 30;margin: 0 50}
.control .swapper .icon{
  width: 20;
  height: 20;
  position: absolute;
  bottom: 10;
  box-shadow: 1px 1px 10px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  transition: .3s ease;
}
.control .swapper .icon[active='1']{
  background-color: orange;
  width: 40;
  z-index: 1;
  height: 40;
}
.table_body{min-height: 100%;width: 100%;padding-top: 50px}
.header{
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
}
.display .picture,.display #picture{min-width: 120px}
.display[displayType='cat'] *[enemyonly],
.display[displayType='enemy'] *[catonly]
{display: none ;}
