.compareTable{display: flex;}
.best{
  color:rgb(247, 175, 67);
  font-weight: bolder;
}
.compareDisplay{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 70px;
  overflow: scroll;
}
.compareDisplay::-webkit-scrollbar {width: 0}
.compareTable{
  transform-origin: 0% 0%;
  transition: .4s ease-in-out;
}
.comparedataholder{
  display: flex;
  flex: 3;
  width: 90%;
}
.comparedata{max-width: 250px}
.side_bar{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.floatbutton {
  position: relative;
  width: 48px;
  height: 48px;
  right: -100;
  top: 0;
}
#snapshot{position: relative;right: -100}
.comparedatahead{padding-top: 2px}
#level{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}
#level span{flex: 3}
#level i{transition: .6s ease-in-out;cursor: pointer;}
#level i:hover{
  background-color: rgba(200,200,200,.7);
  border-radius: 50%
}
.panel{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 0;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  padding: 0px 10px;
  transition: .4s ease-in-out;
  color: white;
  overflow: hidden;
  justify-content: space-around;
  border: 0;
}
#tutorial{
  position: fixed;
  top: 0;
  width: 80%;
  margin: 50 10%;
  padding: 3%;
  background: rgba(255,255,255,.9);
  box-shadow: 0px 5px 10px 3px;
  border-radius: 30px;
  display: none;
}
#tutorial p,#tutorial li{font-size: 16;font-weight: bold;}
.panel span{cursor: pointer;display: flex;justify-content: space-around;}
.panel span:hover{color: rgb(233, 138, 27);font-weight: bold;}
.panel span span:hover{color: rgb(27, 134, 233);font-weight: bold;}

.comparedatahead tr[reverse='increase'] th{border-left:5px solid #3bb8f6;}
.comparedatahead tr[reverse='decrease'] th{border-left:5px solid #f6843b;}
