body,html{
  margin: 0;
  height: 100%;
  font-family: Microsoft JhengHei;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  cursor: default;
}
.iframe_holder{
  display: flex;
  width: 300%;
  position: relative;
  left: -100%;
  transition: .8s ease-in-out
}
.view{overflow: hidden;}
#left,#right{
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: fixed;
  top: 50%;
  border: 50px solid transparent;
  transition: .2s ease-in-out;
  cursor: pointer;
}
#left{border-right: 50px solid white;left:-20px}
#right{border-left: 50px solid white;right:-20px}
#left:hover{border-right: 50px solid rgb(255, 177, 66)}
#right:hover{border-left: 50px solid rgb(255, 177, 66)}
#date{
  width: 50%;
  height: 100px;
  position: fixed;
  top: 50%;
  background-color: rgba(255,255,255,.8);
  text-align: center;
  margin: 0 25%;
  border-radius: 20px;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  display: none;
}
@media screen and (max-width: 768px){
  #left,#right{
    width: 50px;
    height: 50px;
    border: 25px solid transparent;
  }
  #left{border-right: 25px solid rgb(255, 177, 66);left:-10px}
  #right{border-left: 25px solid rgb(255, 177, 66);right:-10px}
  #left:hover{border-right: 25px solid rgb(255, 177, 66)}
  #right:hover{border-left: 25px solid rgb(255, 177, 66)}
  #date{
    width: 70%;
    margin: 0 15%;
    font-size: 30px;
    height: 70px;
    padding: 10px;
  }
}
