.iframe_holder{
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}
.iframe_holder iframe{
  width: 100%;
  height:100%;
  transition: .4s ease-in-out;
  position: absolute;
  right: -100%;
}
.view{overflow: hidden;}
.calendar_holder,.prediction_holder{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.83);
  z-index: 4;
}
.prediction_holder{
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
}
.prediction_holder table {width: auto}
.prediction_holder::-webkit-scrollbar { width: 0; }
.prediction_holder h6{
  font-size: 16px;
  color: white;
  margin: 20px 0;
  width: 100%;
  text-align: right;
}
#calendar .event{
  background-color: rgba(238, 172, 24, 0.9);
  font-weight: bold;
  cursor: pointer;
}
#calendar{max-width: 500px}
#calendar th{
  width: 70px;
  height: 40px;
}
#prediction td{
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
#prediction .today{background-color: rgba(255, 102, 102);}
#prediction{transform-origin: left;}
.prediction_holder .hightlight{
  position: absolute;
  background-color: rgba(0,0,0,.3);
  border: 3px solid #e7b037;
  transform-origin: left;
}
#function_tag{
  position: absolute;
  flex-direction: column;
  align-items: center;
  display: flex;
  bottom: 10%;
  z-index: 3;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35)
}
#function_tag i::before{color: white}
