html,body{overflow: hidden;}
.login_box{
  position: relative;
  top: 40%;
  left: 40%;
  width: 20%;
  background-color: rgba(252, 218, 170, 0.84);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.login_box span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 30px 10px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  background-color: rgba(77, 74, 62, 0.7)
}
.login_box span:hover{background-color: rgba(79, 98, 101, 0.7)}
#login h4{
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 40%;
    font-size: 30px;
}
.head{
  background-image: url('https://lh3.googleusercontent.com/Oa9xD1RgEHQ6uugm0HRD3m1Rz5P2XPT9ENz_gLhR_Oy6-r4VaRZqB1VlZtbnptOdfT4=h900');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode:  multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}
#iframe_holder{
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  left: 0;
  top: 100%;
  position: absolute;
  transition: .3s ease-in-out;
  z-index: 10;
}
iframe{
  transition: .4s ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
}
iframe[active='true']{ top:0; }
#iframe_holder[active='true']{ top:0; }
#iframe_holder[active='alt-tab']{
  background: rgba(0,0,0,.5);
  display: flex;
  flex-wrap: wrap;
  top: 0;
}
#iframe_holder[active='alt-tab'] iframe{
  transform: scale(.5);
  position: relative;
  top: 0;
  pointer-events: none;
}
#iframe_holder[active='alt-tab'] iframe[active='true']{
  border: 5px solid #fcbf2c;
  transform: scale(.512);
}
#iframe_holder .nameHolder{
  position: absolute;
  width: 100%;
  height: 50;
  top: calc(50% - 40px);
  background: rgba(0,0,0,.7);
  display: flex;
  font-size: 40;
  justify-content: center;
  align-items: center;
  color: white;
}
nav a{cursor: pointer;}
#support{background: linear-gradient(rgb(156, 237, 109),rgb(22, 159, 68))}
#nottoday{background: linear-gradient(rgb(164, 164, 164),rgb(108, 108, 108))}

#bulletin{
  height: calc(100% + 10px);
  overflow-y: scroll;
}
#bulletin::-webkit-scrollbar {width: 0}
#bulletin .main{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 3% 5%;
  font-size: 16px;
}
#bulletin .main:nth-child(2n+1){
  background-color: rgba(250,250,250,.9);
  color: black;
}
#bulletin .main:nth-child(2n){
  background-color: rgba(10,10,10,.9);
  color:white;
}
#bulletin .main:first-child{ background-color: transparent; }
#bulletin .main:last-child{margin-bottom: 50px}
#bulletin .main h2{text-align: center;font-weight: bold;margin: 20 0}
#bulletin .main>div{
  display:flex;
}
#bulletin .main .article{
  flex: 1;
  padding: 15px;
  line-height: 2;
  font-weight: 100;
}
#bulletin .main th{background-color: rgba(242, 213, 167, 0.93);}
#bulletin .main td{background-color: rgba(200, 200, 200, 0.93);}
#bulletin .main .eventTableHolder{
  width:100%;
  overflow-x: auto;
}
#bulletin .main .eventTableHolder table{width: auto;display: none;}
#bulletin .main .eventTableHolder::-webkit-scrollbar {width: 0}
#event_iframe,#alt_text{
  top: 0;
  position: relative;
  right: 0;
  height: 60%;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px grey;
}
#alt_text{
  overflow-y: scroll;
  padding:0 20;
  background-color:white;
  color:black;
}
#bulletin .main:nth-child(2n+1) #alt_text{
  background-color: black;
  color: white;
}
#alt_text h3{
  background-color: gray;
  padding: 5;
}
#eventTableScroll_L,#eventTableScroll_R{
  position: absolute;
  top: 50%;
  left: 50px;
  opacity: .5;
  padding: 20;
  cursor: pointer;
}
#eventTableScroll_L:hover,#eventTableScroll_R:hover{opacity: 1;text-shadow: 0px 0px 10px black;}
#eventTableScroll_R{left:calc(90% - 20px)}
.contact_block{
  display: flex;
  flex-direction: column;
  margin: 0 20;
  padding: 10;
  align-items: center;
  color: white;
  border: 1px dashed transparent;
}
.contact_block:hover{
  text-decoration: none;
  color:white;
  border-color: white;
}
.contact_block img{
  width: 100;
  height: 100
}
.contact_block b{ text-decoration: underline;}
#bulletin .main:nth-child(2n+1) .contact_block{color: black}
#bulletin .main:nth-child(2n+1) .contact_block:hover{color: black}
#event_date{margin-bottom: 10px }

#expandContent{
  position: absolute;
  bottom: 20px;
  color: white;
  left: calc(50% - 50px);
  opacity: 0.5;
  cursor: pointer;
  transform:translateY(40px);
}
#expandContent:hover{
  opacity: .7;
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: 3
}

.new::after{
  content: "NEW";
  font-size: 10px;
  position: relative;
  top: -10px;
  animation-name: blink;
  animation-duration: .5s ;
  animation-iteration-count: infinite;
}
.content{
  justify-content: flex-start;
  height: 100%;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {width: 0}
.LegendCardholder{
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 600;
  align-items: flex-start;
}
.LegendCard{
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 5px;
  border: 2px dashed;
  border-radius: 10px;
  position: relative;
}
.LegendCard img{width: 100%}
.LegendCard span{
    font-weight: bold;
    margin: 3 5;
    border-bottom: 1px solid lightgray;
}
.LegendCard span:first-of-type{text-align: center;}
.LegendCard span:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0
}
.LegendCard span:last-child:hover{color: rgb(231, 167, 87)}
.LegendCard::before,.LegendCard::after{
  content: '';
  position: absolute;
  top: -10;
  left: -10;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #c6c6c6;
  border-top: 10px solid transparent;
  transform: matrix(1,-0.3,0,1.4,0,0);
  box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.8)
}
.LegendCard::after{
  left: 10;
  transform: matrix(1,0.3,0,1.4,0,0);
}
.LegendCard:first-of-type::before,
.LegendCard:first-of-type::after{border-color: #eec336;border-top: 10px solid transparent;}
.LegendCard:last-of-type::before,
.LegendCard:last-of-type::after{border-color: #c37c12;border-top: 10px solid transparent;}
.LegendCard span[enemy]{cursor: pointer;text-align: center;}
.LegendCard span[enemy]:hover{color: orange}
#LegendRedirect{
  margin-top:10;
  justify-content: flex-end;
  color:#2a7fad;
  font-weight: bold;
  cursor: pointer;
  font-size: 20
}
#LegendRedirect span:hover{color: #642c88}
#onLineUser,#Version_display{
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 10;
  font-weight: bold;
  font-size: 20px;
  z-index: 0;
}
#Version_display{left:0}
#levelBoard{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.4);
}
#levelBoard div{
  max-width: 75%;
  min-width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255,255,255,.9);
  padding: 20;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.stageBG{width:100%;height:90px;background-size:cover}
#newEvent{
  display: flex;
  font-size: 20;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}
