#login,#version_alert{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}
html,body{overflow: hidden;}
.login_box{
  position: relative;
  top: 40%;
  left: 40%;
  width: 20%;
  background-color: rgba(252, 218, 170, 0.84);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
#fb_login,#guest_login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 30px 10px;
  cursor: pointer;
  color: white;
  border: 3px solid white;
}
#fb_login{background-color: rgb(81, 122, 237)}
#guest_login{background-color: rgb(189, 189, 189)}
#login h4{
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 40%;
    font-size: 30px;
}
.head{
  background-image: url('https://lh3.googleusercontent.com/Oa9xD1RgEHQ6uugm0HRD3m1Rz5P2XPT9ENz_gLhR_Oy6-r4VaRZqB1VlZtbnptOdfT4=h900');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode:  multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.widget_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget{
  background-color: rgba(255,255,255,.8);
  border: 6px solid white;
  border-radius: 6px;
  padding: 2%;
  margin: 3%;
}
#iframe_holder{
  width: 100%;
  height: 100%;
  overflow: hidden;
  right: -100%;
  top: 0;
  position: absolute;
  transition: .3s ease-in-out
}
iframe{
  transition: .4s ease-in-out;
  position: absolute;
  top: 0;
  right: -100%;
}
iframe[active='true']{ right:0%; }
#iframe_holder[active='true']{ right:0%; }
#iframe_holder[active='alt-tab']{
  background: rgba(0,0,0,.5);
  display: flex;
  flex-wrap: wrap;
  right: 0;
}
#iframe_holder[active='alt-tab'] iframe{
  transform: scale(.5);
  position: relative;
  right: 0;
  pointer-events: none;
}
#iframe_holder[active='alt-tab'] iframe[active='true']{
  border: 5px solid #fcbf2c;
  transform: scale(.512);
}
#iframe_holder .nameHolder{
  position: absolute;
  width: 100%;
  height: 50;
  top: calc(50% - 40px);
  background: rgba(0,0,0,.7);
  display: flex;
  font-size: 40;
  justify-content: center;
  align-items: center;
  color: white;
}
nav a{cursor: pointer;}
#version_alert .content div{
  margin: 2%;
  padding: 2%;
  font-size: 20px;
  width: 50%;
  background-color: rgba(255,255,255,.8);
  font-weight: bold;
  border-radius: 10px;
}
#version_alert span{
  margin: 0 5;
  color: #f45f5f;
}
#version_alert #version_new{color:#37bf72}
#countDown{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30;
  margin: 10;
}
#support{background: linear-gradient(rgb(156, 237, 109),rgb(22, 159, 68))}
#nottoday{background: linear-gradient(rgb(164, 164, 164),rgb(108, 108, 108))}
#bulletin .main{
  width: 60%;
  background-color: rgba(255,255,255,.9);
  padding: 3% 5%;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 5%;
}
#bulletin .main h2{text-align: center;font-weight: bold;}
#year_event{
  width: 100%;
  height: 100%;
  padding: 5% 15%;
  position: fixed;
  top: 0;
  z-index: 2;
  overflow: scroll;
  background-color: rgba(0,0,0,.7)
}

.new::after{
  content: "NEW";
  font-size: 10px;
  position: relative;
  top: -10px;
  animation-name: blink;
  animation-duration: .5s ;
  animation-iteration-count: infinite;
}
.content{
  justify-content: flex-start;
  height: 100%;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {width: 0}
.catCardholder{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.catCard{
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 5px;
  border: 2px dashed;
  border-radius: 10px;
  position: relative;
}
.catCard img{width: 100%}
.catCard span{
    font-weight: bold;
    margin: 3 5;
    border-bottom: 1px solid lightgray;
}
.catCard span:first-of-type{text-align: center;}
.catCard span:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0
}
.catCard span:last-child:hover{color: rgb(231, 167, 87)}
.catCard::before,.catCard::after{
  content: '';
  position: absolute;
  top: -10;
  left: -10;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #c6c6c6;
  border-top: 10px solid transparent;
  transform: matrix(1,-0.3,0,1.4,0,0);
  box-shadow: 4px 3px 3px 0px rgba(0,0,0,0.8)
}
.catCard::after{
  left: 10;
  transform: matrix(1,0.3,0,1.4,0,0);
}
.catCard:first-of-type::before,
.catCard:first-of-type::after{border-color: #eec336;border-top: 10px solid transparent;}
.catCard:last-of-type::before,
.catCard:last-of-type::after{border-color: #c37c12;border-top: 10px solid transparent;}
#goCat{
  margin-top:10;
  text-align:right;
  color:#2a7fad;
  font-weight: bold;
  cursor: pointer;
}
#goCat:hover{color: #642c88}
