#login,#mine_alert{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}
html,body{overflow: hidden;}
.login_box{
  position: relative;
  top: 40%;
  left: 40%;
  width: 20%;
  background-color: rgba(252, 218, 170, 0.84);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
#fb_login,#guest_login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 30px 10px;
  cursor: pointer;
  color: white;
  border: 3px solid white;
}
#fb_login{background-color: rgb(81, 122, 237)}
#guest_login{background-color: rgb(189, 189, 189)}
#login h4{
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 40%;
    font-size: 30px;
}
.head{
  background-image: url('https://lh3.googleusercontent.com/Oa9xD1RgEHQ6uugm0HRD3m1Rz5P2XPT9ENz_gLhR_Oy6-r4VaRZqB1VlZtbnptOdfT4=h900');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode:  multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.widget_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget{
  background-color: rgba(255,255,255,.8);
  border: 6px solid white;
  border-radius: 6px;
  padding: 2%;
  margin: 3%;
}
#iframe_holder{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
iframe{
  transition: .4s ease-in-out;
  position: absolute;
  top: 0;
  right: -100%;
}
nav a{cursor: pointer;}
#mine_alert .content div{
  margin: 2%;
  padding: 2%;
  font-size: 20px;
  width: 50%;
  background-color: rgba(255,255,255,.8);
  font-weight: bold;
  border-radius: 10px;
}
#mine_alert span{
  display: flex;
  width: 50%;
  justify-content: center;
}
#support{background: linear-gradient(rgb(156, 237, 109),rgb(22, 159, 68))}
#nottoday{background: linear-gradient(rgb(164, 164, 164),rgb(108, 108, 108))}
#mine_alert .content .success,
#mine_alert .content .fail,
#mine_alert .content .not_accept,
#mine_alert .content #ok
{display: none;}
#bulletin .main{
  width: 60%;
  background-color: rgba(255,255,255,.9);
  padding: 3% 5%;
  border-radius: 20px;
  font-size: 16px;
}
#bulletin .main h2{text-align: center;font-weight: bold;}
#year_event{
  width: 100%;
  height: 100%;
  padding: 5% 20%;
  position: fixed;
  top: 0;
  z-index: 2;
  overflow: scroll;
  background-color: rgba(0,0,0,.7)
}
#year_event::-webkit-scrollbar {
    width: 0px;
}
#year_event th{background-color: rgba(242, 174, 103, 0.81);color:white}
#year_event td{background-color: rgba(255, 255, 255, 0.81);font-size: 20px}
#year_event::before{
  content:"X";
  position: absolute;
  top: 40px;
  right: 20px;
  color: white;
  font-size: 30px;
}
