.window{
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%
}
.navigation{
  flex:1;
  padding-top: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 10px solid rgb(241, 171, 36);
  background-color: rgba(0,0,0,.3);
}
.screen{
  flex:3;
  overflow-y:hidden;
  height: 101%;
}
.screen::-webkit-scrollbar {
    width: 0px;
}
.tag{
  width: 100%;
  height: 40px;
  padding: 1% ;
  padding-left: 5%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5%;
}
.tagBG{
  width: 100%;
  transform: skewX(140deg);
  background-color: rgba(255,255,255,.7);
  position: relative;
  left: -60%;
  height: 40px;
  transition: .4s ease-in-out;
  box-shadow: 5px 5px 10px black;
}
.text{
  position: absolute;
  z-index: 2;
}
.tag:hover .tagBG,.tag[value~='1'] .tagBG{left: -20%;}
.tag[value~='1'] .tagBG{background-color: rgba(242, 198, 85, 0.85)}
.iframe_box{
  display: flex;
  height: 100%;
  width: 500%;
}
iframe{width: 20%}
.navigation_m{
  width: 100%;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  position: fixed;
  font-weight: bold;
  bottom: 0;
  color: white;
  display: none;
}
.choose{
  background-color: rgba(0, 0, 0, .9);
}
.choose_panel{
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
  height: 0;
  transition: .4s ease-in-out;
  overflow: hidden;
}
.choose_panel span{
  border-bottom: 1px solid lightgray;
}
.choose_panel span[value~='1']{
  color:rgb(222, 181, 38);
}
#keyword{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section{
  width: 80%;
  margin: 3% 10%;
  background-color: rgba(255,255,255,.9);
  border-radius: 20px;
  margin-bottom: 0
}
.section .section_title{
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(255,255,255,.9);
  box-shadow: 0px 4px 12px -2px;
  z-index: 2;
}
.section_title i{
  float:right;
  margin: 8px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.section_title i:hover{background-color: #ebebeb}
.section p{
  width: 100%;
  font-size: 18px;
  margin: 10px 0
}
.section li{font-size: 18px}
.ability_icon{width: 40px;height: 40px}
.select_ability .button{
    padding: 0px;
    border-radius: 7px;
    overflow: hidden;
}
.mobile{display: none;}
.editable{border: 2px solid #f9c237;padding: 2px 5px}
@media screen and (max-width:768px) {
  .section{
    width: 94%;
    margin: 3%;
    background-color: rgba(255,255,255,.9);
    border-radius: 10px;
    margin-bottom: 0;
    padding:5%
  }
}
@media screen and (max-width:425px) {
  .screen{
    margin-bottom: 25px
  }
  .navigation{display: none;}
}
