.ChooseFunc{
  height: 100%;
  overflow-y: scroll;
  padding-top: 50px;
  background-color: rgba(255,255,255,.5);
  position: fixed;
  top: 0;
  left: -250;
  z-index: 3;
  transition: .8s ease-in-out;
}
