nav{
    display: flex;
    position: fixed;
    height: 40px ;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    z-index: 999
}
nav img{
   height:50px;
   margin-left:20px;
   cursor: pointer;
}
.show_panel{
  cursor: pointer;
}
.navLinkBox{
  flex:3;
  height: 100% ;
  display: flex;
  align-items: center;
  padding-left: 20px
}
.navLinkBox a,
.navLinkBox span{
  font-size: 20px;
  color: white ;
  padding:10px
}
.settingBox,
.m_settingBox{
  flex:1;
  display:flex;
  align-items:center;
  justify-content: flex-end;
}
.settingBox i,
.m_settingBox i{
  font-size:32px;
  color:white;
  margin-right:10px ;
  cursor: pointer;
  transition: .4s ease-in-out
}
.settingBox #setting:hover i,
.m_settingBox #setting:hover i{
  color:rgb(226, 152, 41) ;
  animation-name: test ;
  animation-duration: 2s
}
.settingBox #info:hover,
.m_settingBox #info:hover{
  color:rgb(73, 215, 8) ;
}
.nav_panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    background-color: rgba(0,0,0,.7);
    min-width: 150px;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: .4s ease-in-out
}
.navBox{
  flex:1;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
}
.navBox i{
  margin: 0 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
  font-size: 30px
}
.navBox i:hover{color: rgb(71, 197, 219)}
.alt-tab{
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.alt-tab div{
  background-color: rgba(255, 255, 255, 0.77);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  font-weight: bold;
  transition: .4s ease-in-out;
  position: relative;
  right: -300px;
  cursor: pointer;
}
.alt-tab div:hover{background-color: rgba(249, 194, 2, 0.76)}
@media screen and (max-width:1024px) {
  .navLinkBox{flex:6}
  .settingBox{flex:2}
  .navBox i{margin: 0 5px}
}
@keyframes test {
  from{transform: rotate(0deg);}
  to{transform: rotate(180deg);}
}
