nav{
    display: flex;
    position: fixed;
    height: 40px ;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    z-index: 999
}
nav img{
   width:120px;
   height:60px;
   margin-left:20px;
   cursor: pointer;
}
.navLinkBox{
  flex:3;
  height: 100% ;
  display: flex;
  align-items: center;
  padding-left: 20px
}
.navLinkBox a,
.navLinkBox span{
  font-size: 20px;
  color: white ;
  padding:10px
}
.settingBox,
.m_settingBox{
  flex:1;
  display:flex;
  align-items:center;
  justify-content: flex-end;
}
.settingBox i,
.m_settingBox i{
  font-size:32px;
  color:white;
  margin-right:10px ;
  cursor: pointer;
  transition: .4s ease-in-out
}
.settingBox #setting:hover i,
.m_settingBox #setting:hover i{
  color:rgb(226, 152, 41) ;
  animation-name: test ;
  animation-duration: 2s
}
.settingBox #info:hover,
.m_settingBox #info:hover{
  color:rgb(73, 215, 8) ;
}
.nav_panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    background-color: rgba(0,0,0,.7);
    min-width: 150px;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: .4s ease-in-out
}
@keyframes test {
  from{transform: rotate(0deg);}
  to{transform: rotate(180deg);}
}
