body,html{
  position: relative;
  margin: 0;
  /*height: 100%;*/
  font-family: Microsoft JhengHei;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  cursor: default;
  background-image: url("footage/search_BG.png");

}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid slategrey;
  border-radius: 4px;

}
iframe{
  width: 100%;
  height: 100%;
  border: 0;
}
.current_user_name,
#userdata{
  height: 100%;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px
}
.search input{
  height: 30px;
  width: 250px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
button,.button,.selected_cat{
  background-color: rgb(227, 158, 73) ;
  background: linear-gradient(rgb(245, 216, 76), rgb(199, 133, 39));
  border: 2px solid black ;
  border-radius: 10px ;
  cursor: pointer;
  color: white ;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  font-size: 18px ;
  margin: 1%;
  padding: 2px 20px ;
  transition: .1s ease-in-out;
  text-align: center;
  /* width: 120px; */
  /* -webkit-text-stroke: 1px black; */
}
button:active{
  background: linear-gradient( rgb(204, 124, 10),rgb(242, 205, 24));
  /* font-size: 16px; */
  /* padding: 3px 24px; */
}
.button,.selected_cat{
  display: inline-flex;
  -webkit-text-stroke: 0.25px black;
}
.button[value~='0']{background: linear-gradient(rgb(195, 195, 195), rgb(106, 106, 106));}
.button[value~='1']{background: linear-gradient(rgb(242, 205, 24), rgb(204, 124, 10));}
#search_ability{
  font-size: 25px;
  padding: 3px 30px;
}
.select_rarity td,
.select_color td,
.select_ability td,
.level td{width: 90%;}
.option{color: black;}
.state{width: 100px;padding-left: 20px}

.page_1,.page_2{
  background-color: white ;
  position: relative;
  overflow-x: hidden;
  background-image: url("footage/search_BG.png");
}
.display,.select,.content{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% ;
  width: 100%
}
td, th {
  font-size: 16px;
  border-collapse: collapse;
  margin: 2px 0 ;
  padding: 8px;
  text-align: center;
  transition: .3s ease-in-out
}
.select th{
  cursor: pointer;
  width: 10%;
}
.dataTable th{width: 150px}
.dataTable input{width: 75px}
#pre_sel_pg,#next_sel_pg{
  margin: 0 20px;
}
.button_group{
  display:none;
  width:100%;
  justify-content: center;
}
.dataTable th,.select th,.compareTable th{
  background-color: rgba(242, 213, 167, 0.93);
}
.dataTable td,.select td,.compareTable td{
    background-color: rgba(255, 255, 255, 0.9);
}
.card{
  align-items: center;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid white ;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  height: 120px;
  width: 180px;
  justify-content: center;
  margin: 10px ;
  transition: .3s ease-in-out;
}
#selected{
  margin: 2% 4% ;
  width: 93%;
  height: 347.88px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  transition: .5s ease-in-out;
  background-color: rgba(255,255,255,.5)
}
.card-group{margin: 0 8px}
table {
  width: 100%;
  border-spacing: 3px;
  border-collapse: separate;
}
.ui-widget.ui-widget-content{border: none}
.ui-slider-horizontal{
  width: 100% ;
  background-color: rgb(228, 162, 48) ;
  height: .6em ;
}
.ui-widget-content .ui-state-default{
  border:none;
  border-radius: 50%;
  background-color: rgba(236, 88, 61,.9) ;
  transition: .2s ease-in-out ;
}
.ui-widget-content .ui-state-default:hover{
  width: 25px ;
  height: 25px ;
  background-color: rgba(236, 88, 61, 1) ;
}
.ui-slider-range{background-color: rgb(241, 119, 119)}
.tbody_togger th{width: 100%;}
.compareSorce{
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  flex:6 ;
}

.compareTarget_holder::-webkit-scrollbar,
.comparedataholder::-webkit-scrollbar
 {
    width: 0px;
}

#clear_compare{
  cursor: pointer;
  height: 80px;
  width: 120px;
  margin: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgba(0,0,0,.5);
  color: white;
  border: 4px solid white;
}
.compareTarget .card{
  height: 80px;
  width: 120px;
}
.filter_option{
  width: 100px
}
.filter_option[active~='false']{
  background-color: rgba(129, 115, 92,.93);
  color: lightgray
}
#slider_holder{
  height: 30px;
  display: none;
  transition: .3s ease-in-out
}
#TOOLTIP{
  position: fixed;
  display: none;
  background-color: rgba(60, 44, 6, 0.9);
  padding: 5px;
  /*border-radius: 6px;*/
  justify-content: center;
  z-index: 99 ;
  color: white
}
#TOOLTIP::after{
  position: relative;
  top: 25px;
  right: 50px;
  content: " " ;
  height: 20px;
  width: 20px;
  border: 10px solid rgba(60, 44, 6, 0.9);
  border-left-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;

}
.glyphicon-minus,.glyphicon-plus,
#display_id,.searchCombo,.active,
.reverse,.compareTarget_child i,
.compareTable th{cursor: pointer;}
#helpModal .modal-body{
  height: 70% ;
  overflow-y: scroll;
}
#helpModal .title{font-size: 20px;font-weight: bold;}
#compare_number{
  position: relative;
  top: -40px;
  left: 20px;
  background-color: rgba(228, 100, 100, 0.9);
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  color: white
}
#page_dot{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
#page_dot span{
  width: 10px;
  height: 10px;
  background-color: white;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  transition: .6s ease-in-out
}
#year_event{
  width: 100%;
  height: 100%;
  padding: 5% 30%;
  position: fixed;
  top: 0;
  z-index: 12;
  overflow: scroll;
}
#year_event::-webkit-scrollbar {
    width: 0px;
}
#year_event th{background-color: rgba(242, 174, 103, 0.81);color:white}
#year_event td{background-color: rgba(255, 255, 255, 0.81);font-size: 20px}
#year_event_BG{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 10;
}
#year_event{
  width: 100%;
  height: 100%;
  padding: 5% 30%;
  position: fixed;
  top: 0;
  z-index: 12;
  overflow: scroll;
}
#service{
  width: 60px;
  height: 60px;
  position: fixed;
  background-color: transparent;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-image: url("/public/css/footage/tab_icon.png");
  background-size: cover;
  cursor: pointer;
  transition: .2s ease-in-out
}
#service::before{
  content: "我是客服貓咪!喵!";
  position: absolute;
  width: 115px;
  top: -20px;
  left: -35px;
  font-weight: bold;
}
#service:hover{
  animation-name: jump;
  animation-duration: .5s ;
  animation-iteration-count: 3;
}
@keyframes jump {
  0%{bottom: 20px}
  50%{bottom: 40px}
  100%{bottom: 20px}
}
#service_window_holder{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0,0,0,.7)
}
#service_window{
  width: 90%;
  height: 90%;
  border: 10px solid white
}
#more{
  color: rgb(21, 141, 153);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
#more:hover{color:rgb(222, 157, 32);}
#more_option{
  height: 0px;
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  transition: .4s ease-in-out;
  overflow: hidden;
}
#more_option td{
  cursor: pointer;
  font-weight: bold;
}
#more_option td i {font-size: 16px;}
#more_option td:hover{color:rgb(230, 155, 56)}
#copy_alert,
#fight_alert,
#batch_alert,
.ability_tip{
  font-size: 20px;
  background-color: rgb(31, 149, 145);
  padding: 10px 20px;
  position: fixed;
  top: 100px;
  left: -250;
  text-align: center;
  font-weight: bold;
  color: white;
  box-shadow: 3px 4px 10px 1px rgba(0,0,0,.9);
  transition: .6s ease-in-out
}
#fight_alert{top: 180px;}
#a_fight::after{
  content: "BETA";
  font-size: 10px;
  font-weight: bold;
  top: -12px;
  position: relative;
  animation-name: blink;
  animation-duration: .5s ;
  animation-iteration-count: infinite;
}
#canvas_holder{
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 3;
  align-items: center;
  transition: .4s ease-in-out;
}
canvas{transition: .4s ease-in-out}
#canvas_holder a,
#snapshot,
#canvas_holder span,
.compareNav div{
  color: white;
  background-color: #1f9591;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  right: 50px;
  transition: .4s ease-in-out;
  cursor: pointer;
}
#canvas_holder span{
  width: 48px;
  height: 48px;
  right: 64px;
  bottom: 140px;
}
#canvas_holder #zoom_in{bottom: 200px;}
#canvas_holder a i,#snapshot i{font-size: 36px}
#canvas_holder a:hover,
#canvas_holder span:hover,
#snapshot:hover,
.compareNav div:hover{
  text-decoration: none;
  background-color: rgb(242, 163, 70)
}
#snapshot{position: fixed}
#www{
animation-name: blink;
animation-duration: .5s ;
animation-iteration-count: infinite;
}
@keyframes blink {
  0%{color: rgb(255, 93, 46)}
  50%{color: rgb(250, 204, 86)}
  100%{color: rgb(255, 72, 40)}
}
