nav .mobile,
.m_nav_panel{
  display: none;
}
#m_nav_menu{
  font-size:32px;
  color:white;
  padding:0 20px;
  height: 100%
}
.m_nav_panel{
  flex-direction: column;
  position: fixed;
  right: -180px;
  height: 100%;
  width: 180px;
  background-color: rgba(0,0,0,.8);
  z-index: 10;
  transition: .8s ease-in-out;
}
#m_nav_panel_BG{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9;
}
.m_navLinkBox{
  display:flex;
  flex-direction:
  column;padding:20px;
  margin-top:20px;
  font-size: 24px;
}
.m_navLinkBox a,.m_navLinkBox span{color: white;margin-bottom: 5px}
.m_settingBox{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  color: white;
  padding:10px;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 768px) {
  nav{height: 40px;justify-content: space-between;}
  .page_1{padding-top: 40px}
  .m_nav_panel{display: flex;}
  nav .mobile{
    flex:1 ;
    display: flex;
    justify-content: flex-end;
  }
  #start{font-size: 30px;padding: 6px 120px;}
  .select,
  .display
  {padding-left: 0;padding-right: 0;}
  span.button{font-size: 18px;padding: 1px 15px;}
  .card{height: 80px;width: 120px;}
  .card-group{margin: 0}
  #selected{
    width: 100%;
    margin: 2% 0;
    height: 270px;
  }
  .glyphicon-refresh {
    top: 100px;
    right: -110px;
    font-size: 20px;
    padding: 4px;
    border: 2px solid;
  }
  .glyphicon-shopping-cart{right: -79px;}
  .navLinkBox,
  .settingBox,
  .level,
  #slider_holder td[colspan~='6'],
  #page_dot
  {display: none;}

  .debugwindow h3{font-size: 18px}
  .setting_container{padding: 5%;}
  #history_cat,#history_ene{width: 100%;margin: 0;}
  .login_box{left: 15%;width: 70%}
  #selected{overflow-y: scroll;}
  .lv_sg_box{flex-direction: column;}
  .float{width: 100%;left:0;height: 70%}
  .nav_panel{position: relative;top: 0}
}
@media screen and (max-width: 1024px) {
  nav a img{
    width: 96px;
    height: 50px;
  }
  .navLinkBox a{font-size: 16px}
  #page_dot span{
    width: 7px;
    height: 7px;
    margin: 3px
  }
}
