.setting_container{
  padding: 5% 10%;

}
.setting_element{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255,255,255,.9);
  border-radius: 10px;
  box-shadow: grey 5px 5px 10px;
  min-height: 50px;
}
.setting_container h4 {
  padding: 2px 20px;
  margin: 0 ;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
.setting_item{
  width: 95%;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 10px ;
  margin: 0 2.5%;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.setting_item span{
  font-size: 20px;
  flex: 3 ;
}
.setting_item input{
  width: 120px;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  text-align: center;
}
#reset_cat_lv,#reset_own_cat{
  background: linear-gradient(rgb(246, 154, 87),rgb(255, 74, 74))
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: 0 20px;
}
.switch input {display:none;}
.slider_but {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(129, 129, 129);
  transition: .4s ease-in-out;
  border-radius: 30px;
}
.slider_but:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -2px;
  bottom: -2px;
  background-color: white;
  transition: .4s ease-in-out;
  border-radius: 50%;
  box-shadow: gray 4px 0px 10px;
}
input:checked + .slider_but {
  background-color: rgb(33, 150, 244);
}
input:checked + .slider_but:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  box-shadow: gray -4px 0px 10px;
}
#cat_history,#ene_history,#own_cat{
  font-size: 40px;
  color:gray;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: .4s ease-in-out;
}
#cat_history:hover,
#ene_history:hover,
#own_cat:hover{
  background-color: rgba(200,200,200,.5);
  border-radius: 50%
}
#history_cat,#history_ene,#cat_own{
  width: 95%;
  margin: 0 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 0;
  transition: .8s ease-in-out;
  overflow-y: scroll;
}
#history_cat::-webkit-scrollbar,
#history_ene::-webkit-scrollbar,
#cat_own::-webkit-scrollbar{
    width: 8px;
}
#history_cat::-webkit-scrollbar-track,
#history_ene::-webkit-scrollbar,
#cat_own::-webkit-scrollbar { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
#history_cat::-webkit-scrollbar-thumb,
#history_ene::-webkit-scrollbar,
#cat_own::-webkit-scrollbar {
  background-color: gray;
  outline: 1px solid slategrey;
  border-radius: 4px;
}
#photo{
  width: 100px;
  height: 100px;
  background-image: url('/public/css/footage/cat/u001-1.png');
  background-size: cover;
  border: 3px solid black;
  background-position: -4px 6px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}
#photo span{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
  text-align: center;width: 100;
  font-size: 14px;
  color: white;
  display: none;
}
#photo span:hover{color: rgb(240, 147, 52)}
#photo_chooser{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  display: none;
  justify-content: center;
  align-items: center;
}
#photo_chooser div{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#photo_chooser span{
  margin: 5px;
  color: white;
  padding: 5PX;
  background-color: #ffc33e;
  cursor: pointer;
  font-weight: bold;
}
#photo_chooser div #account{ background-color: #e46353; }
#history:hover{color: rgb(117, 19, 133);}
