.select_chapter button{
  width: 180px;
  height: 120px;
  border-radius: 0;
  margin: 10px;
  border: 4px solid black;
  align-items: center;
  -webkit-text-stroke: 0px;
  font-size: 25px;
  background-size: 100%;
  background-position: 0% 100%;
  background-color: rgba(0,0,0,.6);
  background-blend-mode: multiply;
}
.select_chapter button[value~='1']{
  animation-name: border-blink;
  animation-duration: .5s ;
  animation-iteration-count: 5;
}
@keyframes border-blink {
  0%{border-color: rgb(255, 93, 46)}
  50%{border-color: yellow}
  100%{border-color: orange}
}
#world,#future{
  background-image: url("http://www.outline-world-map.com/map-images-original/political-gray-white-world-map-thin-b10a.png");
  background-blend-mode: color-burn;
  background-color: rgb(235, 160, 61);
  background-size: 450%;
  background-position: 90% 30%;
}
#future{
  background-size: 300%;
  background-position: 50% 20%;
}
#universe{
  background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/230290/extras/Universe-Sandbox-Saturn-Neptune-Earth.jpg?t=1512675913");
  background-blend-mode: hard-light;
  background-color: rgb(235, 160, 61);
  background-size: 150%;
  background-position: 80% 10%;
}
#tower{
  background-image: url("https://i.imgur.com/9oC4NLj.jpg");
  background-blend-mode: color-burn;
  background-color: rgb(235, 160, 61);
  background-size: 150%;
  background-position: 50% 10%;
}
#story{
  background-image: url("footage/stage/story_BG.png");
  background-color: transparent;
}
#maylook{background-image: url("footage/stage/maylook_BG.png");}
#baseball,#lazybird,#easter{
  background-image: url("footage/stage/pawapuro_BG.jpg");
  background-size: cover;
  background-position: center;
}
#crazy,#hard,#smallCat,#XP,#castleMaterial{
  background-image: url("footage/stage/crazy_BG.png");
  background-color: rgba(0,0,0,.1);
  font-size: 0;
}
#hard{background-image: url("footage/stage/hard_BG.png");}
#smallCat{background-image: url("footage/stage/smallCat_BG.png");}
#smallCat:hover{background-image: url("footage/stage/smallCat_BG_alt.png");}
#XP{background-image: url("footage/stage/XP_BG.png");}
#castleMaterial{background-image: url("footage/stage/castleMaterial.png");}
#lazybird{background-image: url("footage/stage/lazybird.png");}
#easter{background-image: url("footage/stage/easter.png");}
#cyclone,#evolution,#castleMaterial,#ticket
{background-blend-mode: normal;}


.select_chapter{
  display: flex;
  flex-direction: column;
  transition: .1s ease-in-out;
  justify-content: center;
  width: 250px;
}
.select_chapter span{
  background-color: rgba(242, 132, 85, 0.85);
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 1% 5% ;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .4s ease-in-out;
  justify-content: space-between;
}
.select_chapter div{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.select_chapter_holder{
  height: 100%;
  overflow-y: scroll;
  padding-top: 50px ;
  background-color: rgba(255,255,255,.5);
  position: fixed;
  top: 0;
  left: -250;
  z-index: 3;
  transition: .8s ease-in-out
}
.select_chapter_holder::-webkit-scrollbar,
#select_stage::-webkit-scrollbar,
#select_level::-webkit-scrollbar {
    width: 0px;
}
#selector{
  width: 100%;
}
#select_stage,#select_level{
  flex:3;
  background-color: rgba(255,255,255,.7);
  transition: .8s ease-in-out;
  border: 5px solid gray;
  overflow-y: scroll;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 10px;
}
#select_stage{background-image: url("footage/stage/select_stage_BG.png")}
#select_level{background-image: url("footage/stage/select_level_BG.png")}
#select_stage button{padding: 0}
#select_stage button[value~='1']{
  background: linear-gradient(rgb(222, 168, 30), rgb(213, 97, 14));
  animation-name: border-blink;
  animation-duration: .5s ;
  animation-iteration-count: 10;
}
.lv_sg_box{
  display:flex;
  height:500px;
  width:100%
}
.enemy{cursor: pointer;}
.float{
  width: 768px;
  height: 60%;
  position: fixed;
  top: 10%;
  left:10%;
  border: 5px solid black;
  z-index: 10;
}
.float_BG{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  position: fixed;
  top: 0;
  display: none;
}
#select_stage button[id~='s03000z'],
#select_stage button[id~='s03001z'],
#select_stage button[id~='s03002z']
{background: linear-gradient(rgb(204, 99, 236),rgb(144, 12, 123))}
#select_stage button[id~='s03000z'][value~='1'],
#select_stage button[id~='s03001z'][value~='1'],
#select_stage button[id~='s03002z'][value~='1']
{background: linear-gradient(rgb(236, 99, 235),rgb(144, 12, 79))}
#expend_sl_chap{
  width: 100%;
  background-color: rgba(255,255,255,.7);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  transition: .4s ease-in-out;
}
#expend_sl_chap i{transition: .4s ease-in-out;}
#expend_sl_chap:hover{
  background-color: rgba(170, 170, 170, 0.7);
}
.display #next,
.display #prev{
  font-weight: bold;
  cursor: pointer;
}
