<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>貓咪圖鑑</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/book.css" />
    <link rel="stylesheet" href="../public/css/FloatDisplay.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

    <div class="page_1">
      <div class="content">
        <span class="button" value='0' id='edit'>編輯模式</span>
        <div class="select" style="width:100%">
          <div class="search" style="margin-top:20px">
            <button id="reload">手動重整</button>
            <input type="text" id="searchBox" placeholder="Search for Cats...">
            <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
          </div>
          <table>
            <tr>
              <th>排序</th>
              <td>
                <span class="button" value='1' id='rarity'>稀有度</span>
                <span class="button" value='0' id="id">ID</span>
                <span class="button" value='0' id="color">屬性</span>
                <span class="button" value='0' id="ability">能力</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="display">
          <div class="dataTable">

          </div>
        </div>
      </div>
      <div class="action">
        <span id="left"></span>
        <span id="right"></span>
        <span id="clear"><i class="material-icons">&#xe14c;</i></span>
      </div>
    </div>

    <div class="floatDisplay_holder">
      <div class="floatDisplay">
        <i class="material-icons"> close </i>
        <table class="dataTable">
          <tr class="non_mobile">
            <th style='height:80px;padding:0' class="img"></th>
            <th colspan=5 rarity='data.rarity' class='name'></th>
          </tr>
          <tr class="mobile">
            <th class="name" colspan="6"></th>
          </tr>
          <tr class="mobile">
            <th style='height:80px;padding:0;background-color:transparent;' colspan="6" class="img">
            </th>
          </tr>
          <tr>
            <th colspan='1'><span>等級</span></th>
            <td colspan=5 id='lv'>
              <span style='margin:0 10px'></span>
            </td>
          </tr>
          <tr>
            <th>體力</th><td id='hp'></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'></td>
            <th>DPS</th><td id='DPS'></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <td colspan='2' rowspan='3' id='aoe'></td>
          </tr>
          <tr>
            <th>花費</th><td id='cost'></td>
            <th>再生產</th><td id='cd'></td>
          </tr>
          <tr>
            <th>獲得金錢</th><td id='reward'></td>
            <th>屬性</th><td id='color'></td>
          </tr>
          <tr>
            <td colspan='6' id='char'></td>
          </tr>
        </table>
        <div style="display:flex;justify-content:flex-end">
          <span>更多詳細資料 ></span>
        </div>
      </div>
    </div>


    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="canvas_holder">
      <div class="picture"></div>
    </div>



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/book.js"></script>
    <script src="../public/js/FloatDisplay.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
