<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1854846319781914",
        enable_page_level_ads: true
      });
    </script>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>貓咪圖鑑</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/cat.css" />
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
  </head>
  <body>
    <nav>
      <a href="\">
        <img src="../public/css/footage/title.png"/>
      </a>
      <div class="navLinkBox"></div>
      <div class="settingBox"></div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu">menu</i>
      </div>
    </nav>
    <div id="m_nav_panel_BG"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox"></div>
      <div class="m_settingBox"></div>
    </div>


    <div class="page_1">
      <div class="select">
        <div class="search" >
          <input type="text" id="searchBox" placeholder="Search for Cats...">
          <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <table id="upper_table">
            <tr>
                <th colspan="2">稀有度</th>
                <td colspan="4" class="select_rarity">
                  <span class='button' name='B' value='0' >基本</span>
                  <span class='button' name='EX' value='0' >EX</span>
                  <span class='button' name='R' value='0' >稀有</span>
                  <span class='button' name='SR' value='0' >激稀有</span>
                  <span class='button' name='SR_alt' value='0' >激稀有狂亂</span>
                  <span class='button' name='SSR' value='0' >超激稀有</span>
                </td>
            </tr>
            <tr>
                <th colspan="2">屬性</th>
                <td colspan="4" class="select_color">
                  <span class='button' name='對紅色' value='0' >紅色敵人</span>
                  <span class='button' name='對漂浮' value='0' >漂浮敵人</span>
                  <span class='button' name='對黑色' value='0' >黑色敵人</span>
                  <span class='button' name='對鋼鐵' value='0' >鋼鐵敵人</span>
                  <span class='button' name='對天使' value='0' >天使</span>
                  <span class='button' name='對外星' value='0' >異星戰士</span>
                  <span class='button' name='對不死' value='0' >不死生物</span>
                  <span class='button' name='對白色' value='0' >白色敵人</span>
                  <span class='button' name='對全部' value='0' >全部敵人</span>
                </td>
            </tr>
            <tr>
                <th colspan="2" rowspan="2">能力</th>
                <td colspan="4" rowspan="2" class="select_ability">
                  <span class='button'name='降攻'value='0'><i id='atkdown'class="ability_icon"></i><span> 使攻擊力下降</span></span>
                  <span class='button'name='增攻'value='0'><i id='atkup'class="ability_icon"></i><span> 攻擊力上升</span></span>
                  <span class='button'name='免疫降攻'value='0'><i id='noatkdown'class="ability_icon"></i><span> 攻擊力下降無效</span></span>
                  <span class='button'name='善於攻擊'value='0'><i id='goodat'class="ability_icon"></i><span> 善於攻擊</span></span>
                  <span class='button'name='很耐打'value='0'><i id='morehp'class="ability_icon"></i><span> 很耐打</span></span>
                  <span class='button'name='超大傷害'value='0'><i id='bighurt'class="ability_icon"></i><span> 超大傷害</span></span>
                  <span class='button'name='爆擊'value='0'><i id='criticalhit'class="ability_icon"></i><span> 會心一擊</span></span>
                  <span class='button'name='擊退'value='0'><i id='goaway'class="ability_icon"></i><span> 打飛敵人</span></span>
                  <span class='button'name='免疫擊退'value='0'><i id='nogoaway'class="ability_icon"></i><span> 打飛無效</span></span>
                  <span class='button'name='連續攻擊'value='0'><i id='serialatk'class="ability_icon"></i><span> 連續攻擊</span></span>
                  <span class='button'name='不死剋星'value='0'><i id='killdeath'class="ability_icon"></i><span> 不死剋星</span></span>
                  <span class='button'name='緩速'value='0'><i id='slow'class="ability_icon"></i><span> 使動作變慢</span></span>
                  <span class='button'name='免疫緩速'value='0'><i id='noslow'class="ability_icon"></i><span> 使動作變慢無效</span></span>
                  <span class='button'name='暫停'value='0'><i id='stop'class="ability_icon"></i><span> 使動作停止</span></span>
                  <span class='button'name='免疫暫停'value='0'><i id='nostop'class="ability_icon"></i><span> 使動作停止無效</span></span>
                  <span class='button'name='遠方攻擊'value='0'><i id='faratk'class="ability_icon"></i><span> 遠方攻擊</span></span>
                  <span class='button'name='復活'value='0'><i id='surive'class="ability_icon"></i><span> 死前存活</span></span>
                  <span class='button'name='波動'value='0'><i id='wave'class="ability_icon"></i><span> 波動</span></span>
                  <span class='button'name='免疫波動'value='0'><i id='nowave'class="ability_icon"></i><span> 波動傷害無效</span></span>
                  <span class='button'name='抵銷波動'value='0'><i id='stopwave'class="ability_icon"></i><span> 波動滅止</span></span>
                  <span class='button'name='2倍金錢'value='0'><i id='2money'class="ability_icon"></i><span> 得到很多金錢</span></span>
                  <span class='button'name='攻城'value='0'><i id='castle'class="ability_icon"></i><span> 善於攻城</span></span>
                  <span class='button'name='免疫傳送'value='0'><i id='notrans'class="ability_icon"></i><span> 傳送無效</span></span>
                  <span class='button'name='破盾'value='0'><i id='breakshell'class="ability_icon"></i><span> 破壞護盾</span></span>
                  <span class='button'name='一次攻擊'value='0'><i id='1atk'class="ability_icon"></i><span> 一次攻擊</span></span>
                </td>
            </tr>

        </table>
        <table id="lower_table">
          <tbody>
            <tr>
              <th rowspan="2" id="selectAll">
                全選
              </th>
              <th colspan="8">
                更多篩選器
              </th>
            </tr>
            <tr>
              <th class="filter_option" id="hp" lv-bind="true" value="10000" reverse="false" range="[1000,100000]" step="1000" active="false">體力</th>
              <th class="filter_option" id="lv1dps" lv-bind="true" value="3000" reverse="false" range="[100,10000]" step="100" active="false">DPS</th>
              <th class="filter_option" id="speed" lv-bind="false" value="10" reverse="false" range="[1,100]" step="1" active="false">速度</th>
              <th class="filter_option" id="cost" lv-bind="false" value="1000" reverse="false" range="[0,5000]" step="10" active="false">花費</th>
              <th class="filter_option" id="freq" lv-bind="false" value="5" reverse="false" range="[0,20]" step="0.5" active="false">攻頻</th>
              <th class="filter_option" id="atk" lv-bind="true" value="10000" reverse="false" range="[1000,100000]" step="1000" active="false">攻撃力</th>
              <th class="filter_option" id="range" lv-bind="false" value="300" reverse="false" range="[10,1000]" step="10" active="false">射程</th>
              <th class="filter_option" id="cd" lv-bind="false" value="5" reverse="false" range="[2,300]" step="1" active="false">再生産</th>
            </tr>
            <tr id="slider_holder">
              <td class="active"></td>
              <td colspan="6">
                <div class="slider"></div>
              </td>
              <td class="value_display"></td>
              <td class="reverse"></td>
            </tr>
          </tbody>
        </table>
        <table id="gacha_table">
          <tr>
            <th id="more_gacha_search" colspan="2">
              <div style="display:flex;align-items:center;justify-content:center">
                依轉蛋分類搜尋(獨立於篩選器)
                <i class="material-icons" style="transform:rotate(90deg)">&#xe315;</i>
              </div>
            </th>
          </tr>
          <tr class="gacha_search">
            <th>常駐轉蛋</th>
            <td>
              <span id="R141" class="button" value="0">傳說的不明貓一族</span>
              <span id="R142" class="button" value="0">超激烈爆彈</span>
              <span id="R151" class="button" value="0">超破壞大帝 龍皇因佩拉斯</span>
              <span id="R154" class="button" value="0">超古代勇者 超級靈魂勇者</span>
              <span id="R157" class="button" value="0">逆襲的戰士 黑暗英雄</span>
              <span id="R177" class="button" value="0">戰國武神 巴薩拉斯</span>
              <span id="R188" class="button" value="0">電腦學園銀河美少女團</span>
              <span id="R198" class="button" value="0">革命軍隊鋼鐵戰團</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>限定轉蛋</th>
            <td>
              <span id="R096" class="button" value="0">萬聖節轉蛋</span>
              <span id="R127" class="button" value="0">聖誕美少女</span>
              <span id="R166" class="button" value="0">紅色破壞者</span>
              <span id="R167" class="button" value="0">飄浮破壞者</span>
              <span id="R168" class="button" value="0">超級貓咪祭</span>
              <span id="R172" class="button" value="0">復活節嘉年華轉蛋</span>
              <span id="R197" class="button" value="0">夏日美少女團</span>
              <span id="R202" class="button" value="0">特級貓咪祭</span>
              <span id="R205" class="button" value="0">鋼鐵破壞者</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>其他</th>
            <td>
              <span id="R204" class="button" value="0">絕命美少女怪物萌娘隊</span>
              <span id="R208" class="button" value="0">古靈精怪元素小精靈</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>活動轉蛋</th>
            <td>
              <span id="R045" class="button" value="0">越南大戰METAL SLUG DEFENSE 合作活動</span>
              <span id="R185" class="button" value="0">梅露可物語 合作活動</span>
              <span id="R186" class="button" value="0">蛋黃哥 合作活動</span>

            </td>
          </tr>
        </table>

        <div style="display:flex;margin:1%">
          <button id="search_ability" >GO</button>
        </div>
        <div style="display:flex;width:100%">
          <div class="compareSorce">
            <div id="selected" class="sortable"></div>
            <div class="page_group"></div>
            <div class="button_group" >
              <button id="pre_sel_pg"><span class="glyphicon glyphicon-chevron-up"></span>上一排</button>
              <span id="page_dot"></span>
              <button id="next_sel_pg">下一排<span class="glyphicon glyphicon-chevron-down"></span></button>
            </div>
          </div>

        </div>

        <div class="display">
          <div id='more_option'>
            <table>
              <td id='mark_own' value='0'>我<span>沒</span>有這隻貓</td>
              <td id='addcart'>加到購物車 <i class="fa">&#xf07a;</i></td>
              <!-- <td id='addfight'>加到對戰 &#9876;</td> -->
              <td id='share'>分享 <i class="material-icons">&#xe80d;</i></td>
              <td>
                <a target='blank' id="out">
                  在超絕攻略網打開 <i class="material-icons">&#xe895;</i>
                </a>
              </td>
            </table>
          </div>
          <table class="dataTable"></table>
        </div>

      </div>
    </div>
    <div id="compareTarget_tag">
      <i class="material-icons">&#xe315;</i>貓咪購物車
      <span id="compare_number">0</span>
    </div>
    <div class="compareTarget_holder">
      <span id='clear_compare'>Clear All</span>
      <div class="compareTarget sortable">
      </div>
    </div>

    <div class="page_2" >
      <!-- <button id="test">test</button>
      <button><a href="test.html">test</a></button> -->
    </div>

    <div id="TOOLTIP">This is a tool tip</div>
    <div id="copy_alert">已複製到剪貼簿 <i class="material-icons">&#xe877;</i></div>
    <div id="fight_alert">已加入對戰 <i class="material-icons">&#xe877;</i></div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <style>
      #loading{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,.9);
        z-index:99
      }
      #loading img, #loading p{
        position: absolute;
        color: white;
        top: 50%;
        font-size: 30px;
        font-weight: bold;
        animation-name: load;
        animation-duration: 5s;
        animation-iteration-count: infinite;
      }
      #loading p{top:45%}
      @keyframes load {
        0%{left:-10%}
        100%{left:110%}
      }
    </style>
    <div id="loading">
      <p>
        loading....
      </p>
      <img src="../public/css/footage/tab_icon.png" />
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/cat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
