<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1854846319781914",
        enable_page_level_ads: true
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-111466284-1', 'auto');
      ga('send', 'pageview');
    </script>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>貓咪圖鑑</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/overall.css" />
    <link rel="stylesheet" href="/css/cat.css" />
    <link rel="stylesheet" href="/css/navBar.css" />
    <link rel="stylesheet" href="/css/rwd.css" />
  </head>
  <body>

    <div class="content">
      <div class="search_type">
        <span class="button" value='1' id="normal_search">一般篩選</span>
        <span class="button" value='0' id="gacha_search">轉蛋/合作活動</span>
        <span class="button" value='0' id="value_search">數值篩選</span>
        <div class="search" >
          <input type="text" id="searchBox" placeholder="Search for Cats...">
          <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
      <div class="search_table">
        <table id="upper_table">
          <tr>
            <!-- <th colspan="6" style="pointer-events:none">
              點擊分類名稱以切換該項篩選特質為"完全符合"或"部分符合"<br />
              <b style="text-decoration:underline;margin:0 10">紅色:完全符合</b>
              <b style="text-decoration:underline;margin:0 10">橘色:部分符合(預設)</b>
            </th> -->
            <th colspan="6">
              <div style="padding: 10; display: flex; justify-content: center; align-items: center;">
                <span>屬性欄位完全符合</span>
                <label class="switch">
                  <input type="checkbox" id="colorAnd" value='0' >
                  <span class="slider_but"></span>
                </label>
                <span>能力欄位完全符合</span>
                <label class="switch">
                  <input type="checkbox" id="abilityAnd" value='0' >
                  <span class="slider_but"></span>
                </label>
                <span>考慮本能</span>
                <label class="switch">
                  <input type="checkbox" id="instinct_involve" value='0' >
                  <span class="slider_but"></span>
                </label>
              </div>
            </th>
          </tr>
          <tr>
            <th colspan="2">稀有度</th>
            <td colspan="4" class="select_rarity">
              <span class='button' name='B' value='0' >基本</span>
              <span class='button' name='EX' value='0' >EX</span>
              <span class='button' name='R' value='0' >稀有</span>
              <span class='button' name='SR' value='0' >激稀有</span>
              <span class='button' name='SR_alt' value='0' >激稀有狂亂</span>
              <span class='button' name='SSR' value='0' >超激稀有</span>
              <span class='button' name='SSSR' value='0' >傳說稀有</span>
            </td>
          </tr>
          <tr>
            <th colspan="2">屬性</th>
            <td colspan="4" class="select_color">
              <span class='button' name='對紅色' value='0' >紅色敵人</span>
              <span class='button' name='對漂浮' value='0' >漂浮敵人</span>
              <span class='button' name='對黑色' value='0' >黑色敵人</span>
              <span class='button' name='對鋼鐵' value='0' >鋼鐵敵人</span>
              <span class='button' name='對天使' value='0' >天使敵人</span>
              <span class='button' name='對外星' value='0' >異星戰士</span>
              <span class='button' name='對不死' value='0' >不死生物</span>
              <span class='button' name='對白色' value='0' >白色敵人</span>
              <span class='button' name='對全部' value='0' >有色敵人</span>
              <span class='button' name='對古代' value='0' >古代種</span>
            </td>
          </tr>
          <tr>
            <th colspan="2">能力</th>
            <td colspan="4" class="select_ability">
              <span class='button smallicon'name='降攻'value='0'><i id='atkdown'class="ability_icon"></i><span> 使攻擊力下降</span></span>
              <span class='button smallicon'name='增攻'value='0'><i id='atkup'class="ability_icon"></i><span> 攻擊力上升</span></span>
              <span class='button smallicon'name='免疫降攻'value='0'><i id='noatkdown'class="ability_icon"></i><span> 攻擊力下降無效</span></span>
              <span class='button smallicon'name='善於攻擊'value='0'><i id='goodat'class="ability_icon"></i><span> 善於攻擊</span></span>
              <span class='button smallicon'name='很耐打'value='0'><i id='morehp'class="ability_icon"></i><span> 很耐打</span></span>
              <span class='button smallicon'name='超級耐打'value='0'><i id='morehp_ex'class="ability_icon"></i><span>超級耐打</span></span>
              <span class='button smallicon'name='超大傷害'value='0'><i id='bighurt'class="ability_icon"></i><span> 超大傷害</span></span>
              <span class='button smallicon'name='極度傷害'value='0'><i id='bighurt_ex'class="ability_icon"></i><span>極度傷害</span></span>
              <span class='button smallicon'name='爆擊'value='0'><i id='criticalhit'class="ability_icon"></i><span> 會心一擊</span></span>
              <span class='button smallicon'name='擊退'value='0'><i id='goaway'class="ability_icon"></i><span> 打飛敵人</span></span>
              <span class='button smallicon'name='免疫擊退'value='0'><i id='nogoaway'class="ability_icon"></i><span> 打飛無效</span></span>
              <span class='button smallicon'name='連續攻擊'value='0'><i id='serialatk'class="ability_icon"></i><span> 連續攻擊</span></span>
              <span class='button smallicon'name='不死剋星'value='0'><i id='killdeath'class="ability_icon"></i><span> 不死剋星</span></span>
              <span class='button smallicon'name='緩速'value='0'><i id='slow'class="ability_icon"></i><span> 使動作變慢</span></span>
              <span class='button smallicon'name='免疫緩速'value='0'><i id='noslow'class="ability_icon"></i><span> 使動作變慢無效</span></span>
              <span class='button smallicon'name='暫停'value='0'><i id='stop'class="ability_icon"></i><span> 使動作停止</span></span>
              <span class='button smallicon'name='免疫暫停'value='0'><i id='nostop'class="ability_icon"></i><span> 使動作停止無效</span></span>
              <span class='button smallicon'name='遠方攻擊'value='0'><i id='faratk'class="ability_icon"></i><span> 遠方攻擊</span></span>
              <span class='button smallicon'name='復活'value='0'><i id='surive'class="ability_icon"></i><span> 死前存活</span></span>
              <span class='button smallicon'name='波動'value='0'><i id='wave'class="ability_icon"></i><span> 波動</span></span>
              <span class='button smallicon'name='免疫波動'value='0'><i id='nowave'class="ability_icon"></i><span> 波動傷害無效</span></span>
              <span class='button smallicon'name='抵銷波動'value='0'><i id='stopwave'class="ability_icon"></i><span> 波動滅止</span></span>
              <span class='button smallicon'name='2倍金錢'value='0'><i id='2money'class="ability_icon"></i><span> 得到很多金錢</span></span>
              <span class='button smallicon'name='攻城'value='0'><i id='castle'class="ability_icon"></i><span> 善於攻城</span></span>
              <span class='button smallicon'name='免疫傳送'value='0'><i id='notrans'class="ability_icon"></i><span> 傳送無效</span></span>
              <span class='button smallicon'name='破盾'value='0'><i id='breakshell'class="ability_icon"></i><span> 破壞護盾</span></span>
              <span class='button smallicon'name='1次攻擊'value='0'><i id='1atk'class="ability_icon"></i><span> 一次攻擊</span></span>
              <span class='button smallicon'name='鋼鐵'value='0'><i id='metal'class="ability_icon"></i><span> 鋼鐵</span></span>
              <span class='button smallicon'name='免疫古代詛咒'value='0'><i id='nocurse'class="ability_icon"></i><span>古代的詛咒無效</span></span>
            </td>
          </tr>
          <tr>
            <th colspan="2">本能</th>
            <td colspan="4" class="select_ability">
              <span class='button smallicon'name='本能'value='0'><i id='instinct'class="ability_icon"></i><span>本能</span></span>
              <span class='button smallicon'name='基本體力上升'value='0'><i id='hpup'class="ability_icon"></i><span>基本體力上升</span></span>
              <span class='button smallicon'name='基本攻擊力上升'value='0'><i id='atkinc'class="ability_icon"></i><span>基本攻擊力上升</span></span>
              <span class='button smallicon'name='生產金額減少'value='0'><i id='discount'class="ability_icon"></i><span>生產金額減少</span></span>
              <span class='button smallicon'name='移動加快'value='0'><i id='speedup'class="ability_icon"></i><span>移動加快</span></span>
              <span class='button smallicon'name='降攻抗性'value='0'><i id='weakdefend'class="ability_icon"></i><span>降攻抗性</span></span>
              <span class='button smallicon'name='暫停抗性'value='0'><i id='stopdefend'class="ability_icon"></i><span>暫停抗性</span></span>
              <span class='button smallicon'name='緩速抗性'value='0'><i id='slowdefend'class="ability_icon"></i><span>緩速抗性</span></span>
              <span class='button smallicon'name='擊退抗性'value='0'><i id='pushdefend'class="ability_icon"></i><span>擊退抗性</span></span>
              <span class='button smallicon'name='波動 抗性'value='0'><i id='wavedefend'class="ability_icon"></i><span>波動 抗性</span></span>
              <span class='button smallicon'name='古代詛咒抗性'value='0'><i id='cursedefend'class="ability_icon"></i><span>古代詛咒抗性</span></span>
            </td>
          </tr>
        </table>
        <table id="gacha_table" style="display:none">
          <tr class="gacha_search">
            <th>常駐轉蛋</th>
            <td>
              <span class="button" name="unknown" value='0'>傳說的不明貓一族</span>
              <span class="button" name="explosion" value='0'>超激烈爆彈</span>
              <span class="button" name="basalasu" value='0'>戰國武神 巴薩拉斯</span>
              <span class="button" name="galaxy_girl" value='0'>電腦學園銀河美少女團</span>
              <span class="button" name="dragon" value='0'>超破壞大帝 龍皇因佩拉斯</span>
              <span class="button" name="ancient_hero" value='0'>超古代勇者 超級靈魂勇者</span>
              <span class="button" name="dark_hero" value='0'>逆襲的戰士 黑暗英雄</span>
              <span class="button" name="god" value='0'>究極降臨 巨神宙斯</span>
              <span class="button" name="revolution" value='0'>革命軍隊鋼鐵戰團</span>
              <span class="button" name="elf" value="0">古靈精怪元素小精靈</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>限定轉蛋</th>
            <td>
              <span name="red_destroy" class="button" value="0">紅色破壞者</span>
              <span name="float_destroy" class="button" value="0">飄浮破壞者</span>
              <span name="metal_destroy" class="button" value="0">鋼鐵破壞者</span>
              <span name="special_cat" class="button" value="0">特級貓咪祭</span>
              <span name="halloween" class="button" value="0">萬聖節轉蛋</span>
              <span name="christmas" class="button" value="0">聖誕美少女</span>
              <span name="easter" class="button" value="0">復活節嘉年華轉蛋</span>
              <span name="summer" class="button" value="0">夏日美少女團</span>
              <span name="super_cat" class="button" value="0">超級貓咪祭</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>其他</th>
            <td>
              <span name="monster_girl" class="button" value="0">絕命美少女怪物萌娘隊</span>
              <span name="super_choose" class="button" value="0">超強精選</span>
              <span name="invincible_choose" class="button" value="0">無敵精選</span>
              <span name="super_select" class="button" value="0">超級選拔祭</span>
              <span name="platinum" class="button" value="0">白金轉蛋</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>活動轉蛋</th>
            <td>
              <span name="Fate" class="button" value="0">Fate 合作活動</span>
              <span name="eva" class="button" value="0">EVA福音戰士</span>
              <span name="baseball" class="button" value="0">實況野球 合作活動</span>
              <span name="maylook" class="button" value="0">梅露可物語 合作活動</span>
              <span name="egg" class="button" value="0">蛋黃哥 合作活動</span>
              <span name="crash_fever" class="button" value="0">Crash Fever 合作活動</span>
              <span name="destroy_city" class="button" value="0">消滅都市 ｘ 貓咪大戰爭</span>
              <span name="metal_slug_defense" class="button" value="0">越南大戰 合作活動</span>
            </td>
          </tr>
          <tr class="gacha_search">
            <th>無轉蛋合作活動</th>
            <td>
              <span name="castleAndDragon" class="button" value="0">城與龍 合作活動</span>
            </td>
          </tr>
        </table>
        <table id="lower_table" style="display:none">
          <tbody>
            <tr>
              <th rowspan="2" id="selectAll"> 啟用 </th>
              <th colspan="8"> 數值篩選器 </th>
            </tr>
            <tr>
              <th class="filter_option" id="hp" lv-bind="true" value="20000" type="0" range="[1000,100000]" step="1000" active="false">體力</th>
              <th class="filter_option" id="dps" lv-bind="true" value="3000" type="0" range="[100,10000]" step="100" active="false">DPS</th>
              <th class="filter_option" id="speed" lv-bind="false" value="10" type="0" range="[1,100]" step="1" active="false">速度</th>
              <th class="filter_option" id="cost" lv-bind="false" value="1000" type="0" range="[10,5000]" step="10" active="false">花費</th>
              <th class="filter_option" id="freq" lv-bind="false" value="5" type="0" range="[1,20]" step="0.5" active="false">攻頻</th>
              <th class="filter_option" id="atk" lv-bind="true" value="10000" type="0" range="[1000,100000]" step="1000" active="false">攻撃力</th>
              <th class="filter_option" id="range" lv-bind="false" value="300" type="0" range="[10,1000]" step="10" active="false">射程</th>
              <th class="filter_option" id="cd" lv-bind="false" value="5" type="0" range="[2,300]" step="1" active="false">再生産</th>
            </tr>
            <tr id="slider_holder">
              <td class="active"></td>
              <td colspan="6">
                <div class="slider"></div>
              </td>
              <td class="value_display" colspan="1"></td>
              <td class="type"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button id="search_ability" value='normal'>GO</button>
      <div class="compareSorce">
        <div class="title">
          <span>搜尋篩選結果</span>
          <div id="option">
            <i class="material-icons"id="result_expand" text='展開'>&#xe240;</i>
            <i class="material-icons"id="result_snapshot" text='截圖'>&#xe439;</i>
            <i class="material-icons"id="batch_own" text='批次加入我的貓咪圖鑑'>&#xe7f0;</i>
            <i class="material-icons"id="batch_compare" text='批次加入比較序列'>&#xE8CC;</i>
            <i class="material-icons"id="Gogacha" text='去轉蛋' style="display:none">&#xE332;</i>
          </div>
          <span id="result_count">共<span></span>筆結果</span>
        </div>
        <div id="query"></div>
        <div id="selected"></div>
        <div class="button_group" style="margin-top:10px" >
          <button id="pre_sel_pg"><span class="glyphicon glyphicon-chevron-up"></span>上一排</button>
          <span id="page_dot"></span>
          <button id="next_sel_pg">下一排<span class="glyphicon glyphicon-chevron-down"></span></button>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="displayControl">
        <div class="data">
          <span id="rarity">稀有度</span>
          <span id="img"></span>
          <span id="name"></span>
        </div>
        <div class="position non_mobile">
          <span onclick="scroll_to_class('dataTable')">基本資料</span>
          <span onclick="scroll_to_class('instinctTable')">本能</span>
          <span onclick="scroll_to_class('comboTable')">發動聯組</span>
          <span onclick="scroll_to_class('surveyTable')">統計數據</span>
          <span onclick="scroll_to_class('commentTable')">評論</span>
        </div>
        <div class="control">
          <i class="material-icons"id='mark_own' value='0' text='我沒有這隻貓'>&#xE8E7;</i>
          <i class="material-icons"id='addcart'text='加到購物車'>&#xE8CC;</i>
          <a target='blank' id="out"><i class="material-icons"text='在超絕攻略網打開'>&#xe895;</i></a>
          <i class="material-icons"id='snapshot'text='截圖'>&#xe439;</i>
        </div>
      </div>
      <div class="display" style="pointer-events:none">
        <table class="dataTable">
          <tr>
            <td style="background:#e9d6ad;"colspan='6'><div id="title"></div></td>
          </tr>
          <tr>
            <th colspan='1'>等級</th>
            <td colspan='4' class='level'><div id='level' class='slider'></div></td>
            <td><span id='level_num'>30</span></td>
          <tr>
            <th>體力</th><td id='hp'><span class='editable'></span></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'><span class='editable'></span></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'><span class='editable'></span></td>
            <th>DPS</th><td id='dps'><span class='editable'></span></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <td colspan='2' rowspan='3' id='aoe'></td>
          </tr>
          <tr>
            <th>攻擊週期</th><td id='atk_period'></td>
            <th>攻發時間</th><td id='atk_speed'></td>
          </tr>
          <tr>
            <th>花費</th><td id='cost'></td>
            <th>再生産</th><td id='cd'></td>
          </tr>
          <tr><th>取得方法</th><td colspan='5' id='condition'></td></tr>
          <tr><th>特性</th><td colspan = '5' id='char'></td></tr>
        </table>

        <div id="instinct_head" class="tableTitle" active='0'>本能(三階開放)</div>
        <table class="instinctTable"></table>

        <div id="combo_head" class="tableTitle" active='0'>發動聯組</div>
        <table class="comboTable"></table>

        <div id="survey_head" class="tableTitle" active='0'>統計數據</div>
        <div class="surveyTable">
          <div class="survey">
            <div class="th"style="padding:0 20">暱稱</div>
            <div id='nickname'class="td">
              <div>暫無暱稱</div>
              <span id="add_nick"><i class="material-icons">&#xe145;</i></span>
              <span id="confirm_nick" style="display:none"><i class="material-icons">&#xe5ca;</i></span>
              <span id="cancel_nick" style="display:none"><i class="material-icons">&#xe5cd;</i></span>
            </div>
          </div>
          <div class="survey">
            <div class="th">實用度評分</div>
              <div style="flex-direction:column" class="td" id="rank">
                <div style="margin-bottom:5px">
                  <svg width='86' height='86' id="rank_c">
                    <circle cx='43' cy='43' r='40' stroke='rgba(194, 194, 194, 0.88)' stroke-width='6' fill='none'></circle>
                    <text x="26,46,26,46" y="40" dy='0,0,20'>尚無評分</text>
                  </svg>
                </div>
                <span new='true' type='total'>
                  <i class="material-icons" value='0' no='1'>&#xe885;</i>
                  <i class="material-icons" value='0' no='2'>&#xe885;</i>
                  <i class="material-icons" value='0' no='3'>&#xe885;</i>
                  <i class="material-icons" value='0' no='4'>&#xe885;</i>
                  <i class="material-icons" value='0' no='5'>&#xe885;</i>
                </span>
              </div>
              <div id="rank_detail" class="td">
                <div class="detail">
                  <span style="display:flex;align-items:center">
                    <span style="font-size:14px">5</span>
                    <i class="material-icons" style="font-size:14px">&#xe885;</i>
                  </span>
                  <div>
                    <span class="char" style="background-color:rgb(38, 208, 86)"></span>
                    <span class="num">0</span>
                  </div>
                </div>
                <div class="detail">
                  <span style="display:flex;align-items:center">
                    <span style="font-size:14px">4</span>
                    <i class="material-icons" style="font-size:14px">&#xe885;</i>
                  </span>
                  <div>
                    <span class="char" style="background-color:rgb(133, 242, 110)"></span>
                    <span class="num">0</span>
                  </div>
                </div>
                <div class="detail">
                  <span style="display:flex;align-items:center">
                    <span style="font-size:14px">3</span>
                    <i class="material-icons" style="font-size:14px">&#xe885;</i>
                  </span>
                  <div>
                    <span class="char" style="background-color:rgb(241, 222, 48)"></span>
                    <span class="num">0</span>
                  </div>
                </div>
                <div class="detail">
                  <span style="display:flex;align-items:center">
                    <span style="font-size:14px">2</span>
                    <i class="material-icons" style="font-size:14px">&#xe885;</i>
                  </span>
                  <div>
                    <span class="char" style="background-color:rgb(241, 158, 48)"></span>
                    <span class="num">0</span>
                  </div>
                </div>
                <div class="detail">
                  <span style="display:flex;align-items:center">
                    <span style="font-size:14px">1</span>
                    <i class="material-icons" style="font-size:14px">&#xe885;</i>
                  </span>
                  <div>
                    <span class="char" style="background-color:rgb(232, 75, 75)"></span>
                    <span class="num">0</span>
                  </div>
                </div>
              </div>
          </div>
          <div class="survey">
            <div class="td">
              <svg height='200' width='238.56' id="rank_respec">
                <path d='M 119.28 20 l 69.28 40 l 0 80 l -69.28 40 l -69.28 -40 l 0 -80 l 69.28 -40'
                stroke="gray" stroke-width="1" fill="none"></path>
                <path d='M 119.28 36 l 55.43 32 l 0 64 l -55.43 32 l -55.43 -32 l 0 -64 l 55.43 -32'
                stroke="gray" stroke-width="1" fill="none"></path>
                <path d='M 119.28 52 l 41.57 24 l 0 48 l -41.57 24 l -41.57 -24 l 0 -48 l 41.57 -24'
                stroke="gray" stroke-width="1" fill="none"></path>
                <path d='M 119.28 68 l 27.71 16 l 0 32 l -27.71 16 l -27.71 -16 l 0 -32 l 27.71 -16'
                stroke="gray" stroke-width="1" fill="none"></path>
                <path d='M 119.28 84 l 13.86 8 l 0 16 l -13.86 8 l -13.86 -8 l 0 -16 l 13.86 -8'
                stroke="gray" stroke-width="1" fill="none"></path>
                <line x1='119.28' y1='20' x2='119.28' y2='180' stroke='gray' stroke-width='1'></line>
                <line x1='50' y1='60' x2='188.56' y2='140' stroke='gray' stroke-width='1'></line>
                <line x1='50' y1='140' x2='188.56' y2='60' stroke='gray' stroke-width='1'></line>
                <text x='96'y='16'>攻擊力</text> <text x='16'y='50'>控場力</text>
                <text x='16'y='160'>價格</text> <text x='102'y='196'>體力</text>
                <text x='170'y='170'>攻擊範圍</text> <text x='180'y='50'>速度</text>
              </svg>
            </div>
            <div class="td"style="flex-direction:column">
              <div class="rank_holder"><div class='th'>攻擊力</div><div colspan="3" class="rank_respec"></div></div>
              <div class="rank_holder"><div class='th'>控場力</div><div colspan='3' class="rank_respec"></div></div>
              <div class="rank_holder"><div class='th'>價格</div><div colspan='3' class="rank_respec"></div></div>
              <div class="rank_holder"><div class='th'>體力</div><div colspan='3' class="rank_respec"></div></div>
              <div class="rank_holder"><div class='th'>攻擊範圍</div><div colspan='3' class="rank_respec"></div></div>
              <div class="rank_holder"><div class='th'>速度</div><div colspan='3' class="rank_respec"></div></div>
            </div>
          </div>
          <div class="survey">
            <div class="th"style="padding:0 20">定位</div>
            <div class="td">
              <div class="pos_holder">
                <div class="th">砲灰</div>
                <div class='describe'>便宜且生產快速，可以拖延戰線的推進</div>
                <div class="num"></div>
                <div class="application" ></div>
              </div>
              <div class="pos_holder">
                <div class="th">攻擊手</div>
                <div class='describe'> 主要為我方推線的角色</div>
                <div class="num"></div>
                <div class="application" ></div>
              </div>
              <div class="pos_holder">
                <div class="th">控場</div>
                <div class='describe'> 以各種妨礙效果阻止敵人推進</div>
                <div class="num"></div>
                <div class="application" ></div>
              </div>
              <div class="pos_holder">
                <div class="th">快攻手</div>
                <div class='describe'> 跑速快，通常有擊退反擊特性，可以迅速衝入敵人射程，給予重創</div>
                <div class="num"></div>
                <div class="application" ></div>
              </div>
              <div class="pos_holder">
                <div class="th">肉盾</div>
                <div class='describe'> 有高血量可以有效阻擋戰線被推進</div>
                <div class="num"></div>
                <div class="application" ></div>
              </div>
              <div class="pos_holder">
                <div class="th">坦攻</div>
                <div class='describe'> 高血量且具有一定攻擊力，可以坦入敵人射程內給予傷害</div>
                <div class="num"></div>
                <div class="application" ></div>
              </div>
            </div>
          </div>
        </div>

        <div id="comment_head" class="tableTitle" active='0'>評論</div>
        <table class="commentTable">
          <tr><th>
            <div class="comment_input">
              <textarea rows='1' maxlength='100' placeholder="想說什麼呢..."></textarea>
              <i class="material-icons" id="comment_submit">&#xe163;</i>
            </div>
          </th></tr>
        </table>
      </div>

    </div>


    <div id="compareTarget_tag" class="left-side-active" style="height:200" active='0'>
      貓咪購物車
      <span id="compare_number">0</span>
    </div>
    <div class="compareTarget_holder left-side-column" active='0'>
      <div class="compareTarget_holder" style="height:calc(100% - 100px);overflow:scroll">
        <div class="compareTarget"></div>
      </div>
      <div class="functionArea">
        <i class="material-icons" id="clear_compare" text='全部清除'> clear_all </i>
        <i class="material-icons" id="start_compare" text='開始比較'> forward </i>
      </div>
    </div>

    <div id="TOOLTIP">This is a tool tip</div>
    <div id="batch_alert">已加入圖鑑 <i class="material-icons">&#xe877;</i></div>
    <div id="canvas_holder">
      <div class="picture"></div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class='compare_panel'>
      <span id='show'>顯示</span>
      <span id='del'>刪除</span>
    </div>
    <div id='compare_panel_BG'></div>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/html2canvas.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <script src="/js/class.js"></script>
    <script src="/js/overall.js"></script>
    <script src="/js/cat.js"></script>
    <script src="/js/AddToCompare.js"></script>
    <script src="/js/SearchCatEnemy.js"></script>
    <script src="/js/Comment.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
