<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>聯組資料庫</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon_combo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
  </head>
  <body>

    <div class="page_1">
      <div class="content">
        <table id="upper_table">
          <tr>
            <th colspan="2" id="C0">角色性能</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C0E0' value='0'>角色攻擊力UP</span>
              <span class='button' name='C0E1' value='0'>角色體力UP</span>
              <span class='button' name='C0E2' value='0'>角色移動速度UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C1">角色特殊能力</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C1E0' value='0'>「善於攻擊」的效果UP</span>
              <span class='button' name='C1E1' value='0'>「超大傷害」的效果UP</span>
              <span class='button' name='C1E2' value='0'>「很耐打」的效果UP</span>
              <span class='button' name='C1E3' value='0'>「打飛敵人」的效果UP</span>
              <span class='button' name='C1E4' value='0'>「使動作變慢」的時間UP</span>
              <span class='button' name='C1E5' value='0'>「使動作停止」的時間UP</span>
              <span class='button' name='C1E6' value='0'>「攻擊力下降」的時間UP</span>
              <span class='button' name='C1E7' value='0'>「攻擊力上升」的效果UP</span>
              <span class='button' name='C1E8' value='0'>「使徒殺手」的效果UP</span>
              <span class='button' name='C1E9' value='0'>「會心一擊」的機率UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C2">貓咪城</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C2E0' value='0'>初期貓咪砲能量值UP</span>
              <span class='button' name='C2E1' value='0'>貓咪砲玫擊力UP</span>
              <span class='button' name='C2E2' value='0'>貓咪砲充電速度UP</span>
              <span class='button' name='C2E3' value='0'>城堡耐久力UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C3">持有金額．工作狂貓</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C3E0' value='0'>初期所持金額UP</span>
              <span class='button' name='C3E1' value='0'>初期工作狂貓等級UP</span>
              <span class='button' name='C3E2' value='0'>工作狂貓錢包UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C4">戰鬥效果</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C4E0' value='0'>研究力UP</span>
              <span class='button' name='C4E1' value='0'>會計能力UP</span>
              <span class='button' name='C4E2' value='0'>學習力UP</span>
            </td>
          </tr>
        </table>
        <button id="search_combo" >GO</button>

        <div class="display">
          <table class="dataTable">
          </table>
        </div>

      </div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/combo.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
