<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>聯組資料庫</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_combo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/FloatDisplay.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
    <style>
      .dataTable i{
        position: absolute;
        right: 10px;
        top: 30%;
        border-radius: 50%;
        padding: 3px;
        background-color: lightgray;
        transition: .2s ease-in-out;
        cursor: pointer;
      }
      .dataTable i:hover,
      .dataTable i[value='1']{
        background-color: gray;
        color:#e9ad3f;
      }
      .dataTable tr[dark='true'] td {background-color: rgba(75, 75, 75, 0.85)}
      .dataTable tr[dark='true'] th {background-color: rgba(148, 128, 97, 0.89)}
      #more_combo > td{
        background-color: rgba(255, 255, 255, 0.6);
        border: 3px solid #feb12f;
      }
      /* #more_combo i{display: none;} */
      .seat{
        width: 90px;
        height: 60px;
        display: block;
        background-color: rgba(195, 195, 195, 0.8);
        text-align: center;
        font-size: 40;
        font-weight: bold;
        color: #b4b4b4;
        margin: 5
      }
      @media screen and (max-width:768px) {
        .seat{width: 75;height: 50}
        .comboPic div{justify-content: center;}
      }
      @media screen and (max-width:425px) {
        .dataTable i{display: none;}
      }
    </style>
  </head>
  <body>

    <div class="page_1">
      <div class="content">
        <table id="upper_table">
          <tr>
            <th colspan="2" id="C0">角色性能</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C0E0' value='0'>角色攻擊力UP</span>
              <span class='button' name='C0E1' value='0'>角色體力UP</span>
              <span class='button' name='C0E2' value='0'>角色移動速度UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C1">角色特殊能力</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C1E0' value='0'>「善於攻擊」的效果UP</span>
              <span class='button' name='C1E1' value='0'>「超大傷害」的效果UP</span>
              <span class='button' name='C1E2' value='0'>「很耐打」的效果UP</span>
              <span class='button' name='C1E3' value='0'>「打飛敵人」的效果UP</span>
              <span class='button' name='C1E4' value='0'>「使動作變慢」的時間UP</span>
              <span class='button' name='C1E5' value='0'>「使動作停止」的時間UP</span>
              <span class='button' name='C1E6' value='0'>「攻擊力下降」的時間UP</span>
              <span class='button' name='C1E7' value='0'>「攻擊力上升」的效果UP</span>
              <span class='button' name='C1E8' value='0'>「使徒殺手」的效果UP</span>
              <span class='button' name='C1E9' value='0'>「會心一擊」的機率UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C2">貓咪城</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C2E0' value='0'>初期貓咪砲能量值UP</span>
              <span class='button' name='C2E1' value='0'>貓咪砲玫擊力UP</span>
              <span class='button' name='C2E2' value='0'>貓咪砲充電速度UP</span>
              <span class='button' name='C2E3' value='0'>城堡耐久力UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C3">持有金額．工作狂貓</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C3E0' value='0'>初期所持金額UP</span>
              <span class='button' name='C3E1' value='0'>初期工作狂貓等級UP</span>
              <span class='button' name='C3E2' value='0'>工作狂貓錢包UP</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" id="C4">戰鬥效果</th>
            <td colspan="4"class='select_effect' >
              <span class='button' name='C4E0' value='0'>研究力UP</span>
              <span class='button' name='C4E1' value='0'>會計能力UP</span>
              <span class='button' name='C4E2' value='0'>學習力UP</span>
            </td>
          </tr>
        </table>
        <button id="search_combo" >GO</button>

        <div class="display">
          <table class="dataTable">
          </table>
        </div>

      </div>
    </div>

    <div class="floatDisplay_holder">
      <div class="floatDisplay">
        <i class="material-icons"> close </i>
        <table class="dataTable">
          <tr class="non_mobile">
            <th style='height:80px;padding:0' class="img"></th>
            <th colspan=5 rarity='data.rarity' class='name'></th>
          </tr>
          <tr class="mobile">
            <th class="name" colspan="6"></th>
          </tr>
          <tr class="mobile">
            <th style='height:80px;padding:0;background-color:transparent;' colspan="6" class="img">
            </th>
          </tr>
          <tr>
            <th colspan='1'><span>等級</span></th>
            <td colspan=5 id='lv'>
              <span style='margin:0 10px'></span>
            </td>
          </tr>
          <tr>
            <th>體力</th><td id='hp'></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'></td>
            <th>DPS</th><td id='DPS'></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <td colspan='2' rowspan='3' id='aoe'></td>
          </tr>
          <tr>
            <th>花費</th><td id='cost'></td>
            <th>再生產</th><td id='cd'></td>
          </tr>
          <tr>
            <th>獲得金錢</th><td id='reward'></td>
            <th>屬性</th><td id='color'></td>
          </tr>
          <tr>
            <td colspan='6' id='char'></td>
          </tr>
        </table>
        <div style="display:flex;justify-content:flex-end">
          <span>更多詳細資料 ></span>
        </div>
      </div>
    </div>


    <div class="tutorial">
      <div class="article">
        <h1 style="text-align:center">聯組資料庫用法</h1>
        <h2>開始使用</h2>
        <ol>
          <li>從頁面上方的聯組分類選擇欲查詢的聯組種類(可多選)</li>
          <li>
            點擊<button>GO</button>系統即會載入所選聯組
          </li>
        </ol>
        <h2>進階查詢</h2>
        <p>
          點擊聯組中的貓咪圖片即可在漂浮顯示中顯示貓咪資料，
          如欲察看詳細資料，請點選右下角之<span>更多詳細資料></span>
        </p>
        <h2>聯組延伸</h2>
        <p>
          所有聯組結果之右方皆有一聯組延伸按鈕
          <i class="material-icons">playlist_add</i>
          ，點擊即可啟用聯組延伸功能，功能如下:
        </p>
        <ul>
          <li>
            <b style="text-decoration:underline">自動更新包含聯組: </b><br />
            <span>包含聯組</span>之定義為該聯組中的貓咪全部出現在
            本聯組中。系統會自動計算出所有包含聯組並將其類別、名稱、效果，
            附加於本聯組之類別、名稱、效果後方。
          </li>
          <li>
            <b style="text-decoration:underline">可疊加聯組列表: </b><br />
            <span>可疊加聯組</span>之定義為該聯組中至少包含一隻以上
            本聯組中存在的貓咪(不限階級)。可疊加聯組列表會從交集最多
            的聯組開始列出。若該聯組同時也是包含聯組，則不顯示。
          </li>
          <li>
            <b style="text-decoration:underline">其他可容納聯組: </b><br />
            其他聯組中貓咪數量與本聯組相加後，不超過出陣列表第一排上限(5隻)者，
            因結果量龐大，故不會全部列出，請在聯組延伸區塊之最底下，
            <span>查看其他聯組</span>處，選擇類別與效果，來顯示該類別中
            符合上述條件的聯組。
          </li>
          <li>
            <span style="text-decoration:underline">聯組合併: </span><br />
            點選聯組延伸結果中的各聯組右方之
            <i class="material-icons">merge_type</i>
            按鈕，即可將該聯組與本聯組以類似「包含聯組」
            的方式將類別、名稱、效果和內容合併，並取代原本聯組。
            合併完成後，聯組延伸結果區將關閉。此延伸聯組同樣也可以執行
            <span>聯組延伸</span>的功能，再繼續合併更多的聯組。
          </li>
        </ul>
      </div>
      <button action='known'>我知道了</button>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/combo.js"></script>
    <script src="./js/FloatDisplay.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
