<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>貓咪比較器</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_compare.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/compare.css" />
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
  </head>
  <body>

    <div class="page_1">
      <div class="compareDisplay">
        <div class="compareTable">
          <div class='comparedatahead'>
            <table>
              <tr><th>Level</th></tr>
              <tr><th style='height:80px;'>Picture</th></tr>
              <tr><th id='name'>全名</th></tr>
              <tr><th id='rarity'>稀有度</th></tr>
              <tr><th id='hp'>體力</th></tr>
              <tr><th id='kb'>KB</th></tr>
              <tr><th id='hardness'>硬度</th></tr>
              <tr><th id='atk'>攻擊力</th></tr>
              <tr><th id='dps'>DPS</th></tr>
              <tr><th id='range'>射程</th></tr>
              <tr><th id='freq'>攻頻</th></tr>
              <tr><th id='speed'>跑速</th></tr>
              <tr><th id='multi'>範圍</th></tr>
              <tr><th id='cost'>花費</th></tr>
              <tr><th id='cd'>再生産</th></tr>
              <tr><th id='char'>特性</th></tr>
            </table>
          </div>
          <div class='comparedataholder'>
            <div style='display:flex' class='comparedatabody'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='panel' value='0'>
      <span id="del">移除</span>
      <span id="hide">隱藏</span>
      <span id="switch">切換階級</span>
      <span id="own">我有這隻貓</span>
    </div>

    <div class="side_bar">
      <div id='nav_zoom_in' class="floatbutton"><i class="material-icons">&#xe145;</i></div>
      <div id='nav_zoom_out' class="floatbutton"><i class="material-icons">&#xe15b;</i></div>
      <div id='nav_org' class="floatbutton"><i class="material-icons">&#xe5d1;</i></div>
      <div id='showall' class="floatbutton"><i class="material-icons">&#xe417;</i></div>
      <div id='snapshot' class="floatbutton"><i class="material-icons">&#xe439;</i></div>
    </div>

    <div id="canvas_holder">
      <div class="picture"></div>
    </div>

    <div class="tutorial">
      <div class="article">
        <h1 style="text-align:center">比較器用法</h1>
        <h2>開始使用</h2>
        <p>
          在<span>貓咪資料庫</span>中，點選搜尋到的貓咪旁邊的購物車按鈕
          <i class="material-icons" style="border:1px solid;border-radius:50%;padding:4">&#xE8CC;</i>
          ，即可將該貓咪加入比較器，也可以從查詢結果的功能列中批次加入貓咪。
        </p>
        <h2>微調</h2>
        <ul>
          <li><span style="text-decoration:underline">調整比較等級</span> :
            在加入購物車前先調整等級，或是在本頁面每隻貓的上方修改 </li>
          <li><span style="text-decoration:underline">調整比較階級</span> :
            先切換好階級再點選加入購物車按鈕，
            或是叫出每隻貓的等級右方的更多選項中的切換階級 </li>
          <li><span style="text-decoration:underline">移除</span> :
            在貓咪資料庫的比較序列中，點選欲移除的貓咪，並在彈出的選單中刪除，
            或是叫出每隻貓的等級右方的更多選項中的刪除</li>
        </ul>
        <h2>其他功能</h2>
        <ul>
          <li>
            將滑鼠懸浮至頁面右方，可以叫出選單。選單中的各項功能分別是:
            <ul>
              <li>放大內容</li>
              <li>縮小內容</li>
              <li>恢復原始比例</li>
              <li>顯示所有貓</li>
              <li>截圖</li>
            </ul>
          </li>
          <li>
            每隻貓的等級右方的更多選項中，可以<span>隱藏</span>該隻貓，
            不同於刪除，隱藏並不會將貓咪移出比較序列，可以在上述的選單中
            以"顯示所有貓"來重新顯示，若是刪除，只能從資料庫重新加回該貓。
          </li>
          <li>
            <span>點擊個橫列最前面的名稱</span>，可以以該項資料排序比較中的貓咪，
            而點"特性"則可以切換是否顯示詳細的特性敘述
          </li>
          <li>
            當比較數量超過顯示器顯示大小時:
            <ul>
              <li>在<span>可觸控</span>裝置上，可直接左右滑動來瀏覽超過顯示範圍之貓咪</li>
              <li>在有<span>精確觸控板</span>之電腦上，可左右滑動觸控板來瀏覽</li>
              <li>在以上功能皆無之傳統電腦，則可以<span>方向鍵左右</span>移動瀏覽範圍</li>
            </ul>
          </li>
        </ul>
      </div>
      <button action='known'>我知道了</button>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/compare.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
