<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/navBar.css" />
    <link rel="stylesheet" href="/css/overall.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/rwd.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <style>
      input{
        border: 0;
        background: rgba(255,255,255,.8);
        padding: 3 5;
        border-radius: 10px;
        border-bottom: 1px solid gray;
      }
      th img{width: 120}
      #result{
        width: 100%;
        padding: 20;
        background-color: black;
        font-family: Consolas;
        color: #5cfcb0;
        max-height: 50%;
        overflow-y: scroll;
      }
      #result div{margin-bottom: 20}
    </style>
    <i class="material-icons" id="PageGoToTop">expand_less</i>

    <div class="content">
      <h1>Console</h1>
      <!-- <textarea name="name" rows="8" cols="80"></textarea>
      <button id="codeSubmit" name="button">submit</button> -->
      <div id="result">
        <div>Console:</div>
      </div>
      <button onclick="fetch('onLineUser')">onLineUser</button>
      <button onclick="socket.emit('update prepare')">update prepare</button>
    </div>
    <!-- <div class="content">
      <h1>Information(update every minute)</h1>
      <table>
        <tr>
          <th>Total Cat Search</th><td id="catSearchCount"></td>
        </tr>
      </table>
    </div> -->
    <div class="content">
      <h1>Update data</h1>
      <div style="width:100%" id="fetchUnit">
        type:
        <select>
          <option>cat</option>
          <option>enemy</option>
        </select>
        id:
        <input type="text"/>
        <button onclick="fetchUnitdata()" type='cat'>fetch</button>
        <span>format: 1,4,7,10 or 153~167 or 45,3,12~15</span>
      </div>
      <div style="width:100%" id="fetchStage">
        type:
        <select>
          <option>stage</option>
        </select>
        chapter:
        <input type="text" />
        id:
        <input type="text" />
        <button onclick="fetchStagedata()">fetch</button>
        <span>format: chapter/01003-3/01003</span>
      </div>
      <button onclick="reloadAllData()">reloadAllData</button>
    </div>
    <div class="content">
      <!-- <span class="signal"></span> -->
      <h1>Rename</h1>
      <div id="renameStage" style="width:100%">
        <button onclick="loadData('stage')">Load Stage</button>
        <select id="renameStageSelec">
          <option>choose chapter</option>
        </select>
        <table class="renameStagetable"></table>
      </div>
      <div id="renameCat" style="width:100%">
        <button onclick="loadData('cat')">Load Cat</button>
        <select id="renameCatSelec">
          <option>choose ID Range</option>
          <option>1~50</option>
          <option>51~100</option>
          <option>101~150</option>
          <option>151~200</option>
          <option>201~250</option>
          <option>251~300</option>
          <option>301~350</option>
          <option>351~400</option>
          <option>401~450</option>
          <option>451~500</option>
        </select>
        <table class="renameCattable"></table>
      </div>
      <div id="renameEnemy" style="width:100%">
        <button onclick="loadData('enemy')">Load Enemy</button>
        <select id="renameEneSelec">
          <option>choose ID Range</option>
          <option>1~50</option>
          <option>51~100</option>
          <option>101~150</option>
          <option>151~200</option>
          <option>201~250</option>
          <option>251~300</option>
          <option>301~350</option>
          <option>351~400</option>
          <option>401~450</option>
          <option>451~500</option>
        </select>
        <table class="renameEnetable"></table>
      </div>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/html2canvas.min.js"></script>
    <script src="/js/class.js"></script>
    <script src="/js/overall.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
