<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>使用教學</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/document.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>

    <div class="content">
      <div class="article"id="cat">
        <h1> <span onclick="switchIframe('cat')">貓咪資料庫</span>用法 </h1>
        <h2 id="cat_0">篩選器用法</h2>
        <div class="chooser">
          <div class="search flex" >
              <select style="width:80">
                <option value="text">名字</option>
                <option value="nickname">暱稱</option>
                <option value="id">ID</option>
              </select>
              <input type="text" id="searchBox" placeholder="Search for Cats...">
              <button id="searchBut"><i class="material-icons">search</i></button>
            </div>
          <div class="search_type" style="display:flex;width:100%">
            <span value='0' >一般篩選</span>
            <span value='0' >活動篩選</span>
            <span value='0' >數值篩選</span>
            <span value='0' >篩選結果</span>
          </div>
        </div>
        <div style="margin-top:20px;text-align:center">
          圖1、貓咪篩選區，位於貓咪資料庫頁面的最上方
        </div>
        <h3 id="cat_0_0"><b>一般篩選</b></h3>
        <p>
          除了與遊戲中相同的篩選器外，另外多了一個<em>本能篩選列</em>，這邊將與本能相關的一些篩選條件從"能力"欄位中獨立出來，
          還可以用<em>本能</em>
          <i class="ability_icon" style="background-image: url('/css/footage/gameIcon/instinct.png');"></i>，
          篩選出有本能開放的角色，另外本區上方有三個功能鍵，分別是:
          <ul>
            <li> <b>屬性欄位完全符合: </b>屬性欄位中勾選的各種條件預設以or(交集)合併個單一條件的結果，若勾選了此功能，會改以<em>and(聯集)合併</em> </li>
            <li> <b>能力欄位完全符合: </b>能力欄位中勾選的各種條件預設以or(交集)合併個單一條件的結果，若勾選了此功能，會改以<em>and(聯集)合併</em> </li>
            <li>
              <b>考慮本能: </b> 有些角色的本能可以開放其新的能力或對付屬性，一般情況下該功能不會被篩選器選種，
              勾選此選項後，若角色可藉由本能開放篩選中的功能，則會一並被列在結果中
            </li>
          </ul>
        </p>
        <h3 id="cat_0_1"> <b>活動篩選</b> </h3>
        <p>
          列出了各種合作活動或常駐轉蛋，可以從此處篩選轉蛋貓咪，常駐、限定、其他轉蛋只會列出可以抽到的SSR與SSSR角色，或是限定的SR角色，
          稀有角色與一般激稀有不會在結果中顯示；而活動篩選則會列出所有與該活動相關的EX、R、SR、SSR角色。
        </p>
        <h3 id="cat_0_2"> <b>數值篩選</b> </h3>
        <p>
          此項篩選提供了更多樣的篩選功能，可以依據每隻貓咪的數據值來進行篩選，
          若該數據值與等級相關，則會以<em>使用者調整的等級</em>來計算，如果使用者沒有改變過該貓咪的等級，
          則會以使用者的預設貓咪等級來計算(可以在設定中更改)。每種數值篩選單元如下:
        </p>
        <table class="valueTable" style="background: rgba(255,255,255,0.6);padding: 10px;">
          <tr>
            <th class="filter_option" active='0' >體力</th>
            <td style="width:50vw"> <div class="slider"lv-bind="true" value="20000" type="0" range="[1000,100000]" step="1000"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
        </table>
        <div style="margin:20px 0;text-align:center">
          圖2、數值篩選單元
        </div>
        <p>
          在非啟用狀態下，數值篩選單元的名稱會以灰底白字顯示，<em>欲啟用該數值篩選請點選名稱</em>，
          否則即使有設定後方的拉桿數值，系統仍不會以該數值作為篩選依據。篩選的中類有三種:
          以上、以下、範圍，點選後方的篩選種類來輪流切換。另外，雖然調整拉桿並不會自動啟用該列，
          但切換篩選種類會自動啟用。另外，從"範圍"篩選切回"以上"時，會以最大最小的中間值作為滑桿數值。
        </p>
        <h3 id="cat_0_3"> <b>篩選結果</b> </h3>
        <table class="resultTable">
            <tbody>
            <tr>
              <th>
                <div class="title">
                  <div>
                    <i class="material-icons cir_but" text="條列顯示" id="view_list">view_list</i>
                    <i class="material-icons cir_but" text="卡牌顯示" id="view_module" style="display:none">view_module</i>
                    <i class="material-icons cir_but" text="截圖">add_a_photo</i>
                    <i class="material-icons cir_but" text="批次加入貓咪圖鑑"></i>
                    <i class="material-icons cir_but" text="批次加入比較序列"></i>
                    <i class="material-icons cir_but" text="去轉蛋" ></i>
                  </div>
                  <span >共<span>2</span>筆結果</span>
                </div>
              </th>
            </tr>
            <tr>
              <th> <div id="query"><span>稀有</span><b>|</b><span>對天使</span><span>對外星</span><b>|</b></div> </th>
            </tr>
            <tr>
              <td>
                <div id="selected" class="flex_col" view_mode="card">
                  <div data-tag="對外星 超大傷害 對外星 超大傷害 對外星 超大傷害 本能 擊退能力解放 降攻抗性 基本體力上升 基本攻擊力上升 生產金額減少" id="039" stage="2">
                    <div class="img" stage="0" active="0" style="background-image:url('css/footage/cat/u039-1.png')"></div>
                    <div class="name" active="0">車輪貓</div>
                    <div class="optional flex_col" active="0">
                      <div>價格 : 1050</div><div>攻擊距離 : 170</div>
                    </div> <div class="img" stage="1" active="0" style="background-image:url('css/footage/cat/u039-2.png')"></div>
                    <div class="name" active="0">太陽貓</div>
                    <div class="optional flex_col" active="0">
                      <div>價格 : 1050</div><div>攻擊距離 : 170</div>
                    </div> <div class="img" stage="2" active="1" style="background-image:url('css/footage/cat/u039-3.png')"></div>
                    <div class="name" active="1">雪花貓</div>
                    <div class="optional flex_col" active="1">
                      <div>價格 : 1050</div><div>攻擊距離 : 200</div>
                    </div> <div class="function flex">
                    <i class="material-icons cir_but" text="切換階級" onclick="toggleCatStage(event)">swap_vertical_circle</i>
                    <i class="material-icons cir_but" text="加到購物車" >shopping_cart</i>
                  </div>
                  </div>
                  <div data-tag="對天使 擊退 對天使 擊退 對天使 擊退" id="147" stage="0"> <div class="img" stage="0" active="1" style="background-image:url('css/footage/cat/u147-1.png')">
                  </div>
                    <div class="name" active="1">高蹺貓</div>
                    <div class="optional flex_col" active="1">
                      <div>價格 : 570</div><div>攻擊距離 : 310</div>
                    </div> <div class="img" stage="1" active="0" style="background-image:url('css/footage/cat/u147-2.png')"></div>
                    <div class="name" active="0">圖騰柱貓</div>
                    <div class="optional flex_col" active="0">
                      <div>價格 : 570</div><div>攻擊距離 : 310</div>
                    </div> <div class="img" stage="2" active="0" style="background-image:url('css/footage/cat/u147-3.png')"></div>
                    <div class="name" active="0">貓咪特技團</div>
                    <div class="optional flex_col" active="0">
                      <div>價格 : 570</div><div>攻擊距離 : 310</div>
                    </div> <div class="function flex">
                    <i class="material-icons cir_but" text="切換階級" onclick="toggleCatStage(event)">swap_vertical_circle</i>
                    <i class="material-icons cir_but" text="加到購物車" >shopping_cart</i>
                  </div>
                  </div>
                  </div>
                </div></td>
            </tr>
          </tbody>
        </table>
        <div style="margin:20px 0;text-align:center">
          圖3、貓咪篩選結果示意圖
        </div>
        <p>
          此處會列出篩選出來的貓咪，有兩種檢視模式:
          <ul>
            <li>
              <i class="material-icons cir_but" text='卡牌顯示'>view_module</i> <b style='text-decoration:underline'>卡牌顯示</b>:
              以卡牌方式顯示結果
            </li>
            <li>
              <i class="material-icons cir_but" text='條列顯示'>view_list</i> <b style='text-decoration:underline'>條列顯示</b>:
              條列每項結果
            </li>
          </ul>
          可以依照自己的喜好透過點選上方功能列中對應的按鈕來切換。
          每項結果都會有貓咪名字與圖片，另外可以在
          <span onclick="switchIframe('setting')" style="font-weight:bold;color:var(--bluegreen)">設定</span>
          中增加想要預覽的數據值，就可以不用點開貓咪，直接檢視數值。每項篩選結果中還有提供以下兩種功能:
          <ul>
            <li>
              <i class="material-icons cir_but" text="切換階級">swap_vertical_circle</i><b style="text-decoration:underline">切換階級</b>:
              點選後可以輪流切換貓咪的階級，並將階級同步到資料庫中下次開啟這隻貓的時候的預設階級
            </li>
            <li>
              <i class="material-icons cir_but" text="加到購物車">shopping_cart</i><b style="text-decoration:underline">加到購物車</b>:
              點選後可以將該貓咪加入購物車(購物車為比較器序列的暱稱，更多資訊參考下方的"比較器用法"章節)
            </li>
          </ul>
          上方功能列中除了切換檢視模式外，還有以下幾種功能:
          <ul>
            <li>
              <i class="material-icons cir_but" text="截圖">add_a_photo</i>截圖:
              展開並截圖篩選結果畫面
            </li>
            <li>
              <i class="material-icons cir_but" text="批次加入貓咪圖鑑"></i>批次加入貓咪圖鑑:
              將篩選結果中所有的貓咪加入"我的貓咪圖鑑"
            </li>
            <li>
              <i class="material-icons cir_but" text="批次加入比較序列"></i>批次加入比較序列:
              將篩選結果中所有的貓咪<em>覆蓋</em>"貓咪購物車"(比較序列)，此功能有數量上限15隻
            </li>
            <li>
              <i class="material-icons cir_but" text="去轉蛋"></i>去轉蛋:
              若為活動篩選結果，才會顯示此功能按鈕，點選後可以直接跳轉到轉蛋模擬器試試手氣
            </li>
          </ul>
          而功能列下方會列出此次的篩選條件，點選條件即可在本結果中<em>再限縮</em>至該條件，例如上方範例中為"對天使"與"對外星"的篩選結果，
          沒有開啟"能力條件完全符合"所以符合其中一種的貓咪就會被放在篩選結果中，此時若想要在此項結果中再限縮至"對外星"，
          只要點選篩選條件中的 <span style="border: 1px solid; padding: 1 5; margin: 3 5; border-radius: 20px;">對外星</span>
          即可限縮結果，再點選一次可以恢復原本的篩選結果。
          <p style="color:gray;font-size:12px">*本範例不代表真實篩選情況<br>*目前並未實作稀有度的再限縮<br>*上方範例中並未實作此項功能</p>
        </p>
        <h3 id="cat_0_4"> <b>文字篩選</b> </h3>
        <p>
          在頁面上方的搜尋列中可以用文字搜索貓咪，只要含有該關鍵字的的貓咪都會被放入篩選結果中，
          除了基本的文字搜尋，我們還提供了另外兩種搜尋方法:
          <ul>
            <li><b style="text-decoration:underline"> ID搜尋</b>: 以每隻貓咪的ID搜尋，可以用",(半形逗號)"分隔多個ID</li>
            <li>
              <b style="text-decoration:underline"> 暱稱搜尋</b>: 每隻貓咪都可以讓所有使用者加入暱稱(參考下方"貓咪問卷"部分)，此項搜尋可以用大家加入的暱稱來找尋貓咪，
              唯目前仍有一些Bug待解決，故暱稱必須要完全相符才能查詢到<br>
              <span style="color:gray;font-size:12px">*冷知識: 目前用暱稱搜尋"老婆"可以查到16筆結果(2019年6月)</span>
            </li>
          </ul>
          可以從搜尋框前置的選單中切換不同的搜尋方式。
        </p>
        <h2 id="cat_1">資料顯示區功能列</h2>
        <div class="displayControl" style="position:relative;width:100%;top:0">
          <div class="data">
            <span id="rarity">稀有度</span>
            <span id="img"></span>
            <span id="name">貓咪名稱</span>
          </div>
          <div class="position">
            <span>基本資料</span>
            <span>本能</span>
            <span>發動聯組</span>
            <span>統計數據</span>
            <span>評論</span>
          </div>
          <div class="control" style="height:40px;background:transparent;box-shadow: none;">
            <i class="material-icons cir_but" text='我沒有這隻貓'>&#xE8E7;</i>
            <i class="material-icons cir_but"text='加到購物車'>&#xE8CC;</i>
            <a target='blank' ><i class="material-icons cir_but"text='在超絕攻略網打開'>&#xe895;</i></a>
            <i class="material-icons cir_but"text='截圖'>&#xe439;</i>
          </div>
        </div>
        <div style="margin:20px 0;text-align:center">
          圖4、貓咪資料顯示區功能列
          <button onclick="document.querySelector('.displayControl').setAttribute('float',true)">切換懸浮模式</button>
        </div>
        <p>
          如圖四所示，顯示區功能列會在<em>左側資料區</em>顯示貓咪的稀有度，<em>右側功能區</em>顯示各種功能按鍵，
          當畫面滑動時，系統會偵測目前的畫面位置，當顯示區超過頁面頂端時，功能列會自動進入<em>懸浮模式</em>，
          在懸浮模式下，左側資料區除了稀有度外，會另外顯示貓咪圖片與名稱；而功能區<em>中間會顯示快速滑動目錄</em>，
          可以快速滑動頁面到資料區的不同部分，如欲在本範例中觀看懸浮模式，請點選圖說旁的"切換懸浮模式"按鈕。
        </p>
        <p>
          功能區提供的各種功能如下:
          <ul>
            <li>
              <i class="material-icons cir_but" text='我沒有這隻貓'>&#xE8E7;</i><b style="text-decoration:underline">我沒有這隻貓</b>:
              將資料顯示區的貓咪從"我的貓咪圖鑑"中加入或移除
            </li>
            <li>
              <i class="material-icons cir_but"text='加到購物車'>&#xE8CC;</i><b style="text-decoration:underline">加到購物車</b>:
              將資料顯示區的貓咪加入購物車
            </li>
            <li>
              <i class="material-icons cir_but"text='在超絕攻略網打開'>&#xe895;</i><b style="text-decoration:underline">在超絕攻略網打開</b>:
              在超絕攻略網打開資料顯示區的貓咪
            </li>
            <li>
              <i class="material-icons cir_but"text='截圖'>&#xe439;</i><b style="text-decoration:underline">截圖</b>:
              截圖資料顯示區
            </li>
          </ul>
        </p>
        <h2 id="cat_2">資料顯示區</h2>
        <p>
          基礎資料區，此處會顯示貓咪的各種基礎數值，第一列展示了貓咪三階的圖片，與目前階級的名稱，
          可以透過<em>點選圖片來切換貓咪階級</em>，此階級也會同步到資料庫中，作為下次瀏覽貓咪資料時的預設階級。<br>
          第二列可以透過滑桿或是直接點選後方等級欄位來<em>調整貓咪等級</em>，調整時與等級相關的數據也會同步更新，
          我們也提供了<em>反向查詢</em>的機制，即，在與等級相關的數值資料欄位，輸入欲達到的數值，系統會自動計算所需等級，
          並自動調整等級到該數值，以上調整後的等級都會同步到資料庫，作為下次查詢該貓咪時的預設值。
          與等級相關的數據有:
          <ul>
            <li>體力</li>
            <li>硬度</li>
            <li>攻擊力</li>
            <li>DPS</li>
          </ul>
        </p>
        <div>
          其他資料區可以藉由點選各區的區域名來展開/收合
          <div class="tableTitle" active='0'>本能(三階開放)</div>
          <table>
            <tr>
              <td>
                如果該貓咪有開放本能，則會顯示在此處。
              </td>
            </tr>
          </table>
          <div class="tableTitle" active='0'>發動聯組</div>
          <div>
            <table>
              <tbody>
                <tr class="combo">
                  <th val="C1" style="min-width:120">角色特殊能力</th>
                  <td>美術教室</td><td class="searchCombo" val="C1E2">「很耐打」 的效果UP 10%</td>
                </tr>
                <tr class="combo">
                  <td colspan="3" class="comboPic">
                    <div style="display:flex">
                      <span class="card" value="149-2" style="background-image:url(css/footage/cat/u149-2.png);"></span>
                      <span class="card" value="061-2" style="background-image:url(css/footage/cat/u061-2.png);"></span>
                      <span class="card" style="background-color: lightgray;pointer-events: none;"></span>
                      <span class="card" style="background-color: lightgray;pointer-events: none;"></span>
                      <span class="card" style="background-color: lightgray;pointer-events: none;"></span>
                    </div>
                  </td>
                </tr>
            </table>
            <div style="margin:20px 0;text-align:center">
              圖5、貓咪聯組單元示意圖
            </div>
            這裡會列出所有包含該貓咪的聯組，每個聯組單元由兩列所構成，第一列三欄中分別為:
            <ol>
              <li>聯組分類</li>
              <li>聯組名稱</li>
              <li>聯組效果</li>
            </ol>
            點擊聯組效果，可以跳轉到聯組查詢頁，查詢相同效果的聯組。第二列中則列出了發動聯組所需要的貓咪，
            圖片顯示的階級為該聯組所要求的最低階級。點擊貓咪的圖片，可以查詢該隻貓的資料。
          </div>
          <div class="tableTitle" active='0'>統計數據</div>
          <div>
            這裡可以讓所有使用者自由的對該貓咪評價，主要有以下幾個部分:
            <ul>
              <li>
                <b style="text-decoration:underline">設定暱稱:</b>
                此處可以讓大家添加平時會稱呼該貓咪用法，心得感想或是對其他暱稱的回應還請發到下方留言區。
                自己添加的暱稱會以橘框標示，點選後可以刪除該暱稱。
                (暱稱請不要違反善良風俗，或是牽扯到政治宗教)
              </li>
              <li>
                <b style="text-decoration:underline">實用度評分:</b>
                此處可以讓大家對貓咪做綜合評價，直接點擊星星即可評分。
                5顆星最高分，1顆星最低分。
              </li>
              <li>
                <b style="text-decoration:underline">個別能力評分:</b>
                此處可以讓大家對貓咪個別能力進行評價，直接點擊星星即可評分。
                攻擊力、控場力與體力都是數值越大越高分；價格則是越低越高分；
                而攻擊範圍與速度則不一定，有時跑速快反而容易衝出去被打而獲得低分
              </li>
              <li>
                <b style="text-decoration:underline">定位:</b>
                此處可以讓大家對貓咪定位進行投票，可以多選。點擊每個定位名稱旁的
                <i class="material-icons">help</i>
                可以開合詳細說明。
              </li>
            </ul>
          </div>
          <div class="tableTitle" active='0'>評論</div>
          <table>
            <tr class="comment">
              <td colspan="6" class="own">
                <div class="comment_content">
                  <span class="photo" style="background-image: url('./css/footage/cat/u450-2.png');"></span>
                  <span class="name">使用者名稱</span>
                  <div>
                    <span class="bubble">評論內容.................</span>
                    <span class="function">
                      <span class="time">2018/3/19</span>
                      <span class="like">
                        <i class="material-icons"value="0" id="like">thumb_up_alt</i>
                        <span>0</span>
                        <i class="material-icons" onclick="document.getElementsByClassName('comment_content')[0].innerHTML = '<span>你已檢舉此留言</span>'">report</i>
                        <i class="material-icons">edit</i>
                        <i class="material-icons">delete</i>
                      </span>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div style="margin:20px 0;text-align:center">
            圖6、貓咪評論單元
          </div>
          此處可以提供使用者對該貓咪進行評論，每個評論單元中會有以下幾個功能，
          <ul>
            <li>
              <b style="text-decoration:underline"><i class="material-icons">thumb_up_alt</i>讚: </b>
              喜歡這則留言，旁邊會顯示該則留言的喜歡數，再次點選可以取消喜歡。
            </li>
            <li>
              <b style="text-decoration:underline"><i class="material-icons">report</i>檢舉: </b>
              如果該則留言有違反善良風俗或是牽涉到政治宗教，可以透過點擊此按鈕來檢舉該留言，
              檢舉後該留言之後將會在你的客戶端被屏蔽，若超過3人以上檢舉，則該留言會在所有人的客戶端被屏蔽，
              並發送紀錄至後端，待我們審核之後再決定要刪除或是恢復。
            </li>
            <li>
              <b style="text-decoration:underline"><i class="material-icons">edit</i>編輯: </b>
              只有該留言的留言者可以使用此項功能，可以編輯該留言。
            </li>
            <li>
              <b style="text-decoration:underline"><i class="material-icons">delete</i>刪除: </b>
              只有該留言的留言者可以使用此項功能，可以刪除該留言。
            </li>
          </ul>
        </div>
      </div>
      <div class="article"id="stage">
        <h1><span onclick="switchIframe('stage')">關卡資料庫</span>用法</h1>
        <div class="chooser">
          <div class="search flex">
            <input type="text" id="searchBox" placeholder="搜尋關卡...">
            <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
          </div>
          <div class="search_type" style="display:flex;width:100%">
            <span value='0' >選擇章節</span>
            <span value='0' >選擇關卡</span>
            <span value='0' >獎勵篩選器</span>
            <span value='0' >搜尋結果</span>
          </div>
        </div>
        <div style="margin-top:20px;text-align:center">
          圖1、關卡選擇區，位於關卡資料頁的最上方
        </div>
        <h2 id="stage_0">開始使用</h2>
        <ol>
          <li>從<em>關卡選擇區</em>的<em>選擇章節</em>中各分類下選擇欲查詢之章節名稱</li>
          <li>
            系統會自動切換到<em>選擇關卡</em>的頁籤，於左側欄位點擊欲查詢之大關名稱，
            手機版則是上下兩區，大關選擇位於上區
          </li>
          <li>
            當該大關下的各子關卡出現於右側時，點擊欲查詢的關卡，
            關卡資料即會載入於下方<em>資料顯示區</em>
          </li>
        </ol>
        <h2 id="stage_1">進階查詢</h2>
        <p> 除了基本的關卡查詢，本頁面也提供了2種進階查詢方法，如下: </p>
        <ul>
          <li>
            <em style="text-decoration:underline">文字搜尋: </em>
            在關卡選擇區上方的搜尋列輸入欲查詢的關卡名關鍵字
            (不用完全相同)，在按下右方搜尋或是Enter鍵，
            系統即會篩選出名字中含有該關鍵字的大關或關卡名稱
          </li>
          <li>
            <em style="text-decoration:underline">獎勵篩選: </em>
            點擊<em>獎勵篩選器</em>頁籤，
            即可展開<em>獎勵篩選器</em>。在獎勵篩選器中，
            <ol>
              <li>點選欲篩選的獎勵(可多選)，激活該選項為橘色背景</li>
              <li>選擇完畢後，點擊下方的<button>Go</button>開始篩選</li>
              <li>系統會列舉出包含該項獎勵的關卡</li>
              <li>結果包含關卡名稱與各獎勵取得機率(若為積分關卡，則顯示積分)</li>
            </ol>
          </li>
        </ul>
        <p>
          兩種進階篩選其結果都會出現在<em>搜尋結果</em>頁簽下的結果顯示區中。
        </p>
        <h2 id="stage_2">資料顯示區功能列</h2>
        <p> 當瀏覽資料顯示區時，常駐懸浮於畫面上方，其功能分別為: </p>
        <ul>
          <li style='margin:5 0'>
            <i class="material-icons cir_but" text='上一關'>keyboard_arrow_left</i>
            <b style="text-decoration:underline">上一關</b>: 顯示同樣大關底下的上一個關卡的關卡資訊
          </li>
          <li style='margin:5 0'>
            <i class="material-icons cir_but"text='下一關'>keyboard_arrow_right</i>
            <b style="text-decoration:underline">下一關</b>: 顯示同樣大關底下的下一個關卡的關卡資訊
          </li>
          <li style='margin:5 0'>
            <i class="material-icons cir_but"text='在超絕攻略網打開'>&#xe895;</i>
            <b style="text-decoration:underline">在超絕攻略網打開</b>: 在新分頁開啟超絕攻略網的本關卡資訊
          </li>
          <li style='margin:5 0'>
            <i class="material-icons cir_but"text='截圖'>add_a_photo</i>
            <b style="text-decoration:underline">截圖</b>: 對現在的資料顯示區截圖
          </li>
          <li style='margin:5 0'>
            <i class="material-icons cir_but"text='加入比較序列'>&#xE242;</i>
            <b style="text-decoration:underline">加入比較序列</b>: 將本關所有敵人覆蓋現有敵人比較序列，並開啟敵人比較器頁面。
          </li>
          <li style='margin:5 0'>
            <i class="material-icons cir_but"text='切換敵人資訊'>swap_vert</i>
            <b style="text-decoration:underline">切換敵人資訊</b>: 切換資料顯示區中，敵人的資訊數值或關卡數值
          </li>
        </ul>
        <h2 id="stage_3">資料顯示區</h2>
        <div>
          可以點選各區的區域名來展開/收合底下的獎勵列表或敵人列表
          <div class="tableTitle"> 過關獎勵 </div>
          <div>
            此處會顯示過關時的各種獎勵資訊，
            每一列依序為:
            <ol>
              <li>獎勵名稱</li>
              <li>取得數量</li>
              <li>取得機率或積分</li>
              <li>領取上限</li>
            </ol>
            若此項獎勵為寶物，則可以點擊寶物名稱前往 <a onclick="switchIframe('treasure')">寶物圖鑑</a>
          </div>
          <div class="tableTitle"> 關卡敵人 </div>
          <div>
            <p>
              關卡敵人會顯示下列各資訊(積分僅在排行賽關卡顯示)
            </p>
            <table class="enemy_head">
              <tr>
                <th>敵人</th>
                <th>倍率<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"style='width:120'><span>篩選_1</span><span>篩選_2</span></div></th>
                <th>數量<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"style='width:120'><span>篩選_1</span><span>篩選_2</span></div></th>
                <th>城連動<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"style='width:120'><span>篩選_1</span><span>篩選_2</span></div></th>
                <th>首次出現(s)<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"style='width:120'><span>篩選_1</span><span>篩選_2</span></div></th>
                <th>再次出現(s)<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"style='width:120'><span>篩選_1</span><span>篩選_2</span></div></th>
                <th>積分<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"style='width:120'><span>篩選_1</span><span>篩選_2</span></div></th>
              </tr>
            </table>
            <p>
              點選資料顯示區中，如上顯示之任一資料名稱，即可以該資料 <em>排序敵人</em>，
              首次排序是由大至小(並將該資料名稱加以淺藍色條紋標記)，
              再點選一次即可改為由小至大排列(並將該資料名稱加以橘色條紋標記)
            </p>
            <p>
              而點擊資料名稱旁的小三角形下標，可以叫出篩選面板，上面會列出此項資料的所有數值，
              點擊欲篩選的數值，即可隱藏與此值不相符的敵人列。
              <br />*手機版暫無此功能
            </p>
            <p>
              另外，點擊敵人圖片即可在漂浮顯示中，顯示敵人的資訊，獎勵中如果能獲得貓咪，
              同樣可以藉由點擊圖片來顯示資訊。如欲查詢更詳細的資訊，
              請點擊漂浮顯示區中的
              <em style="border-radius:30px;box-shadow:1px 1px 11px 1px black;padding:0 10;background:white">
                更多詳細資料>
              </em>
              來跳轉至貓咪資料庫或敵人資料庫。
            </p>
          </div>
        </div>
      </div>
      <div class="article"id="compare">
       <h1> <span onclick="switchIframe('compare')">比較器</span>用法</h1>
       <div class="control">
         <div class="swapper">
             <div class="icon"style="background-image: url('css/footage/tab_icon.png')" active='1'></div>
             <div class="icon"style="background-image: url('css/footage/tab_icon_enemy.png')"active='0'></div>
             <h2>
               <span>貓咪</span><span style="display:none">敵人</span>比較器
             </h2>
           </div>
         <div class="functionArea">
           <i class=" material-icons cir_but toggle_next" text="欄位顯示設定" offsetY="60">table_chart</i>
           <div class="panel" active='0'>
             <div class="field_toggle">
               <label class="checkbox" name="picture">
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               圖片
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='color'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               屬性
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='rarity'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               稀有度
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='hp'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               體力
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='kb'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               KB
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='hardness'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               硬度
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='atk'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               攻擊力
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='dps'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               DPS
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='range'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               攻擊距離
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='freq'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               攻擊頻率
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='speed'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               跑速
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='multi'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               範圍
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='cost'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               價格
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='cd'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               再生產
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='reward'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               獲得金錢
             </div>
             <div class="field_toggle">
               <label class="checkbox" name='char'>
                 <input type="checkbox" checked="checked">
                 <span class="checkmark"></span>
               </label>
               特性
             </div>
           </div>
           <i class="material-icons cir_but"text="全部顯示">visibility</i>
           <i class="material-icons cir_but"text="條件格式設定">format_color_fill</i>
           <i class="material-icons cir_but"text="截圖">add_a_photo</i>
         </div>
       </div>
       <div style="margin-top:20;text-align:center">
         圖1、比較器功能列
       </div>
       <h2 id="compare_0">開始使用</h2>
       <ol>
         <li>
           在<a onclick="switchIframe('cat')"><em>貓咪資料庫</em></a>或<a onclick="switchIframe('enemy')"><em>敵人資料庫</em></a>中，
           點選搜尋結果旁邊的購物車按鈕 <i class="material-icons cir_but">&#xE8CC;</i>
           ，即可將該貓咪或敵人加入比較器，也可以從查詢結果的功能列中批次加入。
        </li>
        <li>
          在比較器頁面中，可以點擊比較器的名稱來切換貓咪比較器或敵人比較器，下方的比較表格會自動切換顯示
        </li>
       </ol>
       <h2 id="compare_1">比較器功能列</h2>
       <ul>
         <li>
           <i class=" material-icons cir_but" text="欄位顯示設定">table_chart</i>
           <em style="text-decoration:underline">欄位顯示設定</em> :
           控制比較表格中個欄位的顯示與否，此為全域切換，即，在貓咪比較器下將敵人才有的"獲得金錢"等欄位關閉，
           切換至敵人比較器時自動生效，反之亦然。
         </li>
         <li>
           <i class="material-icons cir_but"text="全部顯示">visibility</i>
           <em style="text-decoration:underline">全部顯示</em> :
           比較表格中可隱藏列(下方詳述)，此按鈕即可重新顯示所有隱藏的欄(由闌尾顯示設定所隱藏)與列。
         </li>
         <li>
           <i class="material-icons cir_but" text="條件格式設定">format_color_fill</i>
           <em style="text-decoration:underline">條件格式設定</em> :
           此按鍵可以呼叫出如下面板，依據不同的條件設定顯示格式
           <div class="modal"style="position:relative;display:flex;z-index:0">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <h2 class='title'>條件格式設定</h2>
                 </div>
                 <div class="modal-body">
                   <table>
                     <thead>
                       <tr>
                         <th>套用欄位</th>
                         <th>格式設定</th>
                         <th>條件設定</th>
                         <th></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td type='add_column'>新增套用欄位</td>
                         <td type='add_format'>新增格式</td>
                         <td type='add_query'>新增條件</td>
                         <td type='del'> <i class="material-icons">delete</i> </td>
                       </tr>
                     </tbody>
                     <tfoot>
                       <tr>
                         <td colspan="4" onclick="add_row()"> <i class="material-icons">add_circle</i> </td>
                       </tr>
                     </tfoot>
                   </table>
                   <datalist id="col_list">
                     <option value='體力'></option>
                     <option value='KB'></option>
                     <option value='硬度'></option>
                     <option value='攻擊力'></option>
                     <option value='DPS'></option>
                     <option value='攻擊距離'></option>
                     <option value='攻擊頻率'></option>
                     <option value='跑速'></option>
                     <option value='價格'></option>
                     <option value='再生產'></option>
                     <option value='獲得金錢'></option>
                   </datalist>
                 </div>
                 <div class="modal-footer">
                   <button type="submit" onclick="commit_customFormat()" name="button">保存</button>
                   <button type="clear" onclick="clear_customFormat()" data-dismiss="modal" name="button">清除</button>
                   <button type="close" name="button" data-dismiss="modal">取消</button>
                 </div>
               </div>
             </div>
           </div>
           <div style="margin-bottom:20;text-align:center">
             圖2、條件格式設定面板
           </div>
           <ul>
             <li>
               <em>套用欄位</em>:設定此條件格式欲套用的欄位，每次只能選取一個欄位，
               但多次選取可多選欄位，惟多選結果下個別移除功能尚未實作，在多選欄位時請多加小心
             </li>
              <em>格式設定</em>:設定格式，依序為
              <ul>
                <li>字體大小 : 16/20/12 px</li>
                <li>字體顏色 : 可自由調整</li>
                <li>背景顏色 : 可自由調整</li>
                <li>粗體設定 : 一般/粗體/細體</li>
              </ul>
             <li>
               <em>條件設定</em>:符合此條件的儲存格就會以前面所設定的格式顯示，
               點選空白處可以切換模式(小於/大於/之間)
             </li>
             <li> <em>刪除</em>:刪除此條件設定 </li>
           </ul>
           而下方可以新增不同的條件格式，此處為示範，可以無限制添加，但實際使用時，需上方所有條件格式欄位
           都設定完畢才可以新增下一個條件格式<br>
           設定完之後，記得按 <em>保存</em>來儲存這些格式設定
         </li>
         <li>
           <i class="material-icons cir_but"text="截圖">add_a_photo</i>
           <em style="text-decoration:underline">截圖</em> :
           擷取目前的比較表格，並可以下載
         </li>
       </ul>
       <h2 id="compare_2">比較表格</h2>
       <div class="display" style="padding:0" offsetX='0'>
         <div class="func" active="1">
           <span class="functionArea">
             <i class="cir_but" text="Lv.40">Lv</i>
             <i class="material-icons cir_but" text="刪除">delete</i>
             <i class="material-icons cir_but" text="隱藏">desktop_access_disabled</i>
             <i class="material-icons cir_but" text="切換階級">swap_vert</i>
           </span>
           <span class="dataArea">
             <span class="img" style="background-image:url('css/footage/cat/u363-3.png')"></span>
             <span>Saber Alter CC</span>
           </span>
           <i class="material-icons">arrow_right</i>
         </div>
       </div>
       <div style="margin: 20 0;text-align:center">
         圖3、比較表各列功能選單
       </div>
       <p>
         在比較表格中，每一列的最左邊有如上圖的功能選單。此選單提供四種功能，分別為:
         <ul>
           <li>
             <em>調整等級</em>: 懸浮游標時會顯示當前等級，點擊後跳出對話框可輸入等級，此等級也會同步儲存於雲端，當你在貓咪資料庫開啟時
             將以此等級顯示。若為敵人比較表，則是調整倍率。
           </li>
           <li> <em>刪除</em>:將此貓咪(敵人)永久移出比較序列 </li>
           <li> <em>隱藏</em>:將此貓咪(敵人)列暫時隱藏，欲重新顯示則點擊比較器功能列中的<i class="material-icons cir_but"text="全部顯示">visibility</i> </li>
           <li>
             <em>切換階級</em>: 此功能僅適用於貓咪比較表，可以切換貓咪的不同階級，階級也會同步儲存於雲端，
             當使用者在貓咪資料庫開啟此腳色時，將以新的階級顯示。
           </li>
         </ul>
         當比較表格有左右滑動時，為了方便使用者知道目前每一列是哪個腳色的數據，此功能列會切換顯示貓咪(敵人)的
         圖片與名稱。
         <em onclick="$(this).parent().find('.display').attr('offsetX',(Number($(this).parent().find('.display').attr('offsetX'))+1)%2)">點此切換</em>
       </p>
      </div>
      <div class="article"id="combo">
          <h1> <span onclick="switchIframe('combo')">聯組資料庫</span> 用法</h1>
          <h2 id="combo_0">開始使用</h2>
          <ol>
            <li>從頁面上方的聯組分類選擇欲查詢的聯組種類(可多選)</li>
            <li>
              點擊<button>GO</button>系統即會載入所選聯組
            </li>
          </ol>
          <h2 id="combo_1">進階查詢</h2>
          <p>
            點擊聯組中的貓咪圖片即可在漂浮顯示中顯示貓咪資料，
            如欲察看詳細資料，請點選
            <em style="border-radius:30px;box-shadow:1px 1px 11px 1px black;padding:0 10;background:white">
              更多詳細資料>
            </em>
          </p>
          <h2 id="combo_2">聯組延伸</h2>
          <p>
            所有聯組結果之右方皆有一聯組延伸按鈕
            <i class="material-icons cir_but"text='聯組延伸'>playlist_add</i>
            ，點擊即可啟用聯組延伸功能，功能如下:
          </p>
          <ul>
            <li>
              <b style="text-decoration:underline">自動更新包含聯組: </b><br />
              <em>包含聯組</em>之定義為該聯組中的貓咪全部出現在
              本聯組中。系統會自動計算出所有包含聯組並將其類別、名稱、效果，
              附加於本聯組之類別、名稱、效果後方。
            </li>
            <li>
              <b style="text-decoration:underline">可疊加聯組列表: </b><br />
              <em>可疊加聯組</em>之定義為該聯組中至少包含一隻以上
              本聯組中存在的貓咪(不限階級)。可疊加聯組列表會從交集最多
              的聯組開始列出。若該聯組同時也是包含聯組，則不顯示。
            </li>
            <li>
              <b style="text-decoration:underline">其他可容納聯組: </b><br />
              其他聯組中貓咪數量與本聯組相加後，不超過出陣列表第一排上限(5隻)者，
              因結果量龐大，故不會全部列出，請在聯組延伸區塊之最底下，
              <em>查看其他聯組</em>處，選擇類別與效果，來顯示該類別中
              符合上述條件的聯組。
            </li>
            <li>
              <em style="text-decoration:underline">聯組合併: </em><br />
              點選聯組延伸結果中的各聯組右方之
              <i class="material-icons cir_but"text='連組合併'>merge_type</i>
              按鈕，即可將該聯組與本聯組以類似「包含聯組」
              的方式將類別、名稱、效果和內容合併，並取代原本聯組。
              合併完成後，聯組延伸結果區將關閉。此延伸聯組同樣也可以執行
              <em>聯組延伸</em>的功能，再繼續合併更多的聯組。
            </li>
          </ul>
      </div>
      <div class="article" id="expCalculator">
        <h1> <span onclick="switchIframe('expCalculator')">經驗值計算器</span> 用法</h1>
        <p>
          本頁面除了基本的檢視各類貓咪升級所需經驗值與貓眼石外，提供兩種計算器:
        </p>
        <ul>
          <li>輸入等級區間，以計算該區間內所需經驗值與貓眼石總和</li>
          <li>輸入欲花費經驗與起始等級，以計算最多可升級之等級、所需貓眼石量與剩餘經驗值</li>
        </ul>
        <p>
          要切換不同計算器請點選
          <span style="background:#f2d5a7;padding:3 15;font-weight:bold;margin:0 5;">計算器</span>
          來切換
        </p>
      </div>
    </div>


    <div class="left-side-column">
      <ul>
        <li>
          <a href="?cat">貓咪資料庫用法</a>
          <ul>
            <li>
              <a href="?cat_0">篩選器用法</a>
              <ul>
                <li> <a href="?cat_0_0">一般篩選</a> </li>
                <li> <a href="?cat_0_1">活動篩選</a> </li>
                <li> <a href="?cat_0_2">數值篩選</a> </li>
                <li> <a href="?cat_0_3">篩選結果</a> </li>
                <li> <a href="?cat_0_4">文字篩選</a> </li>
              </ul>
            </li>
            <li> <a href="?cat_1">資料顯示區功能列</a> </li>
            <li> <a href="?cat_2">資料顯示區</a> </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="?stage">關卡資料庫用法</a>
          <ul>
            <li> <a href="?stage_0">開始使用</a></li>
            <li> <a href="?stage_1">進階查詢</a></li>
            <li> <a href="?stage_2">資料顯示區功能列</a></li>
            <li> <a href="?stage_3">資料顯示區</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="?compare">比較器用法</a>
          <ul>
            <li> <a href="?compare_0">開始使用</a></li>
            <li> <a href="?compare_1">比較器功能列</a></li>
            <li> <a href="?compare_2">比較表格</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a href="?combo">聯組資料庫用法</a>
          <ul>
            <li> <a href="?combo_0">開始使用</a></li>
            <li> <a href="?combo_1">進階查詢</a></li>
            <li> <a href="?combo_2">聯組延伸</a></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li> <a href="?expCalculator">經驗值計算器用法</a> </li>
      </ul>
    </div>
    <div class="left-side-active"> 目錄 </div>


    <div id="canvas_holder">
      <div class="picture"></div>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    $(".swapper").click(function () {
      $(".swapper").find('h2 span').toggle();
      $(".swapper").find(".icon").each(function () {
        let temp = Number($(this).attr("active"));
        $(this).attr("active",(temp+1)%2);
      });
    });
    $(document).ready(function () {
      var hash;
      if(location.search) {
        hash = location.search.split("?")[1];
        scroll_to_div(hash,null,-10);
      }
    })
    $(document).on("click",".modal td",function () {
      var type = $(this).attr("type");
      switch (type) {
        case "del":
          $(this).parent().remove();
          break;
        case "add_column":
          $(this).attr("type","column").html(createHtml("input","",{list:"col_list",placeholder:"新增欄位"}));
          $(this).children().focus();
          break;
        case "add_format":
          $(this).empty().attr("type","format");
          $(this).append(createHtml("span",createHtml("i","format_size",{class:"material-icons"})));
          $(this).append(createHtml("span",createHtml("i","format_color_text",{class:"material-icons"})));
          $(this).append(createHtml("span",createHtml("i","format_color_fill",{class:"material-icons"})));
          $(this).append(createHtml("span",createHtml("i","format_bold",{class:"material-icons"})));
          break;
        case "add_query":
          $(this).attr("type","query").html(
            createHtml("input","",{type:"number",value:0})+
            createHtml("span","~")+
            createHtml("input","",{type:"number",value:0})
          );
          $(this).children().eq(0).focus();
          break;
        case "query":
          var temp = Number($(this).attr("relation"));
          if(Number.isNaN(temp)) temp = 0;
          $(this).attr("relation",(temp+1)%3).children().eq(0).focus();
          break;
        default:
      }
    });
    $(document).on("click",".modal td[type='format'] span",function () {
      switch ($(this).text()) {
        case "format_size":
          var temp = Number($(this).attr("size"));
          if(Number.isNaN(temp)) temp = 1;
          $(this).attr("size",(temp+1)%3);
          break;
        case "format_bold":
          var temp = Number($(this).attr("weight"));
          if(Number.isNaN(temp)) temp = 0;
          $(this).attr("weight",(temp+1)%3);
          break;
        default:
      }
    });
    function add_row() {
      $(createHtml("tr",
        createHtml("td","新增套用欄位",{type:"add_column"})+
        createHtml("td","新增格式",{type:"add_format"})+
        createHtml("td","新增條件",{type:"add_query"})+
        createHtml("td",createHtml("i","delete",{class:"material-icons"}),{type:"del"})
      )).appendTo(".modal table tbody");
    }
    $(".valueTable .slider").each(function () {
      var value = $(this).attr('value'),
          type = Number($(this).attr('type')),
          range = JSON.parse($(this).attr('range')),
          step = Number($(this).attr('step'));
      $(this).slider();
      $(this).slider('option','range',type==2);
      $(this).slider('option',{
        'min': range[0],
        'max': range[1],
        'step': step,
        'value':value
      }).parent().siblings(".value_display").text(value).siblings('.type').html(['以上','以下','範圍'][type]);
    });
    $('.valueTable .type').click(function (e) {
      var target = $(e.target).parents('tr'),
          type = Number(target.find(".slider").attr('type')),
          value = type == 2?JSON.parse(target.find(".slider").attr('value')):Number(target.find(".slider").attr('type')),
          range = JSON.parse(target.find(".slider").attr("range"));

      type = (type+1)%3;
      if(type == 2){
        let temp = range[1]-range[0];
        target.find(".slider").attr('value',"["+temp/4+","+temp/4*3+"]");
        target.find(".type").attr("colspan",1).prev().show();
      }
      else if(typeof(value) == 'object'){
        target.find(".slider").attr('value',(value[0]+value[1])/2);
        target.find(".type").attr("colspan",2).prev().hide();
      }

      target.find(".slider").attr('type',type);
      target.find("th").attr('active',1);
      filterSlider(target.find(".slider"));
    });
    $(".slider").on("slide",function (e,ui) {
      var type = $(this).attr("type");
      if(type == 2){
        $(this).parents('tr').find('.value_display').eq(0).text(ui.values[0]);
        $(this).parents('tr').find('.value_display').eq(1).text(ui.values[1]);
      } else {
        $(this).parents('tr').find('.value_display').eq(0).text(ui.value);
      }
    });
    $(".slider").on("slidestop",function (e,ui) {
      var type = $(this).attr("type");
      if(type == 2){
        $(this).attr('value',"["+ui.values[0]+","+ui.values[1]+"]");
      } else {
        $(this).attr('value',ui.value);
      }
      filterSlider($(this));
    });
    function filterSlider(target) {
      let value = target.attr('value') ,
          type = Number(target.attr('type')) ,
          range = JSON.parse(target.attr('range')),
          step = Number(target.attr('step')) ,
          active = target.parent().prev().attr('active') == 1,
          filter_name = target.parent().prev().attr('id');

      target.slider("destroy");
      target.slider({
        range: type == 2,
        min: range[0],
        max: range[1],
        step: step
      });
      target.parents('tr').find('.type').html(['以上','以下','範圍'][type]);
      if(type == 2){
        value = JSON.parse(value);
        if(value[1] < value[0]) value = value.reverse();
        target.slider("option","values",value);
        target.parents('tr').find(".value_display").eq(0).text(value[0]);
        target.parents('tr').find(".value_display").eq(1).text(value[1]);
      }
      else{
        target.slider("option","value",Number(value));
        target.parents('tr').find(".value_display").eq(0).text(Number(value));
      }
    }
    $('.filter_option').click(function () {
      $(this).attr('active',(Number($(this).attr('active'))+1)%2);
    });
    $(document).on('click','.resultTable .title i',function () {
      let type = $(this).attr("id");
      if(type == 'view_list'){
        $(this).hide().next().show();
        $("#selected").attr("view_mode","list");
      }
      else if (type == 'view_module') {
        $(this).hide().prev().show();
        $("#selected").attr("view_mode","card");
       }
    });
    function toggleCatStage(e) {
      e.stopPropagation();
      var parent = $(e.target).parent().parent(),
          stage = Number(parent.attr("stage")),
          maxStage = parent.find(".img").length;

      stage = (stage+1)%maxStage;
      parent.find(".img").eq(stage).attr('active',1).siblings(".img").attr('active',0);
      parent.find(".name").eq(stage).attr('active',1).siblings(".name").attr('active',0);
      parent.find(".optional").eq(stage).attr('active',1).siblings(".optional").attr('active',0);
      parent.attr('stage',stage);
    }
    document.getElementById("like").onclick = (e) => {
      var temp = Number(e.target.getAttribute('value'));
      temp = Number(!temp);
      e.target.setAttribute("value",temp);
      e.target.parentElement.querySelector("span").innerText = temp;
    }
    </script>
  </body>
</html>
