<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>敵人圖鑑</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_enemy.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
    <link rel="stylesheet" href="./css/cat.css" />
  </head>
  <body>

    <div class="chooser">
      <div class="search flex" style="width:100%;margin-bottom:20px">
        <select class="" name="">
          <option value="text">文字</option>
          <option value="id">ID</option>
        </select>
        <input type="text" id="searchBox" placeholder="Search for enemies...">
        <button id="searchBut"><i class="material-icons">search</i></button>
      </div>
      <div class="search_type">
        <span value='0' onclick="openTable('normalTable')">一般篩選</span>
        <span value='0' onclick="openTable('valueTable')">數值篩選</span>
        <span value='0' onclick="openTable('resultTable')">篩選結果</span>
      </div>
      <table class="normalTable">
        <tr>
          <th colspan="6">
            <div style="padding: 10; display: flex; justify-content: center; align-items: center;">
              <div>
                <span>屬性欄位完全符合</span>
                <label class="switch">
                  <input type="checkbox" id="colorAnd" value='0' >
                  <span class="slider_but"></span>
                </label>
              </div>
              <div>
                <span>能力欄位完全符合</span>
                <label class="switch">
                  <input type="checkbox" id="abilityAnd" value='0' >
                  <span class="slider_but"></span>
                </label>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th colspan="2">屬性</th>
          <td colspan="4" class="select_color">
            <span class='button' name='紅色敵人' value='0'>紅色敵人</span>
            <span class='button' name='漂浮敵人' value='0'>漂浮敵人</span>
            <span class='button' name='黑色敵人' value='0'>黑色敵人</span>
            <span class='button' name='鋼鐵敵人' value='0'>鋼鐵敵人</span>
            <span class='button' name='天使敵人' value='0'>天使敵人</span>
            <span class='button' name='外星敵人' value='0'>外星敵人</span>
            <span class='button' name='外星敵人(星)' value='0'>外星敵人(星)</span>
            <span class='button' name='不死敵人' value='0'>不死敵人</span>
            <span class='button' name='白色敵人' value='0'>白色敵人</span>
            <span class='button' name='無屬性敵人' value='0'>無屬性敵人</span>
            <span class='button' name='古代種' value='0'>古代種</span>
          </td>
        </tr>
        <tr>
          <th colspan="2" rowspan="2">能力</th>
          <td colspan="4" rowspan="2" class="select_ability">
            <span class='button' name='爆擊' value='0'>爆擊</span>
            <span class='button' name='鋼鐵' value='0'>鋼鐵</span>
            <span class='button' name='緩速' value='0'>緩速</span>
            <span class='button' name='波動' value='0'>波動</span>
            <span class='button' name='擊退' value='0'>擊退</span>
            <span class='button' name='暫停' value='0'>暫停</span>
            <span class='button' name='連續攻擊' value='0'>連續攻擊</span>
            <span class='button' name='降攻' value='0'>降攻</span>
            <span class='button' name='增攻' value='0'>增攻</span>
            <span class='button' name='攻城' value='0'>攻城</span>
            <span class='button' name='遠方攻擊' value='0'>遠方攻擊</span>
            <span class='button' name='免疫擊退' value='0'>免疫擊退</span>
            <span class='button' name='免疫緩速' value='0'>免疫緩速</span>
            <span class='button' name='免疫波動' value='0'>免疫波動</span>
            <span class='button' name='免疫暫停' value='0'>免疫暫停</span>
            <span class='button' name='免疫降攻' value='0'>免疫降攻</span>
            <span class='button' name='潛地' value='0'>潛地</span>
            <span class='button' name='復活' value='0'>復活</span>
            <span class='button' name='傳送' value='0'>傳送</span>
            <span class='button' name='護盾' value='0'>護盾</span>
          </td>
        </tr>
      </table>
      <table class="valueTable">
        <tbody>
          <tr>
            <th colspan="5"> 數值篩選器 </th>
          </tr>
          <tr>
            <th class="filter_option" active='0' id="hp" >體力</th>
            <td> <div class="slider"lv-bind="true" value="10000" type="0" range="[1000,100000]" step="1000"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
          <tr>
            <th class="filter_option" active='0' id="dps" >DPS</th>
            <td> <div class="slider"lv-bind="true" value="3000" type="0" range="[100,10000]" step="100"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
          <tr>
            <th class="filter_option" active='0' id="speed" >速度</th>
            <td> <div class="slider"lv-bind="false" value="10" type="0" range="[1,100]" step="1"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
          <tr>
            <th class="filter_option" id="reward" active='0'>獲得金錢</th>
            <td> <div class="slider"lv-bind="false" value="1000" type="0" range="[10,5000]" step="10" active="false"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
          <tr>
            <th class="filter_option" active='0' id="freq" >攻頻</th>
            <td> <div class="slider"lv-bind="false" value="5" type="0" range="[1,20]" step="0.5"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
          <tr>
            <th class="filter_option" active='0' id="atk" >攻撃力</th>
            <td> <div class="slider"lv-bind="true" value="10000" type="0" range="[1000,100000]" step="1000"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
          <tr>
            <th class="filter_option" active='0' id="range" >射程</th>
            <td> <div class="slider"lv-bind="false" value="300" type="0" range="[10,1000]" step="10"></div> </td>
            <td class="value_display"></td>
            <td class="value_display" style="display:none"></td>
            <td class="type" colspan="2"></td>
          </tr>
        </tbody>
      </table>
      <table class="resultTable">
        <tr>
          <th>
            <div class="title">
              <div id="option">
                <i class="material-icons cir_but"id="view_list" text='條列顯示'style="display:none">view_list</i>
                <i class="material-icons cir_but"id="view_module" text='卡牌顯示'>view_module</i>
                <i class="material-icons cir_but"id="snapshot" text='截圖'>add_a_photo</i>
                <i class="material-icons cir_but"id="batch_own" text='批次加入貓咪圖鑑'>&#xe7f0;</i>
                <i class="material-icons cir_but"id="batch_compare" text='批次加入比較序列'>&#xE8CC;</i>
                <i class="material-icons cir_but"id="Gogacha" text='去轉蛋' style="display:none">&#xE332;</i>
              </div>
              <span id="result_count">共<span></span>筆結果</span>
            </div>
          </th>
        </tr>
        <tr>
          <th> <div id="query"></div> </th>
        </tr>
        <tr>
          <td style="background:transparent"><div id="selected" class="flex_col"></div></td>
        </tr>
      </table>
      <div class="content" style="padding:0">
        <button onclick="search()">GO</button>
      </div>
    </div>
    <div class="content">
      <div class="displayControl">
        <div class="control">
          <i class="material-icons cir_but"id='addcart'text='加到購物車'>&#xE8CC;</i>
          <a target='blank' id="out"><i class="material-icons cir_but"text='在超絕攻略網打開'>&#xe895;</i></a>
          <i class="material-icons cir_but"onclick='snapshot()'text='截圖'>add_a_photo</i>
        </div>
      </div>
      <div class="display">
        <table class="dataTable" data-type='enemy'>
          <tr> <td style="background:#f2d5a7;"colspan='6'><div id="title"></div></td> </tr>
          <tr>
            <th colspan='1'>倍率</th>
            <td colspan=5 id='level_num'>
              <span style='margin:0 10px'></span>
            </td>
          </tr>
          <tr>
            <th>體力</th><td id='hp'></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'></td>
            <th>DPS</th><td id='DPS'></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <th>範圍攻擊</th><td id='aoe'></td>
          </tr>
          <tr>
            <th>獲得金錢</th><td id='reward'></td>
            <th>屬性</th><td id='color' colspan="3"></td>
          </tr>
          <tr>
            <td colspan='6' id='char'></td>
          </tr>
        </table>
        <div id="comment_head" class="tableTitle" active='0'>評論</div>
        <table class="commentTable">
          <tbody> </tbody>
          <tfoot>
            <tr><th>
              <div class="comment_input">
                <textarea rows='1' maxlength='100' placeholder="想說什麼呢..."></textarea>
                <i class="material-icons" id="comment_submit">&#xe163;</i>
              </div>
            </th></tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
  <div class="compareTarget_holder left-side-column flex_col" active='0'width='narrow'>
    <div class="functionArea">
      <i class="material-icons cir_but" id="clear_compare" text='全部清除'> clear_all </i>
      <i class="material-icons cir_but" id="start_compare" text='開始比較'> forward </i>
    </div>
    <div class="compareTarget_holder" style="overflow:scroll">
      <div class="compareTarget"></div>
    </div>
  </div>
  <div id="compareTarget_tag" class="left-side-active" style="height:200px" active='0'>
    敵人購物車
    <span id="compare_number">0</span>
  </div>

    <div id="copy_alert">已複製到剪貼簿 <i class="material-icons">&#xe877;</i></div>
    <div id="canvas_holder">
      <div class="picture"></div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/SearchCatEnemy.js"></script>
    <script src="./js/enemy.js"></script>
    <script src="./js/comment.js"></script>
    <script src="./js/AddToCompare.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
