<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>最新消息</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/event.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
  </head>
  <body>
    <div class="view">
      <div class="iframe_holder"> </div>

      <!-- <div class="calendar_holder" >
        <table id="calendar">
          <tr><th colspan="7"></th></tr>
          <tr>
            <th>Sun</th> <th>Mon</th> <th>Tue</th>
            <th>Wed</th> <th>Thu</th> <th>Fri</th>
            <th>Sat</th>
          </tr>
        </table>
      </div>
      <div class="prediction_holder" >
        <table id="prediction"></table>
        <h6>資料來源 : <a target="_blank">巴哈姆特</a></h6>
      </div> -->
    </div>
<!-- 
    <div id="function_tag">
      <div id="cal">
        <i class="material-icons">&#xE8DF;</i>
        <span class="tag">日曆</span>
      </div>
      <div id="pre">
        <i class="material-icons">&#xE8E5;</i>
        <span class="tag">預測</span>
      </div>
    </div> -->


    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/event.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
