<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>對戰</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/fight.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/fight.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <nav>
      <a href="\">
        <img src="../public/css/footage/title.png" />
      </a>
      <div class="navLinkBox">
      </div>
      <div class="settingBox">
      </div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu">menu</i>
      </div>
    </nav>
    <div id="m_nav_panel_BG"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox"></div>
      <div class="m_settingBox"></div>
    </div>

    <div class="page_1" style="height:100%;width:100%">
      <div id="helper">
        <h2>使用教學</h2>
        <p>
          本功能是為了比較我方貓咪與敵方角色的<b>一對一</b>數值。</br>
          在 <a href='/view/cat.html'>貓咪查詢頁</a> 或 <a href='/view/enemy.html'>敵人查詢頁</a>
          中，點選想要加入對戰的角色，待其詳細資料顯示，點選
          <span id="more">更多選項</span>
          將等級調整至欲比較的等級後，再點選
          <span class="fight_but">加到對戰 &#9876;</span>
          ，將該角色加入對戰序列。
        </p>
        <div class="alert">
          <span id="no_cat"><i class="material-icons">&#xe645;</i>還沒有貓咪加入對戰序列中歐</span>
          <span id="no_enemy"><i class="material-icons">&#xe645;</i>還沒有敵人加入對戰序列中歐</span>
        </div>
      </div>
      <div id="helper_BG"></div>

      <div class="content">
        <div class="dispaly">
          <table class="datatable">
            <tr>
              <th id="enemy_img" style="padding:0;height:60px"></th>
              <th style="background-color:transparent"></th>
              <th id="cat_img" style="padding:0;height:60px"></th>
            </tr>
            <tr>
              <th id="enemy_name"></th>
              <th>名稱</th>
              <th id="cat_name"></th>
            </tr>
            <tr>
              <th id="enemy_hp"></th>
              <th>血量/攻擊力</th>
              <th id="cat_atk"></th>
            </tr>
          </table>
        </div>

      </div>

    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/fight.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
