<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>轉蛋模擬器</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/question-mark.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/gacha.css" />
    <link rel="stylesheet" href="./css/FloatDisplay.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
    <link rel="stylesheet" href="https://x3dom.org/download/1.7.2/x3dom.css"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>

    <div class="navigation left-side-column" active='0' width='wide'>
      <div class="title">常駐轉蛋</div>
      <div style="width:100%">
        <div class="tag" name="unknown" value='0'>傳說的不明貓一族</div>
        <div class="tag" name="explosion" value='0'>超激烈爆彈</div>
        <div class="tag" name="basalasu" value='0'>戰國武神 巴薩拉斯</div>
        <div class="tag" name="galaxy_girl" value='0'>電腦學園銀河美少女團</div>
        <div class="tag" name="dragon" value='0'>超破壞大帝 龍皇因佩拉斯</div>
        <div class="tag" name="ancient_hero" value='0'>超古代勇者 超級靈魂勇者</div>
        <div class="tag" name="dark_hero" value='0'>逆襲的戰士 黑暗英雄</div>
        <div class="tag" name="god" value='0'>究極降臨 巨神宙斯</div>
        <div class="tag" name="revolution" value='0'>革命軍隊鋼鐵戰團</div>
        <div class="tag" name="elf" value="0">古靈精怪元素小精靈</div>
      </div>
      <div class="title">限定轉蛋</div>
      <div style="width:100%;display:none">
        <span name="red_destroy" class="tag" value="0">紅色破壞者</span>
        <span name="float_destroy" class="tag" value="0">飄浮破壞者</span>
        <span name="metal_destroy" class="tag" value="0">鋼鐵破壞者</span>
        <span name="special_cat" class="tag" value="0">特級貓咪祭</span>
        <span name="halloween" class="tag" value="0">萬聖節轉蛋</span>
        <span name="christmas" class="tag" value="0">聖誕美少女</span>
        <span name="easter" class="tag" value="0">復活節嘉年華轉蛋</span>
        <span name="summer" class="tag" value="0">夏日美少女團</span>
        <span name="super_cat" class="tag" value="0">超級貓咪祭</span>
      </div>
      <div class="title">其他</div>
      <div style="width:100%;display:none">
        <span name="monster_girl" class="tag" value="0">絕命美少女怪物萌娘隊</span>
        <span name="super_choose" class="tag" value="0">超強精選</span>
        <span name="invincible_choose" class="tag" value="0">無敵精選</span>
        <span name="super_select" class="tag" value="0">超級選拔祭</span>
        <span name="platinum" class="tag" value="0">白金轉蛋</span>
      </div>
      <div class="title">活動轉蛋</div>
      <div style="width:100%;display:none">
        <span name="mahoshojo" class="tag" value="0">魔法少女 合作活動</span>
        <span name="Fish" class="tag" value="0">曼波魚 合作活動</span>
        <span name="Fate" class="tag" value="0">Fate 合作活動</span>
        <span name="eva" class="tag" value="0">EVA福音戰士</span>
        <span name="baseball" class="tag" value="0">實況野球 合作活動</span>
        <span name="maylook" class="tag" value="0">梅露可物語 合作活動</span>
        <span name="egg" class="tag" value="0">蛋黃哥 合作活動</span>
        <span name="crash_fever" class="tag" value="0">Crash Fever 合作活動</span>
        <span name="destroy_city" class="tag" value="0">消滅都市 ｘ 貓咪大戰爭</span>
        <span name="metal_slug_defense" class="tag" value="0">越南大戰 合作活動</span>
      </div>
      <div class="title">歷年轉蛋</div>
      <div style="width:100%;display:none">
        <span name="2016_year_end" class="tag" value="0">2016歲末年終轉蛋</span>
        <span name="2017_year_start" class="tag" value="0">2017歡慶新年轉蛋</span>
        <span name="2017_year_end" class="tag" value="0">2017歲末年終轉蛋</span>
        <span name="2018_year_start" class="tag" value="0">2018歡慶新年轉蛋</span>
        <span name="2018_year_end" class="tag" value="0">2018歲末年終轉蛋</span>
        <span name="2019_year_start" class="tag" value="0">2019歡慶新年轉蛋</span>
      </div>
    </div>
    <div id="nav_tag" class="left-side-active" active='0'>
      選擇轉蛋
    </div>
    <div class="page_1">
        <div class="window">

          <div class="monitor">
            <div class="content">
              <img />
              <div id="result"></div>
            </div>
          </div>

          <div class="iframe_holder"></div>
          <div class="button_holder">
            <img id="once" src="./css/footage/gacha/once.png" />
            <img id="elevent" src="./css/footage/gacha/11times.png" />
          </div>
          <img id="foot" src="./css/footage/gacha/footer.png" />
          <i class="material-icons cir_but" text='機率調整' id="toggleScore" value='1'>settings_input_component</i>
          <div id="scoreboard">
            <h2>轉蛋結果</h2>
            <table>
              <thead>
                <tr>
                  <th>稀有度</th>
                  <th>數量</th>
                  <th>機率</th>
                </tr>
              </thead>
              <tbody>
                <tr id="r">
                  <th>稀有</th>
                  <td class="number"></td>
                  <td class="probability"></td>
                </tr>
                <tr id="sr">
                  <th>激稀有</th>
                  <td class="number"></td>
                  <td class="probability"></td>
                </tr>
                <tr id="ssr">
                  <th>超激稀有</th>
                  <td class="number"></td>
                  <td class="probability"></td>
                </tr>
                <tr>
                  <th>總計</th>
                  <td id="total"></td>
                  <td></td>
                </tr>
                <tr>
                  <th>等級</th>
                  <td id="www" style="font-weight:bold;font-size:20px" colspan="2"></td>
                </tr>
              </tbody>
            </table>
            <h3 style="text-align:center">調整機率</h3>
            <div id="probability">
              <div>
                <span style='flex:1'>稀有</span>
                <span style='flex:3' class='slider'></span>
                <span style='flex:1;text-align:center'></span>
              </div>
              <div>
                <span style='flex:1'>激稀有</span>
                <span style='flex:3' class='slider'></span>
                <span style='flex:1;text-align:center'></span>
              </div>
              <div>
                <span style='flex:1'>超激稀有</span>
                <span style='flex:3' class='slider'></span>
                <span style='flex:1;text-align:center'></span>
              </div>
              <div>
                <span style='flex:1'>傳說稀有</span>
                <span style='flex:3' class='slider'></span>
                <span style='flex:1;text-align:center'></span>
              </div>
              <button>重置機率</button>
            </div>
          </div>

        </div>
    </div>

    <div class="floatDisplay_holder">
      <div class="floatDisplay">
        <div style="display:flex;justify-content:flex-end">
          <span>更多詳細資料 ></span>
          <i class="material-icons"> close </i>
        </div>
        <table class="dataTable">
          <tr> <td style="background:#e9d6ad;"colspan='6'><div id="title"></div></td> </tr>
          <tr>
            <th colspan='1'><span>等級</span></th>
            <td colspan=5 id='lv'>
              <span style='margin:0 10px'></span>
            </td>
          </tr>
          <tr>
            <th>體力</th><td id='hp'></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'></td>
            <th>DPS</th><td id='DPS'></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <td colspan='2' rowspan='2' id='aoe'></td>
          </tr>
          <tr class="ForCat">
            <th>花費</th><td id='cost'></td>
            <th>再生產</th><td id='cd'></td>
          </tr>
          <tr>
            <th>獲得金錢</th><td id='reward'></td>
            <th>屬性</th><td id='color'></td>
          </tr>
          <tr>
            <td colspan='6' id='char'></td>
          </tr>
        </table>
      </div>
    </div>

    <script src="https://x3dom.org/download/1.7.2/x3dom.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/gacha.js"></script>
    <script src="./js/FloatDisplay.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
