<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>轉蛋資料庫</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/question-mark.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/gacha.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
    <link rel="stylesheet" href="https://x3dom.org/download/1.7.2/x3dom.css"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <!-- <nav>
      <a href="\">
        <img src="../public/css/footage/title.png" />
      </a>
      <div class="navLinkBox">
      </div>
      <div class="settingBox">
      </div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu">menu</i>
      </div>
    </nav>
    <div id="m_nav_panel_BG"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox"></div>
      <div class="m_settingBox"></div>
    </div> -->

    <div class="page_1">
        <div class="window">
          <div class="navigation">
            <!-- <div class="tag" id="monitor" value='1'>轉蛋模擬器</div> -->
            <div class="title">常駐轉蛋</div>
            <div style="width:100%">
              <div class="tag" id="R217" value='0'>傳說的不明貓一族</div>
              <div class="tag" id="R220" value='0'>超激烈爆彈</div>
              <div class="tag" id="R223" value='0'>戰國武神 巴薩拉斯</div>
              <div class="tag" id="R226" value='0'>電腦學園銀河美少女團</div>
              <div class="tag" id="R229" value='0'>超破壞大帝 龍皇因佩拉斯</div>
              <div class="tag" id="R232" value='0'>超古代勇者 超級靈魂勇者</div>
              <div class="tag" id="R235" value='0'>逆襲的戰士 黑暗英雄</div>
              <div class="tag" id="R238" value='0'>究極降臨 巨神宙斯</div>
              <div class="tag" id="R241" value='0'>革命軍隊鋼鐵戰團</div>
            </div>
            <div class="title">限定轉蛋</div>
            <div style="width:100%;display:none">
              <span id="R245" class="tag" value="0">紅色破壞者</span>
              <span id="R246" class="tag" value="0">飄浮破壞者</span>
              <span id="R247" class="tag" value="0">鋼鐵破壞者</span>
              <span id="R255" class="tag" value="0">特級貓咪祭</span>
              <span id="R257" class="tag" value="0">萬聖節轉蛋</span>
              <span id="R258" class="tag" value="0">聖誕美少女</span>
              <span id="R259" class="tag" value="0">復活節嘉年華轉蛋</span>
              <span id="R260" class="tag" value="0">夏日美少女團</span>
              <span id="R261" class="tag" value="0">超級貓咪祭</span>
            </div>
            <div class="title">其他</div>
            <div style="width:100%;display:none">
              <span id="R244" class="tag" value="0">古靈精怪元素小精靈</span>
              <span id="R250" class="tag" value="0">絕命美少女怪物萌娘隊</span>
              <span id="R251" class="tag" value="0">超強精選</span>
              <span id="R252" class="tag" value="0">無敵精選</span>
              <span id="R253" class="tag" value="0">超級選拔祭</span>
              <span id="R264" class="tag" value="0">白金轉蛋</span>
            </div>
            <div class="title">活動轉蛋</div>
            <div style="width:100%;display:none">
              <span id="R045" class="tag" value="0">越南大戰 合作活動</span>
              <span id="R077" class="tag" value="0">消滅都市 ｘ 貓咪大戰爭</span>
              <span id="R171" class="tag" value="0">Crash Fever 合作活動</span>
              <span id="R185" class="tag" value="0">梅露可物語 合作活動</span>
              <span id="R187" class="tag" value="0">蛋黃哥 合作活動</span>
            </div>
            <div class="title">歷年轉蛋</div>
            <div style="width:100%;display:none">
              <span id="R132" class="tag" value="0">2016歲末年終轉蛋</span>
              <span id="R133" class="tag" value="0">2017歡慶新年轉蛋</span>
              <span id="R262" class="tag" value="0">2017歲末年終轉蛋</span>
              <span id="R263" class="tag" value="0">2018歡慶新年轉蛋</span>
            </div>
          </div>
          <div id="nav_tag">
            <i class="material-icons" style="transform:rotate(-180deg)">&#xe315;</i>
          </div>

          <div class="monitor">
            <div class="content">
              <div id="result"></div>
            </div>
          </div>

          <div class="iframe_holder"></div>
          <div class="button_holder">
            <img id="once" src="/public/css/footage/gacha/once.png" />
            <img id="elevent" src="/public/css/footage/gacha/11times.png" />
          </div>
          <img id="foot" src="/public/css/footage/gacha/footer.png" />
          <span id="info">i</span>
          <span class="button" id="toggleScore" value='1'>顯示轉蛋結果</span>
          <div id="scoreboard">
            <h2>轉蛋結果</h2>
            <table>
              <thead>
                <tr>
                  <th>稀有度</th>
                  <th>數量</th>
                  <th>機率</th>
                </tr>
              </thead>
              <tbody>
                <tr id="r">
                  <th>稀有</th>
                  <td class="number"></td>
                  <td class="probability"></td>
                </tr>
                <tr id="sr">
                  <th>激稀有</th>
                  <td class="number"></td>
                  <td class="probability"></td>
                </tr>
                <tr id="ssr">
                  <th>超激稀有</th>
                  <td class="number"></td>
                  <td class="probability"></td>
                </tr>
                <tr>
                  <th>總計</th>
                  <td id="total"></td>
                  <td></td>
                </tr>
                <tr>
                  <th>等級</th>
                  <td id="www" style="font-weight:bold;font-size:20px" colspan="2"></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script src="https://x3dom.org/download/1.7.2/x3dom.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/gacha.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
