<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1854846319781914",
        enable_page_level_ads: true
      });
    </script>
    <meta charset='utf-8' />
    <title>貓咪大戰中文資料庫</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <img src="../public/css/footage/title.png"/>
      <div class="navLinkBox">
        <span class="show_panel">資料庫</span>
        <div class="nav_panel" style="height: 0px;">
          <a  id="cat">貓咪資料</a>
          <a  id="enemy">敵人資料</a>
          <a  id="combo">查詢聯組</a>
          <a  id="stage">關卡資訊</a>
          <a  id="gacha">轉蛋資訊</a>
        </div>
        <a  id="compareCat">比較貓咪</a>
        <a  id="book">我的貓咪圖鑑</a>
        <a  id="calendar">活動日程</a>
        <a  id="event">最新消息</a>
        <a  id="intro">新手專區</a>
      </div>
      <div class="settingBox">
        <a class="current_user_name"></a>
        <div style="display:flex;justify-content:center">
          <i class="material-icons" data-toggle="modal" data-target="#helpModal">info</i>
          <a id="setting"><i class="material-icons">settings</i></a>
        </div>
      </div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu">menu</i>
      </div>
    </nav>

    <div id="m_nav_panel_BG"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox">
        <span class="show_panel">資料庫</span>
        <div class="nav_panel" style="height: 0px;">
          <a  id="cat">貓咪資料</a>
          <a  id="enemy">敵人資料</a>
          <a  id="combo">查詢聯組</a>
          <a  id="stage">關卡資訊</a>
          <a  id="gacha">轉蛋資訊</a>
        </div>
        <a  id="compareCat">比較貓咪</a>
        <a  id="book">貓咪圖鑑</a>
        <a  id="calender">活動日程</a>
        <a  id="event">最新消息</a>
        <a  id="intro">新手專區</a>
      </div>
      <div class="m_settingBox">
        <a class="current_user_name"></a>
        <div style="display:flex;justify-content:center">
          <i class="material-icons" data-toggle="modal" data-target="#helpModal">info</i>
          <a id="setting"><i class="material-icons">settings</i></a>
          <div id='service'></div>
        </div>
      </div>
    </div>


    <div id="iframe_holder" class="head">
      <div id="bulletin">
        <div class="content">
          <div class="main">
            <h2>網站公告</h2>
            關於支持本網站，不管你有沒有點同意，都先感謝大家對本站的愛戴，
            一些支持的問題在此統一回覆。</br>
            <ul>
              <li>
                <b>
                  我希望能夠支持大大，不過有個小疑問就是說，
                  如果改天我希望關閉利用我電腦的CPU幫忙計算的話，
                  要怎麼做呢?
                </b></br>
                我知道有時候用手機，或是電腦效能比較不好的時候，怕用過多的CPU會發燙，
                所以在設定中最下方的開始支持按鈕是可以關閉、暫停的，但...要記得偶爾去把它
                打開呦，感謝支持><
              </li>
              <li>
                <b>
                  打開支持後會不會讓電腦/手機變很燙，或是很容易壞啊?
                </b></br>
                基本上不會的，我有設定預留大概50%的時間讓CPU休息，所以比起玩遊戲，
                消耗的效能更少，當然如果你的手機或電腦效能本來就不夠，或是在外面怕消耗
                電力太快，都可以在設定中暫時關掉，但一樣要記得開回來啊XDD
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="login">
      <h4>請選擇一種登入方式</h4>
      <div class="login_box">
        <span id="fb_login"><i class="fa fa-facebook-f"></i></span>
        <span id="guest_login"><i class="material-icons" style="font-size:30px">person</i></span>
      </div>
    </div>
    <div id="mine_alert">
      <div class="content">
        <div class="main">
          貓咪大戰中文資料庫已經上線一個月了，沒有想到會有這麼多人會用我的網站，
          感謝大家的支持，也因為有你們的回饋，我才能把網站越做越好。</br>
          如果你覺得這個網站對你有一點小小的幫助的話，請不要吝嗇給予作者一點支持，
          你們的支持是我繼續做下去的動力><</br>
          (會在你瀏覽資料庫時，稍微用一點點你電腦閒置的計算能力:>)
        </div>
        <div class="success">
          感謝支持!!你的支持是我繼續做下去的動力:)
        </div>
        <div class="fail">
          謝謝你的肯定，不過如果你願意支持我，要按"允許"歐><
        </div>
        <div class="not_accept">
          如果你覺得有哪裡不好，歡迎用客服系統通知我，
          另外如果你改變心意的話，可以去設定裡面打開歐><
        </div>
        <span>
          <button id="support">我支持你</button>
          <button id="nottoday">我不想要</button>
          <button id="ok">關閉視窗</button>
        </span>
      </div>
    </div>





    <script src="https://authedmine.com/lib/authedmine.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
