<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1854846319781914",
        enable_page_level_ads: true
      });
    </script>
    <meta charset='utf-8' />
    <title>貓咪大戰中文資料庫</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <a href="\">
        <img src="../public/css/footage/title.png"/>
      </a>
      <div class="navLinkBox"></div>
      <div class="settingBox"></div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu">menu</i>
      </div>
    </nav>
    <div id="m_nav_panel_BG"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox"></div>
      <div class="m_settingBox"></div>
    </div>

    <div class="head">
      <div class="start_holder">
        <p>
          <span></span>年，跨年這一天</br>全世界即將遭到血染...</br></br>
          在經濟低迷，人民對政治不信任</br>社會風氣持續衰退時</br>
          突然出現的</br>「貓咪軍團」</br></br>
          局勢動盪...冷酷無情...</br>支離破碎...氣氛融洽...</br>
          烤肉定食...我超愛吃...</br></br>
          我們想了一些看似四字成語的詞彙</br>也無法阻擋這些貓咪進攻</br></br>
          話說，</br>「貓咪」與「爆米」</br>聽起來很像</br>
          但誰也不想看貓</br>變成爆米花呀!</br></br>
          對貓咪比較有禮貌的稱呼就是</br>「貓咪大人」</br>
          會對這種古早叫法感到懷念的人</br>想必都不年輕了吧</br></br>
          之前啊</br>突然心血來潮提筆來寫信</br>
          一開始還蠻順手的</br>但是因為好久沒寫字了</br>
          字寫得東倒西歪的</br>寫到一半就放棄了</br></br>
          但信是要寫給誰的﹖</br>都還沒決定好就開始寫</br>
          這是最大的敗筆</br></br>
          小時候的夢想是</br>長大後成為棒球選手</br>
          當時充滿自信</br>但現在怎麼想都覺得丟臉</br></br>
          唉</br>漫畫家賺很大的!</br>
          如果馬上能成為漫畫家的話</br>我也不介意</br></br>
          有錢的話</br>就不需要愛?</br></br>對 不對</br></br>
          正確笞案到底是什麼</br>老實說我不太在乎</br></br>
          我唯一</br>想說的是</br></br>「貓咪軍團」</br>
          並不是什麼壞傢伙唷<i class="material-icons">&#xe3a1;</i></br>
          </br>嗯，就這樣。
        </p>
      </div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="login">
      <h4>請選擇一種登入方式</h4>
      <div class="login_box">
        <span id="fb_login"><i class="fa fa-facebook-f"></i></span>
        <span id="guest_login"><i class="material-icons" style="font-size:30px">person</i></span>
      </div>
    </div>





    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
