<html>
  <head>
    <meta charset='utf-8' />
    <title>貓咪大戰中文資料站</title>
    <link rel="Shortcut Icon" type="image" href="/css/footage/logo.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <img src="./css/footage/logo_text.png"/>
      <div class="navLinkBox">
        <span class="show_panel" value='0'>資料查詢</span>
        <div class="nav_panel">
          <a  id="cat">貓咪資料</a>
          <a  id="enemy">敵人資料</a>
          <a  id="combo">查詢聯組</a>
          <a  id="stage">關卡資訊</a>
          <a  id="rank">等級排行</a>
        </div>
        <span class="show_panel" value='0'>更多功能</span>
        <div class="nav_panel">
          <a  id="compare">比較器</a>
          <a  id="expCalculator">經驗計算機</a>
          <a  id="book">我的貓咪圖鑑</a>
        </div>
        <span class="show_panel" value='0'>打發時間</span>
        <div class="nav_panel">
          <a  id="gacha">轉蛋模擬器</a>
          <a  id="game">釣魚小遊戲</a>
        </div>
        <a  id="calendar">活動日程</a>
        <!-- <a  id="event">最新消息</a> -->
      </div>
      <div class="navBox">
        <i class="material-icons" id="carousel">view_carousel</i>
        <i class="material-icons" id="reload">refresh</i>
      </div>
      <div class="settingBox">
        <i class="material-icons" data-toggle="modal" data-target="#helpModal">info</i>
        <div class="show_panel" style="display:flex;">
          <span id="userPhoto"></span>
          <span class="current_user_name flex"></span>
        </div>
        <div class="nav_panel">
          <a id="setting"><i class="material-icons" style="font-size:20">settings</i>設定</a>
          <a id="history"><i class="material-icons" style="font-size:20">history</i>歷程記錄</a>
        </div>
      </div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu" onclick="showhideNav()" active='0'>menu</i>
      </div>
    </nav>

    <div id="m_nav_panel_BG"onclick="showhideNav()"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox">
        <span class="show_panel" value='0'>資料庫</span>
        <div class="nav_panel">
          <a  id="cat">貓咪資料</a>
          <a  id="enemy">敵人資料</a>
          <a  id="combo">查詢聯組</a>
          <a  id="stage">關卡資訊</a>
          <a  id="rank">等級排行</a>
        </div>
        <span class="show_panel" value='0'>更多功能</span>
        <div class="nav_panel">
          <a  id="compare">比較器</a>
          <a  id="expCalculator">經驗計算機</a>
          <a  id="book">我的貓咪圖鑑</a>
        </div>
        <span class="show_panel" value='0'>打發時間</span>
        <div class="nav_panel">
          <a  id="gacha">轉蛋模擬器</a>
          <a  id="game">釣魚小遊戲</a>
        </div>
        <a  id="calendar">活動日程</a>
      </div>
      <div class="m_settingBox">
        <a class="current_user_name"></a>
        <div style="display:flex;justify-content:center">
          <i class="material-icons" data-toggle="modal" data-target="#helpModal">info</i>
          <a id="setting"><i class="material-icons">settings</i></a>
          <a id="history"><i class="material-icons">history</i></a>
        </div>
      </div>
    </div>

    <div class="head">
      <div id="bulletin">
        <div class="main"style="height:85%">
          <div id="onLineUser">
            <div>
              目前線上人數 : <span>0</span> 人
            </div>
          </div>
          <div id="Version_display">
            <div>
              目前版本 : <span>0.0.0</span>
            </div>
          </div>
          <div id="expandContent" onclick="scroll_to_div('2','#bulletin')">
            <i class="material-icons" style="font-size:100px"> expand_less </i>
          </div>
        </div>
        <div class="main"style="padding:10 0">
          <div style="width:100%;justify-content: center">
            <span style="margin:0 10">
              比較器更新囉 ! 想了解更新功能的話，請關注
              <a href="https://www.facebook.com/BattleCatStation/" target="_blank">粉絲團</a>~
              另外，贊助功能上線了~給辛苦的作者 <a onclick="scroll_to_div('7','#bulletin')">一杯咖啡</a> 吧XD
            </span>
          </div>
        </div>
        <div id='2'class="main">
          <h2>貓咪資料庫</h2>
          <div>
            <div class="LegendCardholder">
            <div class="LegendCard">
              <img src="./css/footage/cat/u001-1.png">
              <span>貓咪</span>
              <span>血量 : 9999</span>
              <span>攻擊 : 9999</span>
              <span>查詢次數 : 9999</span>
              <span class="searchMore">more<i class="material-icons">&#xE315;</i></span>
            </div>
            <div class="LegendCard">
              <img src="./css/footage/cat/u001-1.png">
              <span>貓咪</span>
              <span>血量 : 9999</span>
              <span>攻擊 : 9999</span>
              <span>查詢次數 : 9999</span>
              <span class="searchMore">more<i class="material-icons">&#xE315;</i></span>
            </div>
            <div class="LegendCard">
              <img src="./css/footage/cat/u001-1.png">
              <span>貓咪</span>
              <span>血量 : 9999</span>
              <span>攻擊 : 9999</span>
              <span>查詢次數 : 9999</span>
              <span class="searchMore">more<i class="material-icons">&#xE315;</i></span>
            </div>
          </div>
            <div class="article">
              在這裡你可以查詢到每隻貓咪的基本資料，如:血量、攻擊力甚至是相關的聯組，
              你也可以對每隻貓咪評分或是留下使用感想，這些資訊對新手或是剛抽的這隻貓
              的朋友會十分的有用~</br></br>
              此外你可以用不同的篩選條件，像是:稀有度、特殊能力、對付敵人屬性甚至是數值化的
              血量、生產金額等篩選出符合條件的貓咪，並將他們加入"貓咪購物車"，當開啟
              <span onclick="changeIframe('compareCat')" style="color:#3795e8;font-weight:bold;cursor:pointer">
                貓咪比較器
              </span>
              的時候，在購物車中的貓咪就會被列舉出各項數值比較表，讓你一眼就可以看出
              每隻貓咪的優缺點。</br></br>
              左側為貓咪查詢排行榜，點擊"more"來看看這些貓為甚麼大受好評吧!
            </div>
          </div>
          <div id="LegendRedirect">
            <span onclick="changeIframe('cat')">前往貓咪資料庫 ></span>
          </div>
        </div>
        <div id='3'class="main">
          <h2>關卡資料庫</h2>
          <div>
            <div class="article">
              在這裡你可以查詢到各個關卡的資訊，像是:敵人出擊限制、我方出擊限制還有關卡獎勵
              與個敵人的強化倍率、出現時間等有用資訊。在出現敵人的列表中，你可以點擊表格上方
              的欄位，來依照出現時間或是強化倍率等排序敵人，也可以點擊敵人圖片來顯示該敵人的
              基本資料，對於攻略關卡十分的有幫助。</br></br>
              另外，資料庫還提供了可以用關卡名稱或是過關獎勵來篩選關卡，對於想要刷素材的朋友
              也很方便，之後也預計加入讓大家撰寫攻略的功能，敬請期待。</br></br>
              右側為上週關卡查詢排行榜，點擊"more"來看看大家都在刷什麼關卡吧!
            </div>
            <div class="LegendCardholder">
            <div class="LegendCard">
              <div class="stageBG" bg=""></div>
              <span>關卡名稱</span>
              <span>消耗統帥力 : 0</span>
              <span>查詢次數 : 9999</span>
              <span >出現敵人一覽</span>
              <span class="searchMore">more<i class="material-icons">&#xE315;</i></span>
            </div>
            <div class="LegendCard">
              <div class="stageBG" bg=""></div>
              <span>關卡名稱</span>
              <span>消耗統帥力 : 0</span>
              <span>查詢次數 : 9999</span>
              <span >出現敵人一覽</span>
              <span class="searchMore">more<i class="material-icons">&#xE315;</i></span>
            </div>
            <div class="LegendCard">
              <div class="stageBG" bg=""></div>
              <span>關卡名稱</span>
              <span>消耗統帥力 : 0</span>
              <span>查詢次數 : 9999</span>
              <span >出現敵人一覽</span>
              <span class="searchMore">more<i class="material-icons">&#xE315;</i></span>
            </div>
          </div>
          </div>
          <div id="LegendRedirect">
            <span onclick="changeIframe('stage')">前往關卡資料庫 ></span>
          </div>
        </div>
        <div id='4'class="main">
          <h2>最新消息</h2>
          <div style="flex-direction:column;align-items:center">
            選擇日期 : <select id="event_date" style="color:black"></select>
            <iframe id="event_iframe"></iframe>
            <div id="alt_text"style="display:none"></div>
            <div style="margin-top:20">
              <a target="_blank" style="margin-right:20">在新分頁開啟</a>
              <a onclick="reloadEventIframe()">重新整理</a>
              <a onclick="switchPureText()" style="margin-left:20;">切換純文字顯示</a>
            </div>
          </div>
        </div>
        <div id='5'class="main">
          <h2>未來活動預測</h2>
          <div style="align-items:center;flex-direction:row">
            <span class="button"value='0'id="event_tw_but">台版情報</span>
            <span class="button"value='0'id="event_jp_but">日版情報</span>
            <span>
              資料來源 :
              <a id="event_source_tw" target="_blank">巴哈姆特_台版</a> ,
              <a id="event_source_jp" target="_blank">巴哈姆特_日版</a>
            </span>
          </div>
          <div class="eventTableHolder" style="flex-direction:column;align-items:baseline">
            <table id="event_tw"></table>
            <table id="event_jp"></table>
          </div>
          <span id="eventTableScroll_L"onclick="eventTableScroll('L')">
            <i class="material-icons"style="font-size:75"> chevron_left </i>
          </span>
          <span id="eventTableScroll_R"onclick="eventTableScroll('R')">
            <i class="material-icons"style="font-size:75"> chevron_right </i>
          </span>
        </div>
        <div id='6'class="main">
          <div>
            <div style="flex:1">
              <h2>其他網站連結</h2>
              <table>
                <tr>
                  <th><a target="_blank" href="https://battlecats-db.com/">超絕攻略網</a> </th>
                  <td>日文的攻略網，也是本網站目前主要的資料來源</td>
                </tr>
                <tr>
                  <th><a target="_blank" href="https://forum.gamer.com.tw/A.php?bsn=23772">巴哈姆特貓戰版</a> </th>
                  <td>中文的論壇，是本網站次要的資料來源</td>
                </tr>
                <tr>
                  <th> <a target="_blank" href="https://www.youtube.com/channel/UC6UBir4I6o_0dJQa8eoGoDQ">貓咪大戰爭中文版官方YouTube</a> </th>
                  <td>官方的Youtube頻道</td>
                </tr>
                <tr>
                  <th> <a target="_blank" href="https://www.facebook.com/NyankoTW/">貓咪大戰爭中文版官方FB</a> </th>
                  <td>官方的Facebook粉絲團</td>
                </tr>
                </table>
            </div>
            <div style="flex:1">
              <h2>遊戲中網站連結</h2>
              <table>
                <tr>
                  <th> <a target="_blank" href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/information/appli/battlecats/evolution/tw/index.html"> 貓薄荷介紹 </a> </th>
                  <th> <a target="_blank" href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/information/appli/battlecats/combo/tw/index.html"> 聯組介紹 </a> </th>
                  <th> <a target="_blank" href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/information/appli/battlecats/zukan/tw/index.html"> 貓咪圖鑑介紹 </a> </th>
                </tr>
                <tr>
                  <th> <a target="_blank" href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/information/appli/battlecats/mission/tw/index.html"> 貓咪任務介紹 </a> </th>
                  <th> <a target="_blank" href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/information/appli/battlecats/instinct/tw/index.html"> 本能介紹 </a> </th>
                  <th> <a target="_blank" href="https://ponos.s3.dualstack.ap-northeast-1.amazonaws.com/information/appli/battlecats/club/tw/index.html"> 貓咪俱樂部介紹 </a> </th>
                </tr>
              </table>
            </div>
          </div>
          </div>
        <div id="7"class="main">
          <h2>聯絡我們</h2>
          <div style="justify-content:center">
            <a class="contact_block"target="_blank"href="https://www.facebook.com/BattleCatStation/">
              <img src='/css/footage/facebook.png'/>
              <span>
                <b>facebook粉絲專頁</b></br>
                幫我們按個讚，隨時獲得最新的更新消息</br>
                有問題的時候也可以私訊粉專，我們會以最快的速度幫你解決
              </span>
            </a>
            <a class="contact_block"target="_blank"href="https://docs.google.com/forms/d/e/1FAIpQLScz-YlVxBGPGsxWKSMqdBzpRZiDm3BOrmNihRnWZJlHlpGxag/viewform">
              <img src='/css/footage/googleSheet.png'/>
              <span>
                <b>意見表單</b></br>
                如果有Bug或是希望我們改進、加強的功能</br>
                抑或是有任何的建議與指教，歡迎填寫此google表單回報給我們知道
              </span>
            </a>
            <a class="contact_block" target="_blank" >
              <img src='/css/footage/paypal.png'/>
              <span>
                <b>贊助我們</b><br>
                如果我們架設的網站有幫助到你的話，
                請不吝嗇給我們一點鼓勵，十分的感謝你~~<br>
                <b>選擇斗內金額:</b>
              </span>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank"style="display:flex;justify-content:center;align-items:center;">
                <!-- <input type="image" style="width:60%;margin:10px 20%" src="https://www.paypalobjects.com/zh_TW/TW/i/btn/btn_buynowCC_LG_wCUP.gif" border="0" name="submit" alt="PayPal － 更安全、更簡單的線上付款方式！"> -->
                <img alt="" border="0"style="display:none" src="https://www.paypalobjects.com/zh_TW/i/scr/pixel.gif" width="1" height="1">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R8LMUVKC7U5WU">
                <select name="os0">
                  <option style="color:black"value="70">一個便當 NT$70 TWD</option>
                  <option style="color:black"value="30">一杯咖啡 NT$30 TWD</option>
                  <option style="color:black"value="10">小斗怡情 NT$10 TWD</option>
                </select>
                <input type="hidden" name="currency_code" value="TWD">
                <input type="submit" name="submit" value="斗內"style="width:80">
              </form>
            </a>
          </div>
        </div>
      </div>
      <div id="iframe_holder"> </div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'>更新紀錄 Update Log</div>
          </div>
          <div class="modal-body"> </div>
          <div class="modal-footer">
            本網站資料來源主要為<a href='https://battlecats-db.com/' target='blank'>超絕攻略網</a>
          </div>
        </div>
      </div>
    </div>

    <div id="login">
      <h4>請選擇一種登入方式</h4>
      <div class="login_box">
        <span id="fb_login"><i class="fa fa-facebook-f"></i></span>
        <span id="google_login"><i class="fa fa-google"></i></span>
        <span id="guest_login"><i class="material-icons" style="font-size:30px">person</i></span>
        <i class="fa fa-spinner fa-pulse" style="font-size:40px;display:none;margin:20px"></i>
      </div>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/event.js"></script>
    <script src="./js/jquery.touchSwipe.min.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
