<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新手專區</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/question-mark.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/cat.css" />
    <link rel="stylesheet" href="../public/css/stage.css" />
    <link rel="stylesheet" href="../public/css/compareCat.css" />
    <link rel="stylesheet" href="../public/css/intro.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <div class="section" style="margin-top:10%">
      <div class="section_title">頁面導覽</div>
      <div class="content">
        <p>
          在<b style="color:#df5151">電腦版</b>上的導航列如下所示，
          將滑鼠懸浮到<b>"資料庫"</b>或<b>"更多功能"</b>上方時，面板將會出現，可以再選擇子項目。
          而中間區塊的小圖示則分別代表以下功能: </p>
        <ul style="width: 100%">
          <li><i class="material-icons">&#xe5c4;</i> : 上一頁，回到上一個瀏覽的子頁面</li>
          <li><i class="material-icons">&#xe8eb;</i> : 顯示最近開啟頁面，可以快速切換</li>
          <li><i class="material-icons">&#xE863;</i> : 重新整理子頁面</li>
          <li><i class="material-icons">&#xe5c8;</i> : 下一頁</li>
        </ul>
        <p>
          而右方的紅色框框中會顯示你的暱稱，暱稱可以在設定中更改。<br />
          要前往設定頁面，則可以點選<i class="material-icons">settings</i>圖示。<br />
          而點選<i class="material-icons">info</i>圖示，可以叫出Update log的面板，
          裡面記錄了各版本更新的功能。 </p>
        <p>
          在<b style="color:#df5151">手機版</b>中，除了"上一頁"
          "下一頁"...等4個按鈕保留在導航列上，其他連結都放入側邊欄，要叫出側邊欄，
          請點選右上角的<i class="material-icons">menu</i>按鈕。 </p>
        <nav style="position:relative;z-index:0">
          <img src="../public/css/footage/title.png"/>
          <div class="navLinkBox">
            <span class="show_panel" value='0'>資料庫</span>
            <span class="show_panel" value='0'>更多功能</span>
            <a  id="calendar">活動日程</a>
            <a  id="event">最新消息</a>
          </div>
          <div class="navBox">
            <i class="material-icons" id="prev">&#xe5c4;</i>
            <i class="material-icons" id="carousel">&#xe8eb;</i>
            <i class="material-icons" id="reload">&#xE863;</i>
            <i class="material-icons" id="next">&#xe5c8;</i>
          </div>
          <div class="settingBox">
            <a class="current_user_name" style="border:3px solid #df5151"></a>
            <div style="display:flex;justify-content:center">
              <i class="material-icons" data-toggle="modal" data-target="#helpModal">info</i>
              <a id="setting"><i class="material-icons">settings</i></a>
            </div>
          </div>
          <div class="mobile">
            <i class="material-icons" id="m_nav_menu">menu</i>
          </div>
        </nav>
        <div style="width:100%;display:flex;justify-content:space-around">
          <button onclick='nav_PC(1)'>電腦版</button>
          <button onclick='nav_PC(0)'>手機板</button>
        </div>
      </div>
    </div>
    <div class="section"id="database">
      <div class="section_title">貓咪、敵人資料庫<i class="material-icons"onclick="scrollToDiv('database')">&#xE25A;</i></div>
      <div class="content">
        <p>
          在貓咪資料庫與敵人資料庫頁面，主要分為五大區塊，
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(0)">篩選器</b>、
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(1)">篩選結果</b>、
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(2)">資料顯示區</b>、
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(3)">統計與評論(僅貓咪頁)</b>與
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(4)">購物車</b>。
          (點擊連結以前往介紹) </p>
        <h1 id="0"><b>篩選器</b></h1>
        <p>
          篩選器區塊的最上方，有下圖所示之切換
          <b style="color:rgb(19, 162, 100)">一般篩選</b>、
          <b style="color:rgb(19, 162, 100)">轉蛋篩選</b>
          或是展開收合 <b style="color:rgb(19, 162, 100)">數值篩選</b>的區塊。<br>
          以上切換功能僅出現在貓咪資料庫中，在敵人資料庫則無切換功能。<br />
          而右方有文字搜尋，也可以輸入數字，以ID搜尋，搜尋功能在貓咪與敵人資料庫皆可使用。 </p>
        <div class="search_type" style="border: 3px solid black;background-color: #dedede;">
          <span class="button" value='1' id="normal_search">一般篩選</span>
          <span class="button" value='0' id="gacha_search">轉蛋篩選</span>
          <span class="button" value='0' id="value_search">數值篩選</span>
          <div class="search" >
            <input type="text" id="searchBox" placeholder="Search for Cats(Enemys)...">
            <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
        <p>
          貓咪篩選器如下圖所示，點選篩選器的按鈕，可以點亮它，代表之後篩選時，該條件會被考慮。可以篩選的項目有
          <b>稀有度</b>、<b>對付屬性</b>與<b>能力</b>而敵人篩選器則只有<b>敵人屬性</b>和<b>能力</b>
          兩種篩選器，點選篩選器的名稱可以清除選擇或在沒有選擇的情況下全選該篩選器。<br />
          能力篩選器預設僅顯示圖示，激活時會在螢幕左上角彈出該項目的敘述，樣式如下 </p>
        <div class="ability_tip" style="left:0;top:0;position:relative">擅於攻擊</div>
        <p>
          若希望有文字敘述，可以在設定中開啟<b>顯示能力篩選文字</b>；敵人篩選器的能力預設就是以文字顯示。<br />
          選擇好篩選器後，請點選<button id="search_ability" style="font-size:20;padding:3 24; margin:0 5;">GO</button>
          按鈕，系統即會開始幫您篩選。 </p>
        <table id="upper_table" style="border: 3px solid black;background-color: #dedede;">
          <tr>
            <th colspan="2">稀有度</th>
            <td colspan="4" class="select_rarity">
              <span class='button' value='0' >基本</span> <span class='button' value='0' >EX</span>
              <span class='button' value='0' >稀有</span> <span class='button' value='0' >激稀有</span>
              <span class='button' value='0' >激稀有狂亂</span> <span class='button' value='0' >超激稀有</span>
            </td>
          </tr>
          <tr>
            <th colspan="2">屬性</th>
            <td colspan="4" class="select_color">
              <span class='button' name='對紅色' value='0' >紅色敵人</span>
              <span class='button' name='對漂浮' value='0' >漂浮敵人</span>
              <span class='button' name='對黑色' value='0' >黑色敵人</span>
              <span class='button' name='對鋼鐵' value='0' >鋼鐵敵人</span>
              <span class='button' name='對天使' value='0' >天使</span>
              <span class='button' name='對外星' value='0' >異星戰士</span>
              <span class='button' name='對不死' value='0' >不死生物</span>
              <span class='button' name='對白色' value='0' >白色敵人</span>
              <span class='button' name='對全部' value='0' >全部敵人</span>
            </td>
          </tr>
          <tr>
            <th colspan="2" rowspan="2">能力</th>
            <td colspan="4" rowspan="2" class="select_ability">
              <span class='button'value='0'><i id='atkdown'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='atkup'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='noatkdown'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='goodat'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='morehp'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='bighurt'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='criticalhit'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='goaway'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='nogoaway'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='serialatk'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='killdeath'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='slow'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='noslow'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='stop'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='nostop'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='faratk'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='surive'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='wave'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='nowave'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='stopwave'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='2money'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='castle'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='notrans'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='breakshell'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='1atk'class="ability_icon"></i></span>
              <span class='button'value='0'><i id='metal'class="ability_icon"></i></span>
            </td>
          </tr>

        </table>
        <p>
          數值篩選器如下圖所示，點選名稱可以切換不同的條件，選擇到的條件名稱下方會有橘色標示條，
          此時點選<b>啟用</b>下方的標記，即可啟用該篩選器，啟用後篩選器的名稱底色，將變為亮橘色。
          拉動右方拉桿以調整數值，或點擊數值以做修改。
          可以點選最右方的欄位，以切換<b>以上</b>、<b>以下</b>或<b>範圍</b>。<br />
          在範圍篩選中，右側數值僅顯示目前正在調整的拉桿數值。此外，在手機版中，拉桿不會顯示，
          只能以修改數值的方法，更變條件。 </p>
        <table id="lower_table" style="border: 3px solid black;background-color: #dedede;">
          <tbody>
            <tr>
              <th rowspan="2" id="selectAll"> 啟用 </th>
              <th colspan="8"> 數值篩選器 </th>
            </tr>
            <tr>
              <th class="filter_option"  active="false" style="border-bottom: 5px solid #f1a643;">體力</th>
              <th class="filter_option"  active="false">DPS</th> <th class="filter_option"  active="false">速度</th>
              <th class="filter_option"  active="false">花費</th> <th class="filter_option"  active="false">攻頻</th>
              <th class="filter_option"  active="false">攻撃力</th> <th class="filter_option"  active="false">射程</th>
              <th class="filter_option"  active="false">再生産</th>
            </tr>
            <tr id="slider_holder" style="display:table-row">
              <td id="active" value='0'><i class="material-icons">&#xe836;</i></td>
              <td colspan="6"style="display:table-cell"> <div class="slider"></div> </td>
              <td class="value_display">0</td>
              <td id="type">以上</td>
            </tr>
          </tbody>
        </table>
        <h1 id="1"><b>篩選結果</b></h1>
        <p>
          篩選結果如下圖所示，篩選出來的貓咪或敵人，會以圖片的方式呈現在結果區。當滑鼠移動到上方功能區時，
          結果筆數的上方會顯示當前的篩選結果(手機版無此功能)，功能區中各圖示的功能如下: </p>
        <ul style="width:100%">
          <li><i class="material-icons">&#xe240;</i> : 展開或收合結果區</li>
          <li><i class="material-icons">&#xe439;</i> : 結果區截圖</li>
          <li><i class="material-icons">&#xe7f0;</i> :
            將結果區中所有貓咪加入"我擁有的貓咪"中(僅貓咪資料庫中可用)</li>
          <li><i class="material-icons">&#xE8CC;</i> :
            將結果區中所有的貓咪或敵人以現在顯示的階數加入<b style="text-decoration:underline"onclick="scrollToDiv(4)">比較序列</b></li>
          <li><i class="material-icons">&#xE332;</i> : 前往轉蛋模擬器，僅在貓咪資料庫中，已轉蛋篩選且篩選轉蛋只有一個的時候可用</li>
        </ul>
        <p>
          在結果區中，點選右上角的<span class="glyphicon glyphicon-shopping-cart"style="position:unset"></span>圖示，可以個別添加這隻貓咪到
          <b style="text-decoration:underline"onclick="scrollToDiv(4)">比較序列</b>；
          點選右下的<span class="glyphicon glyphicon-refresh" style="position:unset"></span>圖示則可以切換階級(僅貓咪)。<br />
          點擊照片則可以在資料顯示區顯示該貓咪或敵人的資料。<br />
          在多頁結果的情況下，除了可以直接滾動結果區，也可以點選下方"上一頁""下一頁"按紐，
          或是直接點擊按鈕間的頁數點點切換到該頁。 </p>
        <div class="compareSorce"style="border: 3px solid black;background-color: #dedede;">
          <div class="title">
            <span>搜尋篩選結果:<span id="query">篩選條件:基本</span></span>
            <div id="option">
              <div><i class="material-icons">&#xe240;</i></div>
              <div><i class="material-icons">&#xe439;</i></div>
              <div><i class="material-icons">&#xe7f0;</i></div>
              <div><i class="material-icons">&#xE8CC;</i></div>
              <div><i class="material-icons">&#xE332;</i></div>
            </div>
            <span id="result_count">共<span>9</span>筆結果</span>
          </div>
          <div id="selected" style="display: flex;">
            <span class="card-group" hidden=""></span>
            <span class="card-group" value="001">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="001-1" style="background-image:url('../public/css/footage/cat/u001-1.png')">貓咪</span>
              <span class="card" value="001-2" style="background-image:url('../public/css/footage/cat/u001-2.png');display:none">健美貓</span>
              <span class="card" value="001-3" style="background-image:url('../public/css/footage/cat/u001-3.png');display:none">摩西根貓</span>
            </span>
            <span class="card-group" value="002">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="002-1" style="background-image:url('../public/css/footage/cat/u002-1.png')">坦克貓</span>
              <span class="card" value="002-2" style="background-image:url('../public/css/footage/cat/u002-2.png');display:none">牆貓</span>
              <span class="card" value="002-3" style="background-image:url('../public/css/footage/cat/u002-3.png');display:none">橡皮貓</span>
            </span>
            <span class="card-group" value="003">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="003-1" style="background-image:url('../public/css/footage/cat/u003-1.png')">戰鬥貓</span>
              <span class="card" value="003-2" style="background-image:url('../public/css/footage/cat/u003-2.png');display:none">勇者貓</span>
              <span class="card" value="003-3" style="background-image:url('../public/css/footage/cat/u003-3.png');display:none">暗黑貓</span>
            </span>
            <span class="card-group" value="004">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="004-1" style="background-image:url('../public/css/footage/cat/u004-1.png')">噁心貓</span>
              <span class="card" value="004-2" style="background-image:url('../public/css/footage/cat/u004-2.png');display:none">美腿貓</span>
              <span class="card" value="004-3" style="background-image:url('../public/css/footage/cat/u004-3.png');display:none">筋肉美腿貓</span>
            </span>
            <span class="card-group" value="005">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="005-1" style="background-image:url('../public/css/footage/cat/u005-1.png')">牛貓</span>
              <span class="card" value="005-2" style="background-image:url('../public/css/footage/cat/u005-2.png');display:none">長頸鹿貓</span>
              <span class="card" value="005-3" style="background-image:url('../public/css/footage/cat/u005-3.png');display:none">獅子貓</span>
            </span>
            <span class="card-group" value="006">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="006-1" style="background-image:url('../public/css/footage/cat/u006-1.png')">鳥貓</span>
              <span class="card" value="006-2" style="background-image:url('../public/css/footage/cat/u006-2.png');display:none">UFO貓</span>
              <span class="card" value="006-3" style="background-image:url('../public/css/footage/cat/u006-3.png');display:none">天空之貓</span>
            </span>
            <span class="card-group" value="007">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="007-1" style="background-image:url('../public/css/footage/cat/u007-1.png')">魚貓</span>
              <span class="card" value="007-2" style="background-image:url('../public/css/footage/cat/u007-2.png');display:none">鯨貓</span>
              <span class="card" value="007-3" style="background-image:url('../public/css/footage/cat/u007-3.png');display:none">島貓</span>
            </span>
            <span class="card-group" value="008">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="008-1" style="background-image:url('../public/css/footage/cat/u008-1.png')">蜥蜴貓</span>
              <span class="card" value="008-2" style="background-image:url('../public/css/footage/cat/u008-2.png');display:none">龍貓</span>
              <span class="card" value="008-3" style="background-image:url('../public/css/footage/cat/u008-3.png');display:none">龍王貓</span>
            </span>
            <span class="card-group" value="009">
              <span class="glyphicon glyphicon-refresh"></span><span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="card" value="009-1" style="background-image:url('../public/css/footage/cat/u009-1.png')">巨神貓</span>
              <span class="card" value="009-2" style="background-image:url('../public/css/footage/cat/u009-2.png');display:none">巨人貓</span>
              <span class="card" value="009-3" style="background-image:url('../public/css/footage/cat/u009-3.png');display:none">賈拉米貓</span>
            </span>
          </div>
          <div class="button_group" style="margin-top:10px" >
            <button id="pre_sel_pg"><span class="glyphicon glyphicon-chevron-up"></span>上一排</button>
            <span id="page_dot">
              <span value="0" style="background-color: rgb(254, 168, 74);"></span>
              <span value="1"></span>
            </span>
            <button id="next_sel_pg">下一排<span class="glyphicon glyphicon-chevron-down"></span></button>
          </div>
        </div>
        <h1 id="2"><b>資料顯示區</b></h1>
        <div style="display:flex;width:100%">
          <div style="flex:3">
            <p>
              在資料顯示區的右邊，有如右的懸浮工具列，各工具的功能如下:
            </p>
            <ul>
              <li><i class="material-icons">&#xE8E7;</i> : 標記/取消標記這隻貓為我擁有的(僅出現於貓咪資料頁)</li>
              <li><i class="material-icons">&#xE8CC;</i> : 加入這隻貓到<b style="text-decoration:underline"onclick="scrollToDiv(4)">比較序列</b></li>
              <li><i class="material-icons">&#xe895;</i> : 則會在新分頁開啟這隻貓超絕網站的連結</li>
              <li><i class="material-icons">&#xe439;</i> : 截圖整個資料顯示區(若圖片太長，可以收合統計數據與評論後再截圖)</li>
              <li><i class="material-icons">&#xE25A;</i> : 回到資料顯示區的最頂端</li>
            </ul>
          </div>
          <div id='more_option' style="position:relative;top:0;left:0;z-index:0;border: 3px solid black;background-color: #dedede;">
            <div value='0'> <i class="material-icons">&#xE8E7;</i> <span class="tag">我沒有這隻貓</span> </div>
            <div> <i class="material-icons">&#xE8CC;</i> <span class="tag">加到購物車</span> </div>
            <div> <a><i class="material-icons">&#xe895;</i></a> <span class="tag">在超絕攻略網打開</span></div>
            <div> <i class="material-icons">&#xe439;</i> <span class="tag">截圖</span> </div>
            <div> <i class="material-icons">&#xE25A;</i> <span class="tag">回到頂端</span> </div>
          </div>
        </div>
        <p>
          貓咪的資料顯示區如下圖所示，會顯示貓咪的各種基本資料。<br />
          第一列的貓咪id與查詢次數，預設不會顯示，可以在設定中打開它。
          第二列會顯示貓咪的圖片與名字，右邊則時該貓咪的其他階級，點擊即可顯示其他階的資料。
          拖動拉桿以改變等級，也可以直接點擊旁變的數字修改等級(手機板無拉桿)。
          調整後系統會自動儲存每隻貓的等級與敵人的倍率。
          黃色框框框起來的地方點選後可以編輯數值，編輯完成後，系統會自動計算出該貓咪的整數等級中，
          最接近你輸入的數值的等級，並改為顯示該等級的資料。 </p>
        <p>
          <b>例如:</b><br />
          大女神美嘉蘿黛蒂<b>42等</b>的體力為<b>59800</b>，
          <b>43等</b>的體力為<b>61100</b>，則點選體力後輸入<b>60000</b>，
          會自動將大女神美嘉蘿黛蒂等級調整至<b>43等</b>!! </p>
        <p>
          在取得方法的欄位中，轉蛋與關卡會以粗體+底線的方式顯示。點選後，若為轉蛋且本資料庫中有該轉蛋，
          則會自動以該轉蛋為篩選，發送篩選貓咪的請求給後端程式；若為關卡，如果本資料庫中有該關，
          則會自動導向關卡資料庫，如無，則會在新分頁開啟超絕網站的連結。(可能會被當作彈出視窗擋掉) </p>
        <p> 發動聯組欄位可以藉由點選 </p>
        <table> <tr id="combo_head"><th colspan="6">發動聯組<i class="material-icons">&#xe315;</i></th></tr> </table>
        <p>
          來展開或收合聯組區。點擊聯組分類或聯組效果，都可以自動導向聯組查詢頁面，
          查詢該分類或相同效果的聯組。另外，點擊出現在聯組中的貓咪的圖片，則可以顯示該貓咪的資料。<br />
          啊!然後有個很不重要的功能就是點擊貓咪的名字，可以複製它噢XDD</p>
        <table style="border: 3px solid black;background-color: #dedede;">
          <tr> <th>ID</th><td>260-2</td> <th>查詢次數</th><td>7</td></tr>
          <tr class="non_mobile">
            <th style="height: 80px; padding: 0px; background-image: url('../public/css/footage/cat/u260-2.png');"></th> <th colspan="3">大女神美嘉蘿黛蒂</th>
            <th colspan="2"><div style="display:flex;justify-content: center;"><span class="card" value="260-1" style="background-image:url('../public/css/footage/cat/u260-1.png');width:90;height:60;margin:5px"></span></div></th>
          </tr>
          <tr class="mobile"> <th colspan="6">大女神美嘉蘿黛蒂</th> </tr>
          <tr class="mobile"> <th style="height: 80px; padding: 0px; background-color: transparent; background-image: url('../public/css/footage/cat/u260-2.png');background-position: center;background-repeat: no-repeat;" colspan="6"> </th> </tr>
          <tr class="mobile">
            <th style="padding:0;background-color:transparent" colspan="6">
              <div style="display:flex;justify-content: center;">
                <span class="card" value="260-1" style="background-image:url('../public/css/footage/cat/u260-1.png');width:90;height:60;margin:5px"></span>
              </div>
            </th>
          </tr>
          <tr>
            <th colspan="1">等級</th> <td colspan="4"><div class="slider"></div></td> <td class="value_display">1</td> </tr> <tr>
            <th>體力</th><td><span class="editable">57200</span></td> <th>KB</th><td>4</td> <th>硬度</th><td><span class="editable">14300</span></td>
          </tr>
          <tr> <th>攻擊力</th><td><span class="editable">52800</span></td> <th>DPS</th><td><span class="editable">4412</span></td> <th>射程</th><td>600</td> </tr>
          <tr> <th>攻頻</th><td>11.97</td> <th>跑速</th><td>7</td> <td colspan="2" rowspan="3">範圍</td> </tr>
          <tr> <th>攻擊週期</th><td >3.97</td> <th>攻發時間</th><td >4.07</td> </tr>
          <tr> <th>花費</th><td>4500</td> <th>再生産</th><td>131.5</td> </tr>
          <tr>
            <th>取得方法</th>
            <td colspan="5" id="condition">
              在<span>超激稀有轉蛋 究極降臨 巨神宙斯 </span>轉蛋中獲得<br>
              在<span>超級貓咪祭</span>轉蛋中獲得<br>
              在<span>特級貓咪祭</span>轉蛋中獲得<br>
              在<span>白金轉蛋</span>轉蛋中獲得<br>
            </td>
          </tr>
          <tr>
            <td colspan="6" id="char">
              對<span id="color">外星敵人</span><span id="type">超大傷害 (攻擊力x3)</span><br><span id="type">遠方攻擊</span> 450~850<br>
            </td>
          </tr>
          <tr id="combo_head"><th colspan="6">發動聯組<i class="material-icons">&#xe315;</i></th></tr>
          <tr class="combo">
            <th>貓咪城</th>
            <td>活在愛的人們</td>
            <td rowspan="2" colspan="4">
              <div style="display:flex">
                <span class="card" value="101-1" style="background-image:url('../public/css/footage/cat/u101-1.png');width:90;height:60;margin:5px"></span>
                <span class="card" value="260-1" style="background-image:url('../public/css/footage/cat/u260-1.png');width:90;height:60;margin:5px"></span>
              </div>
            </td>
          </tr>
          <tr class="combo"><td colspan="2">貓咪砲攻擊力UP 20%</td></tr>
        </table>
        <div style="width:100%;display:flex;justify-content:space-around">
          <button onclick='nav_Data(1)'>電腦版</button>
          <button onclick='nav_Data(0)'>手機板</button>
        </div>
        <p>
          敵人的資料顯示區如下圖，ID與查詢次數，一樣要在設定中打開才會顯示，與貓咪資料頁不同，
          敵人無法點擊"體力、攻擊力...等"欄位，更改數值以調整倍率，且不管是電腦還是手機版，
          都沒有拉桿，倍率的調整僅能透過打字更動。且最小的單位為50%，也就是你輸入的倍率，
          會四捨五入至最接近的50的整數倍。<br />
          點擊屬性欄位中的屬性顏色，可以自動跳轉至貓咪資料庫，查詢對該顏色有特殊能力的貓咪。
          而點擊特性中粗體+底線的文字，可以自動跳轉至貓咪資料庫，並以對應的貓咪能力發出篩選需求。 </p>
        <p>
          <b>例如:</b><br />
          點擊<b>波動</b>則會搜尋<b>免疫波動/抵銷波動</b>的貓咪<br />
          點擊<b>緩速</b>則會搜尋<b>免疫緩速</b>的貓咪<br />
          點擊<b>護盾</b>則會搜尋能<b>破盾</b>的貓咪 </p>
        <table style="border: 3px solid black;background-color: #dedede;">
          <tr> <th>ID</th><td>398</td> <th>查詢次數</th><td>4</td> </tr>
          <tr class="non_mobile"> <th style="height: 80px; padding: 0px; background-image: url('../public/css/footage/enemy/e398.png');background-size:cover"></th> <th colspan="5">狂亂偶像萌貓</th> </tr>
          <tr class="mobile"> <th colspan="6">狂亂偶像萌貓</th> </tr>
          <tr class="mobile"> <th style="height: 80px; padding: 0px; background-color: transparent; background-image: url('../public/css/footage/enemy/e398.png');background-position:center;background-repeat:no-repeat;background-size:contain" colspan="6"> </th> </tr>
          <tr> <th colspan="1">倍率</th> <td colspan="5"> <span style="margin:0 10px">100 %</span> </td> </tr>
          <tr> <th>體力</th><td>1200000</td> <th>KB</th><td>12</td> <th>硬度</th><td>100000</td> </tr>
          <tr> <th>攻擊力</th><td>30000</td> <th>DPS</th><td>225000</td> <th>射程</th><td>240</td> </tr>
          <tr> <th>攻頻</th><td>-</td> <th>跑速</th><td>5</td> <td colspan="2" rowspan="2">範圍</td> </tr>
          <tr> <th>獲得金錢</th><td>999</td> <th>屬性</th><td id="color">白色敵人</td> </tr>
          <tr> <td colspan="6"id="char">50%的機率<span id="type">會心一擊</span><br>100%的機率 發出Lv5的<span id="type">波動</span> (射程:1132.5)<br></td> </tr>
        </table>
        <h1 id="3"><b>統計與評論</b></h1>
        <p>
          統計區域如下圖所示，此處還有賴大家幫忙填寫統計資料。方法如下:<br />
          在暱稱欄位中，點擊<i class="material-icons"style="border: 1px solid gray;margin: 2px; border-radius: 5px;">&#xe145;</i>
          可以新增暱稱，輸入完成後直接按下enter，或是點選後面的
          <i class="material-icons"style="border: 1px solid gray;margin: 2px; border-radius: 5px;">&#xe5ca;</i>圖示，
          如要取消，請點選後面的<i class="material-icons"style="border: 1px solid gray;margin: 2px; border-radius: 5px;">&#xe5cd;</i>。
          在實用度評分中，依照你覺得這隻貓的實用度(或長相XD)給予1到5分的評分，右方則會統計各星等的投票人數，
          上方的圓內會顯示平均分數。而實用度的個別評分部分，右側為各方面的分別評分，分數越高代表越好，
          所以價格越低分數應該要越高噢XD<br />
          在手機版的個別評分頁面，僅會顯示雷達圖，若要進行評分，請點選 </p>
        <div style="display:flex;width:100%"><span style="flex:6;background-color:#f2d6ab;font-size:16px;text-align:center;padding:3px">細項評分</span><span style="flex:2;font-size:16px;text-align:center;padding:3px">評分</span></div>
        <p>
          中的"評分"，即可顯示評分選項。最後依據你覺得這隻貓咪的定位，在定位區內投票(可複選)
          各定位的意義皆有說明在前方。若有其他疑義，可以從客服表單再跟我說噢。 </p>
        <table style="border: 3px solid black;background-color: #dedede;">
          <tr><th colspan="6">統計數據<i class="material-icons" style="transform: rotate(-90deg);"></i></th></tr>
          <tr class="survey">
            <th>暱稱</th><td colspan="5"><div id="nickname"><div>輸入暱稱</div><span id="add_nick"><i class="material-icons">&#xe145;</i></span></div></td>
          </tr>
          <tr class="survey">
              <th>實用度評分</th>
              <td colspan="2">
                <div style="display:flex;flex-direction:column" id="rank">
                  <div style="margin-bottom:5px">
                    <svg width="86" height="86">
                      <circle cx="43" cy="43" r="40" stroke="gray" stroke-width="6" fill="none"></circle>
                      <text x="22" y="53" dy="0" style="font-size:30px;font-weight:bold">4.2</text>
                    <path d="M0,-43A43,43 0 1,1 -17.5,-39.3L-15.1,-33.8A37,37 0 1,0 0,-37Z" fill="#53f5a2" style="transform:translate(43px,43px)"></path></svg>
                  </div>
                  <span  type="total">
                    <i class="material-icons" value="1" no="1"></i> <i class="material-icons" value="1" no="2"></i>
                    <i class="material-icons" value="1" no="3"></i> <i class="material-icons" value="1" no="4"></i>
                    <i class="material-icons" value="1" no="5"></i>
                  </span>
                </div>
              </td>
              <td colspan="3">
                <div id="rank_detail">
                  <div class="detail">
                    <span style="display:flex;align-items:center"> <span style="font-size:14px">5</span> <i class="material-icons" style="font-size:14px"></i> </span>
                    <div> <span style="background-color: #26d056; width: 100%;"></span><spa>10</span> </div>
                  </div>
                  <div class="detail">
                    <span style="display:flex;align-items:center"> <span style="font-size:14px">4</span> <i class="material-icons" style="font-size:14px"></i> </span>
                    <div> <span style="background-color: #85f26e; width: 50%;"></span> <span>4</span> </div>
                  </div>
                  <div class="detail">
                    <span style="display:flex;align-items:center"> <span style="font-size:14px">3</span> <i class="material-icons" style="font-size:14px"></i> </span>
                    <div> <span style="background-color: #f1de30; width: 25%;"></span> <span>2</span> </div> </div>
                  <div class="detail">
                    <span style="display:flex;align-items:center"> <span style="font-size:14px">2</span> <i class="material-icons" style="font-size:14px"></i> </span>
                    <div> <span style="background-color: #f19e30; width: 12.5%;"></span> <span>1</span> </div>
                  </div>
                  <div class="detail">
                    <span style="display:flex;align-items:center"> <span style="font-size:14px">1</span> <i class="material-icons" style="font-size:14px"></i> </span>
                    <div> <span style="background-color: #e84b4b; width: 12.5%;"></span> <span>1</span> </div>
                  </div>
                </div>
              </td>
          </tr>
          <tr class="survey">
            <td rowspan="6" colspan="2">
              <svg height="200" width="238.56">
                <path d="M 119.28 20 l 69.28 40 l 0 80 l -69.28 40 l -69.28 -40 l 0 -80 l 69.28 -40" stroke="gray" stroke-width="1" fill="none"></path>
                <path d="M 119.28 36 l 55.43 32 l 0 64 l -55.43 32 l -55.43 -32 l 0 -64 l 55.43 -32" stroke="gray" stroke-width="1" fill="none"></path>
                <path d="M 119.28 52 l 41.57 24 l 0 48 l -41.57 24 l -41.57 -24 l 0 -48 l 41.57 -24" stroke="gray" stroke-width="1" fill="none"></path>
                <path d="M 119.28 68 l 27.71 16 l 0 32 l -27.71 16 l -27.71 -16 l 0 -32 l 27.71 -16" stroke="gray" stroke-width="1" fill="none"></path>
                <path d="M 119.28 84 l 13.86 8 l 0 16 l -13.86 8 l -13.86 -8 l 0 -16 l 13.86 -8" stroke="gray" stroke-width="1" fill="none"></path>
                <line x1="119.28" y1="20" x2="119.28" y2="180" stroke="gray" stroke-width="1"></line>
                <line x1="50" y1="60" x2="188.56" y2="140" stroke="gray" stroke-width="1"></line>
                <line x1="50" y1="140" x2="188.56" y2="60" stroke="gray" stroke-width="1"></line>
                <text x="96" y="16">攻擊力</text> <text x="16" y="50">控場力</text>
                <text x="16" y="160">價格</text> <text x="102" y="196">體力</text>
                <text x="170" y="170">攻擊範圍</text> <text x="180" y="50">速度</text>
              <path d="M119.3,20L105.4,92L86.9,118.7L119.3,174.7L142.4,113.3L156.2,78.7Z" y="0" stroke="#ff8a11" stroke-width="3px" fill="rgba(232, 185, 146, 0.6)" id="char"></path></svg>
            </td>
            <th>攻擊力</th><td colspan="3" class="rank_respec"><span  type="atk"><i class="material-icons" value="1" no="1"></i><i class="material-icons" value="1" no="2"></i><i class="material-icons" value="1" no="3"></i><i class="material-icons" value="1" no="4"></i><i class="material-icons" value="1" no="5"></i></span></td>
          </tr>
          <tr class="survey"><th>控場力</th><td colspan="3" class="rank_respec"><span  type="control"><i class="material-icons" value="1" no="1"></i><i class="material-icons" value="0" no="2"></i><i class="material-icons" value="0" no="3"></i><i class="material-icons" value="0" no="4"></i><i class="material-icons" value="0" no="5"></i></span></td></tr>
          <tr class="survey"><th>價格</th><td colspan="3" class="rank_respec"><span  type="cost"><i class="material-icons" value="1" no="1"></i><i class="material-icons" value="1" no="2"></i><i class="material-icons" value="1" no="3"></i><i class="material-icons" value="0" no="4"></i><i class="material-icons" value="0" no="5"></i></span></td></tr>
          <tr class="survey"><th>體力</th><td colspan="3" class="rank_respec"><span  type="hp"><i class="material-icons" value="1" no="1"></i><i class="material-icons" value="1" no="2"></i><i class="material-icons" value="1" no="3"></i><i class="material-icons" value="1" no="4"></i><i class="material-icons" value="0" no="5"></i></span></td></tr>
          <tr class="survey"><th>攻擊範圍</th><td colspan="3" class="rank_respec"><span  type="range"><i class="material-icons" value="1" no="1"></i><i class="material-icons" value="1" no="2"></i><i class="material-icons" value="0" no="3"></i><i class="material-icons" value="0" no="4"></i><i class="material-icons" value="0" no="5"></i></span></td></tr>
          <tr class="survey"><th>速度</th><td colspan="3" class="rank_respec"><span  type="speed"><i class="material-icons" value="1" no="1"></i><i class="material-icons" value="1" no="2"></i><i class="material-icons" value="1" no="3"></i><i class="material-icons" value="0" no="4"></i><i class="material-icons" value="0" no="5"></i></span></td></tr>
          <tr><th colspan="6">定位</th></tr>
          <tr> <th>砲灰</th> <td colspan="3">便宜且生產快速，可以拖延戰線的推進</td> <td>0票</td> <td><i class="material-icons"></i></td> </tr>
          <tr> <th>攻擊手</th> <td colspan="3"> 主要為我方推線的角色</td> <td>0票</td> <td><i class="material-icons"></i></td> </tr>
          <tr> <th>控場</th> <td colspan="3"> 以各種妨礙效果阻止敵人推進</td> <td>0票</td> <td><i class="material-icons"></i></td> </tr>
          <tr> <th>快攻手</th> <td colspan="3"> 跑速快，通常有擊退反擊特性，可以迅速衝入敵人射程，給予重創</td> <td>0票</td> <td><i class="material-icons"></i></td> </tr>
          <tr> <th>肉盾</th> <td colspan="3"> 有高血量可以有效阻擋戰線被推進</td> <td>0票</td> <td><i class="material-icons"></i></td> </tr>
          <tr> <th>坦攻</th> <td colspan="3"> 高血量且具有一定攻擊力，可以坦入敵人射程內給予傷害</td> <td>2票</td> <td><i class="material-icons" style=""></i></td> </tr>
        </table>
        <p>
          評論的部分則跟當前大部分的社群網站一樣，輸入完評論後，按enter或<i class="material-icons"></i>來發送，
          按住shift+enter則可以換行。如果你喜歡該則評論，則可以點<i class="material-icons"></i>，
          若要取消，再點一次即可，右方數字則表示這則評論有多少人喜歡。
          自己PO的評論，會在左方有一條標記橘線，而且在"讚"的旁邊，會出現編輯"<i class="material-icons">&#xe254;</i>"
          與刪除"<i class="material-icons">&#xe872;</i>"的功能按鍵， </p>
        <table style="border: 3px solid black;background-color: #dedede;">
          <tr><th colspan="6">評論<i class="material-icons" style="transform: rotate(-90deg);"></i></th></tr>
          <tr class="comment">
            <td colspan="6">
              <div class="comment_content">
                <span class="photo" style="background-image: url('/public/css/footage/cat/u398-2.png');"></span>
                <span class="name">Master</span>
                <div>
                  <span class="bubble">在小怪少的關卡，對於攻頻慢的Boss可以有很不錯的表現</span>
                  <span class="function"><span class="time">2018/3/19</span><span class="like"><i class="material-icons" id="like" value="0"></i><span>1</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th colspan="6">
              <div class="comment_input">
                <textarea rows="1" maxlength="100" placeholder="想說什麼呢..."></textarea>
                <i class="material-icons" id="comment_submit"></i>
              </div>
            </th>
          </tr>
        </table>
        <p>
          統計數據與評論都和聯組一樣，可以透過點選title來展開/收合該部分。 </p>
        <h1 id="4"><b>購物車</b></h1>
        <div style="display:flex;width:100%">
          <p>
            雖然叫做購物車，但其實是比較序列得暱稱XDD<br />
            在<b onclick="scrollToDiv(1)" style="text-decoration:underline">篩選結果</b>與
            <b onclick="scrollToDiv(2)"style="text-decoration:underline">資料顯示</b>區域
            有如何加入比較序列的方法。要查看比較序列中的敵人或貓咪，點擊螢幕左下方如右圖的標籤，
            即可展開購物車列表。標籤上的數字則是代表當前購物車中有幾隻貓咪或敵人。<br />
            比較序列一有變動，會自動儲存，不需要另行點選儲存，欲開始比較時，逕行從導航列前往
            <b onclick="scrollToDiv(compare)" style="text-decoration:underline">"貓咪比較器"或"敵人比較器"</b>即可看到比較結果。</p>
          <div id="compareTarget_tag" style="position:relative;z-index:0">
            <i class="material-icons">&#xe315;</i>貓咪購物車
            <span id="compare_number">0</span>
          </div>
        </div>
        <p>
          若要編輯購物車內的敵人或貓咪，點擊欲編輯的對象，即會出現選單可以選擇刪除該對象，
          點擊顯示則會在該頁顯示對象的詳細資料。 </p>
      </div>
    </div>
    <div class="section" id="stage">
      <div class="section_title">關卡資料庫<i class="material-icons"onclick="scrollToDiv('stage')">&#xE25A;</i></div>
      <div class="content">
        <p>
          關卡資料庫，主要分為兩大部分，
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(5)">關卡選擇器</b>、
          <b style="color:#df5151;text-decoration:underline;cursor:pointer" onclick="scrollToDiv(6)">關卡資料結果</b>
          (點擊連結以前往介紹) </p>
        <h1 id="5"><b>關卡選擇器</b></h1>
        <p>
          關卡選擇器又可以細分為三個區塊，章節選擇、大關選擇、關卡選擇。要選擇章節，點擊螢幕左下角的"選擇關卡"，
          即可展開側邊選擇列，點選從各細項分類的名稱展開，再點選欲查詢的章節後，頁面頂端的大關選擇區就會出現該章節下
          的各大關名稱，同理，點及大關名稱則會在旁邊的關卡選擇顯示個小關的名稱，即可在這裡選擇欲查詢的關卡。<br />
          大關選擇與關卡選擇的區域如下圖。 </p>
        <div class="lv_sg_box" >
          <div id="select_stage" ><button value="0" style="width:180px;height:40px;margin:5px">大關選擇</button></div>
          <div id="select_level" ><span class="card" style="background-image:url('../public/css/footage/stage/fight_BG_03.png')">關卡選擇</span></div>
        </div>
        <p>
          另外，關卡資料庫也提供文字搜尋的功能，輸入關鍵字後按下enter或搜尋，系統即會遍歷所有關卡，
          找出名稱中含有關鍵字的大關或關卡，呈現在如下圖中的搜尋結果框裡。<br />
          每一筆搜尋結果的開頭會標示這是大關還是關卡，點擊結果後，若為大關則會將該大關下的各關卡名稱
          顯示在"關卡選擇"的欄位內；若為關卡，則會直接在下方關卡資訊區顯示資訊。右上角的
          <i class="material-icons" style="cursor:pointer;margin-bottom:5"></i>可以收合結果區，
          如欲再次展開請重新搜尋。</p>
        <div id="searchResult" style="display: block;border: 3px solid black;">
          <div style="display:flex;font-size: 20px; border-bottom: 1px solid;">
            <div style="flex:2">共<b id="num">10</b>筆搜尋結果</div>
            <i class="material-icons" style="cursor:pointer;margin-bottom:5"></i>
          </div>
          <div class="result">
            <span id="crazy-s01108-1"><c>關卡</c>  <d>狂亂系列</d> <d>大狂亂魚貓降臨</d> <d><b>鬼</b>島DX 極難</d></span>
            <span id="maylook-s02048-3"><c>關卡</c>  <d>梅露可合作關卡</d> <d>神秘的梅露可物語</d> <d>鎮<b>鬼</b>儀式</d></span>
            <span id="month-s01012-1"><c>關卡</c>  <d>月間關</d> <d>被召喚的福</d> <d><b>鬼</b>在外,福在內</d></span>
            <span id="month-s01084"><c>大關</c>  <d>月間關</d> <d>開眼我是<b>鬼</b>來襲!</d></span>
            <span id="month-s01084-1"><c>關卡</c>  <d>月間關</d> <d>開眼我是<b>鬼</b>來襲!</d> <d>我是<b>鬼</b>的進化之路 困難</d></span>
            <span id="month-s01084-2"><c>關卡</c>  <d>月間關</d> <d>開眼我是<b>鬼</b>來襲!</d> <d>我是<b>鬼</b>的進化之路 超級難</d></span>
            <span id="story-s00007-3"><c>關卡</c>  <d>傳說故事</d> <d>竹子島</d> <d>殺人<b>鬼</b>叢林</d></span>
            <span id="story-s00023-4"><c>關卡</c>  <d>傳說故事</d> <d>大混戰</d> <d>膽小<b>鬼</b>的陷阱</d></span>
            <span id="story-s00033-1"><c>關卡</c>  <d>傳說故事</d> <d>亡者聚集之地</d> <d>亡魂<b>鬼</b>屋</d></span>
            <span id="story-s00033-3"><c>關卡</c>  <d>傳說故事</d> <d>亡者聚集之地</d> <d>半夜<b>鬼</b>上床</d></span></div>
        </div>
        <h1 id="6"><b>關卡資料結果</b></h1>
        <div style="display:flex;width:100%">
          <div style="flex:3">
            <p>
              在資料顯示區的右邊，有如右的懸浮工具列，各工具的功能如下:
            </p>
            <ul>
              <li><i class="material-icons">&#xE5C4;</i> : 在該大關中，此關卡的前一個關卡(如果有)</li>
              <li><i class="material-icons">&#xE5C8;</i> : 在該大關中，此關卡的下一個關卡(如果有)</li>
              <li><i class="material-icons">&#xe895;</i> : 則會在新分頁開啟這關卡的超絕網站的連結</li>
              <li><i class="material-icons">&#xe439;</i> : 截圖整個資料顯示區</li>
              <li><i class="material-icons">&#xE242;</i> : 將關卡中的所有敵人加入敵人比較序列(前往敵人比較序列以進行比較)</li>
              <li><i class="material-icons">&#xE25A;</i> : 回到資料顯示區的最頂端</li>
            </ul>
          </div>
          <div id='more_option' style="position:relative;top:0;left:0;z-index:0;border: 3px solid black;background-color: #dedede;">
            <div> <i class="material-icons">&#xE5C4;</i> <span class="tag">上一關</span> </div>
            <div> <i class="material-icons">&#xE5C8;</i> <span class="tag">下一關</span> </div>
            <div> <a target='blank'><i class="material-icons">&#xe895;</i></a> <span class="tag">在超絕攻略網打開</span> </div>
            <div> <i class="material-icons">&#xe439;</i> <span class="tag">截圖</span> </div>
            <div> <i class="material-icons">&#xE242;</i> <span class="tag">加入比較序列</span> </div>
            <div> <i class="material-icons">&#xE25A;</i> <span class="tag">回到頂端</span> </div>
          </div>
        </div>
        <p>
          關卡的資料顯示區如下圖所示，會顯示關卡的各種基本資訊、過關獎勵與關卡敵人。
          關卡名稱前面兩欄，分別為章節名稱與大關名稱，點擊章節名稱可以在"大關選擇"中顯示該章節的各大關；
          而點擊大關名稱可以在"關卡選擇"顯示該大關的各關卡。<br />
          在關卡敵人中，點擊敵人圖片可以切換到敵人資料庫，顯示該敵人的詳細資料，若過關獎勵中有貓咪獎勵，
          也同樣可以點擊切換到貓咪資料庫。另外點選
          <b>倍率</b>、<b>數量</b>、<b>城連動</b>、<b>首次出現</b>、<b>再次出現</b>
          等表頭，可以將敵人依照該特性從小到大排列(再點一次則從大到小)。
          從小到大排列時，表頭上會有藍色標示；反之則以橘色標示表示此欄是從大到小排列。
        </p>
        <div style="width:100%;display:flex;justify-content:space-around">
          <button onclick='nav_Data(1)'>電腦版</button>
          <button onclick='nav_Data(0)'>手機板</button>
        </div>
        <table class="dataTable non_mobile" style="border: 3px solid black;background-color: #dedede;">
          <tr><th rowspan="2" colspan="1" id="chapter">貓咪<br>風雲塔</th><th rowspan="2" colspan="1" id="stage">貓咪風雲塔</th><th rowspan="2" colspan="2">39階</th><th>接關</th><td>不行</td></tr>
          <tr><th>統帥力</th><td>200</td></tr><tr><th>城堡體力</th><td>750,000</td><th>戰線長度</th><td>6,200</td><th>經驗值</th><td>15960</td></tr>
          <tr><th>我方出擊限制</th><td colspan="3">無</td><th>敵人出擊限制</th><td>15</td></tr>
          <tr><th colspan="6">過關獎勵</th></tr>
          <tr><th>經驗值</th><td>3,000,000</td><th>取得機率</th><td>100％</td><th>取得上限</th><td>1</td></tr>
          <tr><th colspan="6">關卡敵人</th></tr>
          <tr><th>敵人</th><th class="enemy_head" id="multiple">倍率</th><th class="enemy_head">數量</th><th class="enemy_head">城連動</th><th class="enemy_head">首次出現(s)</th><th class="enemy_head">再次出現(s)</th></tr>
          <tr class="enemy_row"> <td class="enemy"style="padding:0;border:5px solid rgb(244, 89, 89)"><img src="../public/css/footage/enemy/e260.png" style="width:100%"></td> <td>200％</td><td>1</td><td>100％</td> <td>26.7</td><td>-</td></tr>
          <tr class="enemy_row" id="1"> <td class="enemy" id="212" style="padding:0;"><img src="../public/css/footage/enemy/e212.png" style="width:100%"></td><td>300％</td><td>1</td><td>100％</td><td>10.0</td><td>-</td></tr>
          <tr class="enemy_row" id="2"><td class="enemy" id="258" style="padding:0;"><img src="../public/css/footage/enemy/e258.png" style="width:100%"></td><td>200％</td><td>5</td><td>100％</td><td>33.3</td><td>26.7</td></tr>
          <tr class="enemy_row" id="3"><td class="enemy" id="237" style="padding:0;"><img src="../public/css/footage/enemy/e237.png" style="width:100%"></td><td>100％</td><td>4</td><td>100％</td><td>26.7</td><td>20.0</td></tr>
          <tr class="enemy_row" id="4"><td class="enemy" id="023" style="padding:0;"><img src="../public/css/footage/enemy/e023.png" style="width:100%"></td><td>100％</td><td>1</td><td>100％</td><td>900.0</td><td>-</td></tr>
        </table>
        <table class="dataTable mobile"style="display: none;border: 3px solid black;background-color: #dedede;">
          <tr><th colspan="1" id="chapter">貓咪<br>風雲塔</th><th colspan="1" id="stage">貓咪風雲塔</th><th colspan="2">39階</th></tr>
          <tr><th>經驗值</th><td>15960</td><th>統帥力</th><td>200</td></tr> <tr><th>城堡體力</th><td colspan="3">750,000</td></tr>
          <tr><th>戰線長度</th><td colspan="3">6,200</td></tr> <tr><th>敵方出擊限制</th><td colspan="3">15</td></tr> <tr><th>我方出擊限制</th><td colspan="3">無</td></tr>
          <tr><th colspan="4">過關獎勵</th></tr>
          <tr><th colspan="2">經驗值</th><td colspan="2">3,000,000</td></tr> <tr><th>取得機率</th><td>100％</td><th>取得上限</th><td>1</td></tr>
          <tr><th colspan="6">關卡敵人</th></tr>
          <tr class="enemy_row"><td class="enemy" style="padding:0;border:5px solid rgb(244, 89, 89)"><img src="../public/css/footage/enemy/e260.png" style="width:100%"></td><td>200％</td><th>數量</th><td>1</td></tr>
          <tr><th>出現條件</th><td colspan="3">城體力小於<b>100％</b><br>且開場已過<b>26.7</b>秒後出現<br>間隔<b>-</b>秒後再次出現</td></tr>
          <tr class="enemy_row"><td class="enemy" style="padding:0;"><img src="../public/css/footage/enemy/e212.png" style="width:100%"></td><td>300％</td><th>數量</th><td>1</td></tr>
          <tr><th>出現條件</th><td colspan="3">城體力小於<b>100％</b><br>且開場已過<b>10.0</b>秒後出現<br>間隔<b>-</b>秒後再次出現</td></tr>
          <tr class="enemy_row"><td class="enemy" style="padding:0;"><img src="../public/css/footage/enemy/e258.png" style="width:100%"></td><td>200％</td><th>數量</th><td>5</td></tr>
          <tr><th>出現條件</th><td colspan="3">城體力小於<b>100％</b><br>且開場已過<b>33.3</b>秒後出現<br>間隔<b>26.7</b>秒後再次出現</td></tr>
          <tr class="enemy_row"><td class="enemy" style="padding:0;"><img src="../public/css/footage/enemy/e237.png" style="width:100%"></td><td>100％</td><th>數量</th><td>4</td></tr>
          <tr><th>出現條件</th><td colspan="3">城體力小於<b>100％</b><br>且開場已過<b>26.7</b>秒後出現<br>間隔<b>20.0</b>秒後再次出現</td></tr>
          <tr class="enemy_row"><td class="enemy" style="padding:0;"><img src="../public/css/footage/enemy/e023.png" style="width:100%"></td><td>100％</td><th>數量</th><td>1</td></tr>
          <tr><th>出現條件</th><td colspan="3">城體力小於<b>100％</b><br>且開場已過<b>900.0</b>秒後出現<br>間隔<b>-</b>秒後再次出現</td></tr>
        </table>

      </div>
    </div>
    <div class="section" id="compare">
      <div class="section_title">貓咪、敵人比較器<i class="material-icons"onclick="scrollToDiv('compare')">&#xE25A;</i></div>
      <div class="content">
        <p>
          本功能是用來比較多隻貓咪或敵人的數值，使用前先將要比較的貓咪或敵人加入
          <b onclick="scrollToDiv('4')" style="text-decoration:underline;">購物車</b>
          ，接著直接進入本頁面即可開始比較。</p>
        <p>
          比較器的外觀如下。Level可以直接更改，改變的等級同時也會改變在貓咪資料庫中的顯示等級。
          在等級旁有更多選項的按鈕，展開後可以選擇將選取的對象刪除、隱藏、切換階級或標記為我擁有的貓。
          刪除的貓如欲加回比較序列，須重新從資料庫加回；隱藏的貓則可以由
          <b style="text-decoration:underline"onclick='scrollToDiv(7)'>側邊功能欄</b>重新顯示。
          此功能僅在貓咪比較器中出現。
          底下的資料區內，標示為橘色粗體的值，代表該值是同類型數據中最好的(非最大值，
          故花費與再生產皆是標記最小值)。此處同樣可以點擊表頭來排序值，從小到大排列時，表頭上會有藍色標示；反之則以橘色標示表示此欄是從大到小排列。
          另外，點擊特性可以切換特性的"詳細/簡略"敘述。 </p>
        <div class="compareTable"style="border: 3px solid black;background-color: #dedede;">
          <div class="comparedatahead" style="flex:1">
            <table>
              <tbody><tr><th>Level</th></tr> <tr><th style="height:80px;">Picture</th></tr>
              <tr><th>全名</th></tr> <tr><th>稀有度</th></tr> <tr><th>體力</th></tr>
              <tr><th>KB</th></tr> <tr><th>硬度</th></tr> <tr><th>攻擊力</th></tr>
              <tr><th>DPS</th></tr> <tr><th>射程</th></tr> <tr><th>攻頻</th></tr>
              <tr><th>跑速</th></tr> <tr><th>範圍</th></tr> <tr><th>花費</th></tr>
              <tr><th>再生産</th></tr> <tr><th id="char">特性</th></tr>
            </tbody></table>
          </div>
          <div class="comparedataholder" style="flex:5">
            <div style="display:flex" class="comparedatabody">
              <div style="flex:1" class="comparedata" id="334-2" bro="334-1"><table><tbody>
                  <tr><th id="level"style="width:100%"><span>40</span><i class="material-icons"></i></th></tr>
                  <tr><th style="height:80px;padding:0"><img src="../public/css/footage/cat/u334-2.png" style="height:100%"></th></tr>
                  <tr><th >皇獸黑暗牙王</th></tr><tr><th>超激稀有</th></tr><tr><td class="best">125400</td></tr>
                  <tr><td >4</td></tr><tr><td class="best">31350</td></tr><tr><td class="best">50600</td></tr>
                  <tr><td  class="best">8118</td></tr><tr><td class="best">480</td></tr><tr><td>6.23</td></tr>
                  <tr><td  class="best">9</td></tr><tr><td class="best">範圍</td></tr><tr><td>6000</td></tr>
                  <tr><td  class="best">158.2</td></tr><tr><td id="tag">對白色/超大傷害/暫停/免疫波動/免疫擊退</td></tr>
                  <tr style="display:none"><td id="char">
                    對<span id="color">白色敵人</span><span id="type">超大傷害 (攻擊力x3)</span><br>
                    對<span id="color">白色敵人</span>100%的機率<span id="type">暫停</span>1秒<br>
                    <span id="type">免疫波動 </span><br><span id="type">免疫擊退</span><br></td></tr>
              </tbody></table></div>
              <div style="flex:1" class="comparedata" id="379-2" bro="379-1"> <table><tbody>
                  <tr><th id="level"style="width:100%"><span>40</span><i class="material-icons"></i></th></tr>
                  <tr><th style="height:80px;padding:0"><img src="../public/css/footage/cat/u379-2.png" style="height:100%"></th></tr>
                  <tr><th >深靛黑蝶御靈</th></tr><tr><th>超激稀有</th></tr><tr><td>57750</td></tr>
                  <tr><td  class="best">15</td></tr><tr><td>3850</td></tr><tr><td>35200</td></tr>
                  <tr><td >7040</td></tr><tr><td>375</td></tr><tr><td class="best">5.00</td></tr>
                  <tr><td >6</td></tr><tr><td class="best">範圍</td></tr><tr><td class="best">5250</td></tr>
                  <tr><td >164.9</td></tr>
                  <tr><td id="tag">對白色/很耐打/緩速/降攻/遠方攻擊/免疫波動/免疫擊退/免疫暫停/免疫緩速/免疫降攻</td></tr>
                  <tr style="display:none"><td id="char">
                    對<span id="color">白色敵人</span><span id="type">很耐打 (受到傷害x0.25)</span>
                    <br>對<span id="color">白色敵人</span>100%的機率<span id="type">緩速</span>3.3秒
                    <br>對<span id="color">白色敵人</span>100%的機率<span id="type">降攻</span>50%3.3秒
                    <br><span id="type">遠方攻擊</span> 250~650 <br><span id="type">免疫波動 </span>
                    <br><span id="type">免疫擊退</span> <br><span id="type">免疫暫停</span><br>
                    <span id="type">免疫緩速</span><br><span id="type">免疫降攻</span><br></td>
              </tbody></table></div></div>
              <div class='panel' value='0' style="position:absolute">
                <span id="del">移除</span>
                <span id="hide">隱藏</span>
                <span id="switch">切換階級</span>
                <span id="own">我有這隻貓</span>
              </div>
            </div>
        </div>
        <div id="7" style="display:flex;width:100%;margin:10 0">
          <div style="flex:2">
            <p>把滑鼠移至頁面右手邊，可以叫出如右圖的右側功能欄，在功能欄中的各功能如下: </p>
            <ul>
              <li><i class="material-icons">&#xe145;</i> : 放大顯示區</li>
              <li><i class="material-icons">&#xe15b;</i> : 縮小顯示區</li>
              <li><i class="material-icons">&#xe5d1;</i> : 恢復原始顯示比例</li>
              <li><i class="material-icons">&#xe417;</i> : 顯示所有隱藏的貓(僅限貓咪比較器)</li>
              <li><i class="material-icons">&#xe439;</i> : 截圖顯示區</li>
            </ul>
          </div>
          <div style="border: 3px solid black;background-color: #dedede;">
            <div style="top:0;right:0;margin:5px" class="floatbutton"><i class="material-icons">&#xe145;</i></div>
            <div style="top:0;right:0;margin:5px" class="floatbutton"><i class="material-icons">&#xe15b;</i></div>
            <div style="top:0;right:0;margin:5px" class="floatbutton"><i class="material-icons">&#xe5d1;</i></div>
            <div style="top:0;right:0;margin:5px" class="floatbutton"><i class="material-icons">&#xe417;</i></div>
            <div style="top:0;right:0;margin:5px" class="floatbutton"><i class="material-icons">&#xe439;</i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section_title"> </div>
      <div class="content">

      </div>
    </div>
    <div class="section">
      <div class="section_title"> </div>
      <div class="content">

      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/jquery.ui.touch-punch.min.js"></script>
    <script>
      function nav_PC(n) {
        $('.navLinkBox,.settingBox').css("display", n?'flex':'none')
        $('nav .mobile').css("display", n?'none':'flex')
      }
      function nav_Data(n) {
        if(n) {
          $("#database").find('.mobile').hide().siblings('.non_mobile').show();
          $("#stage").find('.mobile').hide().siblings('.non_mobile').show();
          $("#database").find(".slider").parent().show().next().attr('colspan',1);
        }
        else{
           $("#database").find('.mobile').show().siblings('.non_mobile').hide();
           $("#stage").find('.mobile').show().siblings('.non_mobile').hide();
           $("#database").find(".slider").parent().hide().next().attr('colspan',5);
         }
      }
      $(".select_ability").find(".ability_icon").each(function () {
        let name = $(this).attr("id");
        $(this).css("background-image","url('"+image_url_icon+name+".png')");
      });
      $(".slider").slider();
      $("#slider_holder #type").click(function () {
          $(this).text(function () {
            switch ($(this).text()) {
              case '以上':
                return '以下'
              case '以下':
                $("#slider_holder").find(".slider").slider('destroy');
                $("#slider_holder").find(".slider").slider().slider('option',{
                  'range':true,
                  'values':[20,70]
                });
                return '範圍'
              case '範圍':
              $("#slider_holder").find(".slider").slider('destroy');
              $("#slider_holder").find(".slider").slider().slider('option',{
                'range':false,
                'value':50
              });
                return '以上'
            }
          });
      });
      $("#slider_holder #active").click(function () {
        let aa = Number($(this).attr("value"));
        $('.filter_option').eq(0).attr('active',aa?'false':'true');
        $(this).children().html("&#xe83"+(7-aa)+";");
        $(this).attr("value",aa?0:1)
      });
      setTimeout(function () { $("#slider_holder .value_display").attr("colspan",1); },100);
      function scrollToDiv(div_id){
        $('html,body').animate(
          {scrollTop: $("#"+div_id).offset().top-80},
          600,'easeInOutCubic');
      }
      $('.glyphicon-refresh').click(toggleCatStage);
      function toggleCatStage() {
        let group = $(this).parent(),
            current = group.children(".card:visible").next('.card').attr('value');
        if(group.children(".card").length>1) group.css("transform","rotateY(90deg)");
        setTimeout(function () {
          group.css("transform","rotateY(0)");
          if(current != undefined) group.children(".card:visible").hide().next('.card').show();
          else group.children(".card:visible").hide().parent().children('.card').eq(0).show();
        },300);
      }
      $("#comment_submit").click(function () {
        let text = $(this).prev().val();
        $(this).prev().val("");
        $('<tr class="comment"><td colspan="6" style="border-left:5px solid #eb8a26">'+
            '<div class="comment_content">'+
            '<span class="photo" style="background-image: url(\'/public/css/footage/cat/u001-1.png\');"></span>'+
            '<span class="name">Test</span><div><span class="bubble">'+text+'</span>'+
            '<span class="function"><span class="time">剛剛</span><span class="like"><i class="material-icons" id="like" value="0"></i><span>0</span><i class="material-icons"></i><i class="material-icons" id="del"></i></span></span>'+
            '</div> </div> </td> </tr>').insertBefore($(".comment_input").parents("tr"));
      });
      $(document).on('click',"#del",function () { $(this).parents('.comment').remove() });
      $(document).on('click',"#like",function () {
          aa = Number($(this).attr("value"));
          $(this).attr("value",aa?0:1).next().text(function () {
            return  Number($(this).text())+(aa?(-1):1)
          });
      });
      $(".lv_sg_box div").click(function () { $(this).css("flex",'3').siblings().css('flex','1'); });
      $('.comparedatabody #level i').click(function () {
        let width = $(this).parent()[0].offsetWidth,
            top = $(this).parent().offset().top-100,
            left = $(this).parent().offset().left,
            value = Number($(".panel").attr('value')),
            id = $(this).parents('.comparedata').attr("id"),
            panel_id = $(".panel").attr('id');
        $(".panel").css({
          width:width,
          top:top,
          left:left,
          height:id==panel_id?(value?0:100):100
        }).attr({
          id:$(this).parents('.comparedata').attr("id"),
          value:id==panel_id?(value?0:1):1
        });
        $(this).css('transform',function () {
          return Number($(".panel").attr('value'))?'rotate(180deg)':'rotate(0deg)'
        }).parents('.comparedata').siblings().each(function () {
          $(this).find("#level i").css('transform','rotate(0deg)');
        });
        $('.panel #switch').html("切換階級");
      });
      $(".comparedatahead table #char").click(function () {
        $('.comparedata table #tag').parent().toggle().next().toggle();
      })
    </script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
