<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>設定</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon_setting.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/setting.css" />
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
  </head>
  <body>
    <!-- <nav>
      <a href="\">
        <img src="../public/css/footage/title.png"/>
      </a>
      <div class="navLinkBox"></div>
      <div class="settingBox"></div>
      <div class="mobile">
        <i class="material-icons" id="m_nav_menu">menu</i>
      </div>
    </nav>
    <div id="m_nav_panel_BG"></div>
    <div class="m_nav_panel">
      <div class="m_navLinkBox"></div>
      <div class="m_settingBox"></div>
    </div> -->

    <div class="page_1">
      <div class="setting_container">
        <h4>使用者設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>使用者名稱</span>
            <input type="text" id="userName"/>
          </div>
          <div class="setting_item">
            <span>預設顯示更多選項</span>
            <label class="switch">
              <input type="checkbox" id="show_more_option" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>重設我擁有的貓咪</span>
            <button id="reset_own_cat">重設</button>
          </div>
          <!-- <div class="setting_item">
            <span>隱藏客服</span>
            <label class="switch">
              <input type="checkbox" id="show_more_service" >
              <span class="slider_but"></span>
            </label>
          </div> -->
          <div class="setting_item">
            <span>登出</span>
            <button id="logout">登出</button>
          </div>
        </div>

        <h4>貓咪查詢設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>預設貓咪等級</span>
            <input type="number" id="default_cat_lv"/>
          </div>
          <div class="setting_item">
            <span>重設所有貓咪等級</span>
            <button id="reset_cat_lv">重設</button>
          </div>
          <div class="setting_item">
            <span>顯示貓咪ID</span>
            <label class="switch">
              <input type="checkbox" id="show_cat_id" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>顯示貓咪查詢次數</span>
            <label class="switch">
              <input type="checkbox" id="show_cat_count" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>顯示能力篩選文字</span>
            <label class="switch">
              <input type="checkbox" id="show_ability_text" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>開啟/關閉日版貓咪</span>
            <label class="switch">
              <input type="checkbox" id="show_jp_cat" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>我的貓咪查詢歷程記錄(最近20隻)</span>
            <i class="material-icons" id="cat_history">arrow_drop_down</i>
          </div>
          <div id="history_cat"></div>
        </div>

        <h4>敵人查詢設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>顯示敵人ID</span>
            <label class="switch">
              <input type="checkbox" id="show_enemy_id" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>顯示敵人查詢次數</span>
            <label class="switch">
              <input type="checkbox" id="show_enemy_count" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>我的敵人查詢歷程記錄(最近20隻)</span>
            <i class="material-icons" id="ene_history">arrow_drop_down</i>
          </div>
          <div id="history_ene"></div>
        </div>

        <h4>其他設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>暫停/開始支持本網站(將重新整理)</span>
            <label class="switch">
              <input type="checkbox" id="show_miner" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>你的累計支持度</span>
            <h3 id="total_hash" style="margin:0"></h3>
          </div>
          <a class="setting_item" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScz-YlVxBGPGsxWKSMqdBzpRZiDm3BOrmNihRnWZJlHlpGxag/viewform">
            <span>前往客服表單</span>
            <i class="material-icons">&#xe895;</i>
          </a>
        </div>



      </div>
    </div>


    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/setting.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
