<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>設定</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_setting.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/setting.css" />
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
  </head>
  <body>

    <div class="content">
        <h4>使用者設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <div id="photo">
              <span>修改照片</span>
            </div>
            <span>使用者名稱</span>
            <input type="text" id="userName"/>
          </div>
          <div class="setting_item">
            <span>視窗開啟方式</span>
            <select name="openMethod">
              <option value="iframe" selected>內嵌式(預設)</option>
              <option value="_blank">新分頁</option>
              <option value="_parent">原分頁</option>
            </select>
          </div>
          <div class="setting_item">
            <span>重設我擁有的貓咪</span>
            <button id="reset_own_cat">重設</button>
          </div>
          <div class="setting_item">
            <span>登出</span>
            <button id="logout">登出</button>
          </div>
        </div>

        <h4>貓咪查詢設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>預設貓咪等級</span>
            <input type="number" id="default_cat_lv"/>
          </div>
          <div class="setting_item">
            <span>重設所有貓咪等級</span>
            <button id="reset_cat_lv">重設</button>
          </div>
          <div class="setting_item">
            <span>顯示能力篩選文字</span>
            <label class="switch">
              <input type="checkbox" id="show_ability_text" >
              <span class="slider_but"></span>
            </label>
          </div>
          <div class="setting_item">
            <span>開啟/關閉日版貓咪</span>
            <label class="switch">
              <input type="checkbox" id="show_jp_cat" >
              <span class="slider_but"></span>
            </label>
          </div>
          <!-- <div class="setting_item">
            <span>已填寫貓咪評價數</span>
            <h3 id="total_survey" style="margin:0">0</h3>
          </div> -->
          <div class="setting_item">
            <span>搜尋結果資料預顯示</span>
            <i class="material-icons cir_but cloneSelect" text='新增欄位'style="display:none"> add </i>
            <i class="material-icons showNext"active='0'> arrow_drop_down </i>
          </div>
          <div class="setting_item resultDataPreview" style="display:none" type='cat' data-array='[]'>
            <div>
              <span>1. </span>
              <select class="dataPreview">
                <option value="">無</option>
                <option value='hp'>體力</option>
                <option value='kb'>KB</option>
                <option value='hardness'>硬度</option>
                <option value='atk'>攻擊力</option>
                <option value='dps'>DPS</option>
                <option value='range'>攻擊距離</option>
                <option value='freq'>攻擊頻率</option>
                <option value='speed'>跑速</option>
                <option value='cost'>價格</option>
                <option value='cd'>再生產</option>
              </select>
            </div>
          </div>
        </div>

        <h4>敵人查詢設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>搜尋結果資料預顯示</span>
            <i class="material-icons cir_but cloneSelect" text='新增欄位'style="display:none"> add </i>
            <i class="material-icons showNext"active='0'> arrow_drop_down </i>
          </div>
          <div class="setting_item resultDataPreview" style="display:none" type='enemy' data-array='[]'>
            <div>
              <span>1. </span>
              <select class="dataPreview">
                <option value="">無</option>
                <option value='hp'>體力</option>
                <option value='kb'>KB</option>
                <option value='hardness'>硬度</option>
                <option value='atk'>攻擊力</option>
                <option value='dps'>DPS</option>
                <option value='range'>攻擊距離</option>
                <option value='freq'>攻擊頻率</option>
                <option value='speed'>跑速</option>
                <option value='reward'>獲得金錢</option>
              </select>
            </div>
          </div>
        </div>

        <h4>關卡查詢設定</h4>
        <div class="setting_element">
          <div class="setting_item">
            <span>關卡敵人資訊顯示欄位設定</span>
            <i class="material-icons cir_but"text='回復預設'id="restoreField"style="display:none"> restore </i>
            <i class="material-icons cir_but"text='保存設定'id="saveField"style="display:none"> done </i>
            <i class="material-icons showNext"active='0'> arrow_drop_down </i>
          </div>
          <div class="setting_item" style="display:none">
            <div id="include"> </div>
            <div id="exclude">
              <span tag='aoe'>範圍攻擊</span><span tag='atk'>攻擊力</span><span tag='atk_speed'>攻擊速度</span>
              <span tag='char'>特性(詳細)</span><span tag='color'>屬性</span><span tag='dps'>DPS</span>
              <span tag='freq'>攻擊頻率</span><span tag='hardness'>硬度</span><span tag='hp'>血量</span>
              <span tag='name'>名稱</span><span tag='range'>攻擊範圍</span><span tag='reward'>獲得金錢</span>
              <span tag='speed'>跑速</span><span tag='kb'>KB</span><span tag='tag'>特性(簡略)</span>
            </div>
          </div>
        </div>

        <h4>其他設定</h4>
        <div class="setting_element">
          <a class="setting_item" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScz-YlVxBGPGsxWKSMqdBzpRZiDm3BOrmNihRnWZJlHlpGxag/viewform">
            <span>前往客服表單</span>
            <i class="material-icons">&#xe895;</i>
          </a>
        </div>
      </div>
    <div id="photo_chooser">
      <div>
        <h3 style="text-align:center">選擇一項動作</h3>
        <div style="flex-direction:row;padding:3px">
          <span type="account">使用登入帳戶頭貼</span>
          <span type="cat">使用隨機貓咪圖片</span>
        </div>
      </div>
    </div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/jquery.ui.touch-punch.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/setting.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
