<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>關卡資訊</title>
    <link rel="Shortcut Icon" type="image" href="./css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/navBar.css" />
    <link rel="stylesheet" href="./css/overall.css" />
    <link rel="stylesheet" href="./css/stage.css" />
    <link rel="stylesheet" href="./css/FloatDisplay.css" />
    <link rel="stylesheet" href="./css/rwd.css" />
  </head>
  <body>
    <div class="chooser">
      <div class="search flex">
        <input type="text" id="searchBox" placeholder="搜尋關卡...">
        <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div class="search_type" style="display:flex;width:100%">
        <span value='0' onclick="openTable('chapterTable')">選擇章節</span>
        <span value='0' onclick="openTable('levelTable')">選擇關卡</span>
        <span value='0' onclick="openTable('rewardSelectorTable')">獎勵篩選器</span>
        <span value='0' onclick="openTable('searchResultTable')">搜尋結果</span>
      </div>
      <div class="chapterTable">
          <div>
            <div target='0' value='1'>主線任務</div>
            <div target='1' value='0'>傳說故事</div>
            <div target='2' value='0'>貓咪風雲塔</div>
            <div target='3' value='0'>經驗值/素材</div>
            <div target='4' value='0'>開眼/取得貓咪</div>
            <div target='5' value='0'>時節性關卡</div>
            <div target='6' value='0'>特殊關卡</div>
            <div target='7' value='0'>合作關卡</div>
          </div>
          <div>
            <div target='0' value='1'>
              <button class="stageBG" bg='world' id='world' value='0'>世界篇</button>
              <button class="stageBG" bg='future' id='future' value='0'>未來篇</button>
              <button class="stageBG" bg='universe' id='universe' value='0'>宇宙篇</button>
            </div>
            <div target='1' value='0'>
              <button class="stageBG" bg='story' id='story' value='0'>傳說故事</button>
              <button class="stageBG" bg='trueStory' id='trueStory' value='0'>真傳說故事</button>
              <button class="stageBG" bg='legendquest' id='legendquest' value='0'>傳奇尋寶記</button>
            </div>
            <div target='2' value='0'> <button class="stageBG" bg='tower' id='tower' value='0'>貓咪</br>風雲塔</button> </div>
            <div target='3' value='0'>
              <button class="stageBG" bg='XP' id='XP' value='0'>經驗關</button>
              <button class="stageBG" bg='evolution' id='evolution' value='0'>貓薄荷</button>
              <button class="stageBG" bg='castleMaterial' id='castleMaterial' value='0'>城堡素材</button>
              <button class="stageBG" bg='ticket' id='ticket' value='0'>貓咪卷關卡</button>
            </div>
            <div target='4' value='0'>
              <button class="stageBG" bg='crazy' id='crazy' value='0'>狂亂系列</button>
              <button class="stageBG" bg='hard' id='hard' value='0'>極難關</button>
              <button class="stageBG" bg='cyclone' id='cyclone' value='0'>旋渦關</button>
              <button class="stageBG" bg='smallCat' id='smallCat' value='0'>開眼小小貓</button>
              <button class="stageBG" bg='openeye' id='openeye' value='0'>Ex貓開眼關</button>
            </div>
            <div target='5' value='0'>
              <button class="stageBG" bg='weekly' id='weekly' value='0'>每日關卡</button>
              <button class="stageBG" bg='month' id='month' value='0'>月間關</button>
              <button class="stageBG" bg='month' id='festival' value='0'>節日關卡</button>
            </div>
            <div target='6' value='0'>
              <button class="stageBG" bg='memory' id='memory' value='0'>紀念關</button>
              <button class="stageBG" bg='ranking' id='ranking' value='0'>排行賽關卡</button>
              <button class="stageBG" bg='RedCome' id='RedCome' value='0'>紅色戰亂</button>
              <button class="stageBG" bg='DarkCome' id='DarkCome' value='0'>黑夜襲擊</button>
            </div>
            <div target='7' value='0'>
              <button class="stageBG" bg='mahoshojo' id='mahoshojo' value='0'>魔法少女<br />合作關卡</button>
              <button class="stageBG" bg='Fish' id='Fish' value='0'>曼波魚<br />合作關卡</button>
              <button class="stageBG" bg='Fate' id='Fate' value='0'>Fate<br />合作關卡</button>
              <button class="stageBG" bg='egg' id='egg' value='0'>蛋黃哥<br />合作關卡</button>
              <button class="stageBG" bg='pokopang' id='pokopang' value='0'>POKOPANG<br />合作關卡</button>
              <button class="stageBG" bg='eva' id='eva' value='0'>福音戰士<br />合作關卡</button>
              <button class="stageBG" bg='lazybird' id='lazybird' value='0'>懶得鳥你</br>合作關卡</button>
              <button class="stageBG" bg='baseball' id='baseball' value='0'>實況野球</br>合作關卡</button>
              <button class="stageBG" bg='maylook' id='maylook' value='0'>梅露可</br>合作關卡</button>
              <button class="stageBG" bg='castleAndDragon' id='castleAndDragon' value='0'>城與龍</br>合作關卡</button>
              <button class="stageBG" bg='CrashFever' id='CrashFever' value='0'>CrashFever</br>合作關卡</button>
            </div>
          </div>
      </div>
      <div class="levelTable">
        <div id="select_stage" class="loading"></div>
        <div id="select_level" class="loading"></div>
      </div>
      <div class="rewardSelectorTable content"style="padding:0">
        <table>
          <tr> <th colspan="2">獎勵篩選器</th> </tr>
          <tr>
            <th rowspan="2">貓薄荷</th>
            <td>
              <span class="button" value='0' name='紅色貓薄荷種子'>
                <img src="./css/footage/fruit/seed_icon01.png"/>
              </span>
              <span class="button" value='0' name='藍色貓薄荷種子'>
                <img src="./css/footage/fruit/seed_icon02.png"/>
              </span>
              <span class="button" value='0' name='紫色貓薄荷種子'>
                <img src="./css/footage/fruit/seed_icon03.png"/>
              </span>
              <span class="button" value='0' name='綠色貓薄荷種子'>
                <img src="./css/footage/fruit/seed_icon04.png"/>
              </span>
              <span class="button" value='0' name='黃色貓薄荷種子'>
                <img src="./css/footage/fruit/seed_icon05.png"/>
              </span>
              <span class="button" value='0' name='古代貓薄荷種子'>
                <img src="./css/footage/fruit/seed_icon07.png"/>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="button" value='0' name='紅色貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon01.png"/>
              </span>
              <span class="button" value='0' name='藍色貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon02.png"/>
              </span>
              <span class="button" value='0' name='紫色貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon03.png"/>
              </span>
              <span class="button" value='0' name='綠色貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon04.png"/>
              </span>
              <span class="button" value='0' name='黃色貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon05.png"/>
              </span>
              <span class="button" value='0' name='彩虹貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon06.png"/>
              </span>
              <span class="button" value='0' name='古代貓薄荷'>
                <img src="./css/footage/fruit/fruit_icon07.png"/>
              </span>
            </td>
          </tr>
          <tr>
            <th>戰鬥道具</th>
            <td>
              <span class="button" value='0' name='加速'>
                <img src="./css/footage/gameIcon/trasure_speedup.png" />
              </span>
              <span class="button" value='0' name='寶物雷達'>
                <img src="./css/footage/gameIcon/trasure_getreward.png" />
              </span>
              <span class="button" value='0' name='土豪貓'>
                <img src="./css/footage/gameIcon/trasure_maxmoney.png" />
              </span>
              <span class="button" value='0' name='貓型電腦'>
                <img src="./css/footage/gameIcon/trasure_computer.png" />
              </span>
              <span class="button" value='0' name='洞悉先機'>
                <img src="./css/footage/gameIcon/trasure_xpup.png" />
              </span>
              <span class="button" value='0' name='狙擊手'>
                <img src="./css/footage/gameIcon/trasure_snipper.png" />
              </span>
            </td>
          </tr>
          <tr>
            <th> 城堡素材 </th>
            <td>
              <span class="button" value='0' name='紅磚'>
                <img src="./css/footage/gameIcon/material_brick.png" />
              </span>
              <span class="button" value='0' name='羽毛'>
                <img src="./css/footage/gameIcon/material_feather.png" />
              </span>
              <span class="button" value='0' name='備長炭'>
                <img src="./css/footage/gameIcon/material_carbon.png" />
              </span>
              <span class="button" value='0' name='鋼製齒輪'>
                <img src="./css/footage/gameIcon/material_gear.png" />
              </span>
              <span class="button" value='0' name='黃金'>
                <img src="./css/footage/gameIcon/material_gold.png" />
              </span>
              <span class="button" value='0' name='宇宙石'>
                <img src="./css/footage/gameIcon/material_stone.png" />
              </span>
              <span class="button" value='0' name='神秘骨頭'>
                <img src="./css/footage/gameIcon/material_bone.png" />
              </span>
            </td>
          </tr>
          <tr>
            <th>貓眼石/喵力達</th>
            <td>
              <span class="button" value='0' name='貓眼石【ＥＸ】'>
                <img src="./css/footage/gameIcon/eye_EX.png" />
              </span>
              <span class="button" value='0' name='貓眼石【稀有】'>
                <img src="./css/footage/gameIcon/eye_R.png" />
              </span>
              <span class="button" value='0' name='貓眼石【激稀有】'>
                <img src="./css/footage/gameIcon/eye_SR.png" />
              </span>
              <span class="button" value='0' name='貓眼石【超激稀有】'>
                <img src="./css/footage/gameIcon/eye_SSR.png" />
              </span>
              <span class="button" value='0' name='貓眼石【傳說稀有】'>
                <img src="./css/footage/gameIcon/eye_SSSR.png" />
              </span>
              <span class="button" value='0' name='喵力達A'>
                <img src="./css/footage/drink_A.png" />
              </span>
              <span class="button" value='0' name='喵力達B'>
                <img src="./css/footage/drink_B.png" />
              </span>
              <span class="button" value='0' name='喵力達C'>
                <img src="./css/footage/drink_C.png" />
              </span>
            </td>
          </tr>
          <tr>
            <th> 其他 </th>
            <td>
              <span class="button" value='0' name='經驗值'>
                <img src="./css/footage/gameIcon/xp_500000.png" />
              </span>
              <span class="button" value='0' name='稀有卷'>
                <img src="./css/footage/au_ticket.png" />
              </span>
              <span class="button" value='0' name='貓咪卷'>
                <img src="./css/footage/ag_ticket.png" />
              </span>
              <span class="button" value='0' name='貓罐頭'>
                <img src="./css/footage/can.png" />
              </span>
              <span class="button" value='0' name='招福轉蛋券'>
                <img src="./css/footage/lucky_ticket.png" />
              </span>
              <span class="button" value='0' name='招福轉蛋G券'>
                <img src="./css/footage/g_ticket.png" />
              </span>
            </td>
          </tr>
        </table>
        <button>GO</button>
      </div>
      <div class="searchResultTable">
        <div>
          <div style="flex:2">共<b id="num">0</b>筆搜尋結果</div>
        </div>
        <div class="result"> </div>
      </div>
    </div>
    <div class="content">
      <div class="displayControl">
        <div class="data">
          <span id="name"></span>
        </div>
        <div class="position non_mobile">
          <span onclick="scroll_to_class('dataTable')">關卡資料</span>
          <span onclick="scroll_to_class('rewardTable')">過關獎勵</span>
          <span onclick="scroll_to_class('enemyTable')">關卡敵人</span>
        </div>
        <div class="control">
          <i class="material-icons cir_but"text='上一關'id='prev'>keyboard_arrow_left</i>
          <i class="material-icons cir_but"text='下一關'id='next'>keyboard_arrow_right</i>
          <a target='blank'id="out"><i class="material-icons cir_but"text='在超絕攻略網打開'>&#xe895;</i></a>
          <i class="material-icons cir_but"text='截圖'id='snapshot'>add_a_photo</i>
          <i class="material-icons cir_but"text='加入比較序列'id='AddToCompare'>&#xE242;</i>
          <i class="material-icons cir_but"text='切換敵人資訊'id='swapdata'>swap_vert</i>
        </div>
      </div>
      <div class="display">
        <table class="dataTable">
          <tr>
            <th rowspan="2" id='chapter' value=''></th>
            <th rowspan="2" id='stage' value=''></th>
            <th colspan='2' id="name"></th>
            <th rowspan="2" id='bg_img'></th>
          </tr>
          <tr>
            <th colspan="2" id="star" style="display:none"></th>
          </tr>
          <tr>
            <th rowspan="4" id="castle_img"></th>
            <th>接關</th><td id="continue"></td>
            <th>統帥力</th><td id="energy"></td>
          </tr>
          <tr>
            <th>城堡體力</th><td id="castle"></td>
            <th>戰線長度</th><td id="length"></td>
          </tr>
          <tr>
            <th>經驗值</th><td id="exp"></td>
            <th>敵人出擊限制</th><td id="limit_no"></td>
          </tr>
          <tr>
            <th>我方出擊限制</th><td colspan='3' id="constrain">無</td>
          </tr>
        </table>
        <div id="reward_head" class="tableTitle" active='0'>過關獎勵</div>
        <table class="rewardTable">
          <tbody> </tbody>
        </table>
        <table class="legendquestTable">
          <thead>
            <tr><th colspan='12'>消耗★數</th></tr>
            <tr>
              <th colspan="3">初回</th> <th colspan="3">第2回</th> <th colspan="3">第3回</th>
              <th colspan="3">第4回之後</th>
            </tr>
            <tr class="starReq">
              <td colspan="3"></td><td colspan="3"></td><td colspan="3"></td><td colspan="3"></td>
            </tr>
            <tr><th colspan='12'>出陣列表變動率</th></tr>
            <tr>
              <th>變動隻數</th> <th>10隻</th> <th>9隻</th> <th>8隻</th> <th>7隻</th>
              <th>6隻</th> <th>5隻</th> <th>4隻</th> <th>3隻</th> <th>2隻</th>
              <th>1隻</th> <th>0隻</th>
            </tr>
            <tr>
              <th>初回</th>
              <td style='color:lightgray'>0%</td>
              <td style="color:var(--red)">30%</td>
              <td style='color:var(--red)'>32%</td>
              <td>14%</td>
              <td>6%</td>
              <td>6%</td>
              <td>4%</td>
              <td>4%</td>
              <td>2%</td>
              <td>2%</td>
              <td style='color:lightgray'>0%</td>
            </tr>
            <tr>
              <th>第2回</th>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:var(--orange)'>27%</td>
              <td style='color:var(--red)'>37%</td>
              <td>16%</td>
              <td>6%</td>
              <td>6%</td>
              <td>4%</td>
              <td>4%</td>
              <td style='color:lightgray'>0%</td>
            </tr>
            <tr>
              <th>第3回</th>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:var(--orange)'>25%</td>
              <td style='color:var(--red)'>45%</td>
              <td>18%</td>
              <td>6%</td>
              <td>6%</td>
              <td style='color:lightgray'>0%</td>
            </tr>
            <tr>
              <th>第4回</th>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:var(--red)'>45%</td>
              <td style="color:var(--red)">50%</td>
              <td>10%</td>
              <td style='color:lightgray'>0%</td>
            </tr>
            <tr>
              <th>第5回之後</th>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style='color:lightgray'>0%</td>
              <td style="color:var(--orange)">32%</td>
              <td style='color:var(--red)'>45%</td>
              <td style="color:var(--orange)">23%</td>
            </tr>
          </thead>
        </table>
        <table class="legendquestTable"></table>
        <div id="enemy_head" class="tableTitle" active='0'>關卡敵人</div>
        <table class="enemyTable">
          <thead>
            <tr class="enemy_head">
              <th>敵人</th>
              <th id='multiple'>倍率<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"></div></th>
              <th id='amount'class="orgdata">數量<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"></div></th>
              <th id='castle'class="orgdata">城連動<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"></div></th>
              <th id='first_show'class="orgdata">首次出現(s)<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"></div></th>
              <th id='next_time'class="orgdata">再次出現(s)<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"></div></th>
              <th id='point'class="orgdata">積分<span class="toggle_next" pos='right'offsetY='20'></span><div class="panel"></div></th>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
        <div id="comment_head" class="tableTitle" active='0'>評論</div>
        <table class="commentTable">
          <tbody> </tbody>
          <tfoot>
            <tr><th>
              <div class="comment_input">
                <textarea rows='1' maxlength='100' placeholder="想說什麼呢..."></textarea>
                <i class="material-icons" id="comment_submit">&#xe163;</i>
              </div>
            </th></tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="floatDisplay_holder">
      <div class="floatDisplay">
        <div style="display:flex;justify-content:flex-end">
          <span>更多詳細資料 ></span>
          <i class="material-icons"> close </i>
        </div>
        <table class="dataTable">
          <tr> <td style="background:#e9d6ad;"colspan='6'><div id="title"></div></td> </tr>
          <tr>
            <th colspan='1'><span>等級</span></th>
            <td colspan=5 id='lv'>
              <span style='margin:0 10px'></span>
            </td>
          </tr>
          <tr>
            <th>體力</th><td id='hp'></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'></td>
            <th>DPS</th><td id='DPS'></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <td colspan='2' rowspan='2' id='aoe'></td>
          </tr>
          <tr class="ForCat">
            <th>花費</th><td id='cost'></td>
            <th>再生產</th><td id='cd'></td>
          </tr>
          <tr>
            <th>獲得金錢</th><td id='reward'></td>
            <th>屬性</th><td id='color'></td>
          </tr>
          <tr>
            <td colspan='6' id='char'></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="float_BG"></div>
    <div id="canvas_holder">
      <div class="picture"></div>
    </div>




    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./js/html2canvas.min.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/overall.js"></script>
    <script src="./js/stage.js"></script>
    <script src="./js/comment.js"></script>
    <script src="./js/FloatDisplay.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="./js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
