<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>關卡資訊</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/stage.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
  </head>
  <body>

    <div class="select_chapter_holder">
      <div class="select_chapter">
        <span>主線任務</span>
        <div style="display:none">
          <button id='world' value='0'>世界篇</button>
          <button id='future' value='0'>未來篇</button>
          <button id='universe' value='0'>宇宙篇</button>
        </div>
        <span>傳說故事</span>
        <div style="display:none"> <button id='story' value='0'>傳說故事</button> </div>
        <span>貓咪風雲塔</span>
        <div style="display:none"> <button id='tower' value='0'>貓咪</br>風雲塔</button> </div>
        <span>經驗值/素材</span>
        <div style="display:none">
          <button id='XP' value='0'>經驗關</button>
          <button id='evolution' value='0'>貓薄荷</button>
          <button id='castleMaterial' value='0'>城堡素材</button>
          <button id='ticket' value='0'>貓咪卷關卡</button>
        </div>
        <span>開眼/取得貓咪</span>
        <div style="display:none">
          <button id='crazy' value='0'>狂亂系列</button>
          <button id='hard' value='0'>極難關</button>
          <button id='cyclone' value='0'>旋渦關</button>
          <button id='smallCat' value='0'>開眼小小貓</button>
          <button id='openeye' value='0'>Ex貓開眼關</button>
        </div>
        <span>時節性關卡</span>
        <div style="display:none">
          <button id='month' value='0'>月間關</button>
          <button id='easter' value='0'>復活節關卡</button>
        </div>
        <span>特殊關卡</span>
        <div style="display:none"> <button id='memory' value='0'>紀念關</button> </div>
        <span>合作關卡</span>
        <div style="display:none">
          <button id='eva' value='0'>福音戰士<br />合作關卡</button>
          <button id='lazybird' value='0'>懶得鳥你</br>合作關卡</button>
          <button id='baseball' value='0'>實況野球</br>合作關卡</button>
          <button id='maylook' value='0'>梅露可</br>合作關卡</button>
        </div>
      </div>
    </div>
    <div id="select_chap_tag">
      <i class="material-icons">&#xe315;</i>選擇關卡
    </div>

    <div class="content" id="selector">
      <div class="search" style="margin:20px;width:100%">
        <input type="text" id="searchBox" placeholder="搜尋關卡...">
        <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div id="searchResult">
        <div style="display:flex;font-size: 20px; border-bottom: 1px solid;">
          <div style="flex:2">共<b id="num"></b>筆搜尋結果</div>
          <i class="material-icons" style="cursor:pointer;margin-bottom:5">&#xE14C;</i>
        </div>
        <div class="result"> </div>
      </div>
      <div class="lv_sg_box" >
        <div id="select_stage" ></div>
        <div id="select_level" ></div>
      </div>
    </div>
    <div class="content">
      <div id='more_option'>
        <div id='prev'>
          <i class="material-icons">&#xE5C4;</i>
          <span class="tag">上一關</span>
        </div>
        <div id='next'>
          <i class="material-icons">&#xE5C8;</i>
          <span class="tag">下一關</span>
        </div>
        <div>
          <a target='blank' id="out"><i class="material-icons">&#xe895;</i></a>
          <span class="tag">在超絕攻略網打開</span>
        </div>
        <div id='snapshot'>
          <i class="material-icons">&#xe439;</i>
          <span class="tag">截圖</span>
        </div>
        <div id='AddToCompare'>
          <i class="material-icons">&#xE242;</i>
          <span class="tag">加入比較序列</span>
        </div>
        <div id='top'>
          <i class="material-icons">&#xE25A;</i>
          <span class="tag">回到頂端</span>
        </div>
      </div>
      <div class="display">
        <table class="dataTable"></table>
      </div>
    </div>

    <div class="float_BG"></div>
    <div id="canvas_holder">
      <div class="picture"></div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/stage.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
