<html>
  <head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>關卡資訊</title>
    <link rel="Shortcut Icon" type="image" href="../public/css/footage/tab_icon_event.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../public/css/navBar.css" />
    <link rel="stylesheet" href="../public/css/overall.css" />
    <link rel="stylesheet" href="../public/css/stage.css" />
    <link rel="stylesheet" href="../public/css/FloatDisplay.css" />
    <link rel="stylesheet" href="../public/css/rwd.css" />
  </head>
  <body>

    <div class="select_chapter_holder">
      <div class="select_chapter">
        <span>主線任務</span>
        <div style="display:none">
          <button id='world' value='0'>世界篇</button>
          <button id='future' value='0'>未來篇</button>
          <button id='universe' value='0'>宇宙篇</button>
        </div>
        <span>傳說故事</span>
        <div style="display:none">
          <button id='story' value='0'>傳說故事</button>
          <button id='trueStory' value='0'>真傳說故事</button>
         </div>
        <span>貓咪風雲塔</span>
        <div style="display:none"> <button id='tower' value='0'>貓咪</br>風雲塔</button> </div>
        <span>經驗值/素材</span>
        <div style="display:none">
          <button id='XP' value='0'>經驗關</button>
          <button id='evolution' value='0'>貓薄荷</button>
          <button id='castleMaterial' value='0'>城堡素材</button>
          <button id='ticket' value='0'>貓咪卷關卡</button>
        </div>
        <span>開眼/取得貓咪</span>
        <div style="display:none">
          <button id='crazy' value='0'>狂亂系列</button>
          <button id='hard' value='0'>極難關</button>
          <button id='cyclone' value='0'>旋渦關</button>
          <button id='smallCat' value='0'>開眼小小貓</button>
          <button id='openeye' value='0'>Ex貓開眼關</button>
        </div>
        <span>時節性關卡</span>
        <div style="display:none">
          <button id='weekly' value='0'>每日關卡</button>
          <button id='month' value='0'>月間關</button>
          <button id='easter' value='0'>復活節關卡</button>
        </div>
        <span>特殊關卡</span>
        <div style="display:none"> <button id='memory' value='0'>紀念關</button> </div>
        <span>合作關卡</span>
        <div style="display:none">
          <button id='egg' value='0'>蛋黃哥<br />合作關卡</button>
          <button id='pokopang' value='0'>POKOPANG<br />合作關卡</button>
          <button id='eva' value='0'>福音戰士<br />合作關卡</button>
          <button id='lazybird' value='0'>懶得鳥你</br>合作關卡</button>
          <button id='baseball' value='0'>實況野球</br>合作關卡</button>
          <button id='maylook' value='0'>梅露可</br>合作關卡</button>
        </div>
      </div>
    </div>
    <div id="select_chap_tag">
      <i class="material-icons">&#xe315;</i>選擇關卡
    </div>

    <div class="content" id="selector">
      <div class="search" style="margin:20px;width:100%">
        <input type="text" id="searchBox" placeholder="搜尋關卡...">
        <button id="searchBut"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      <div id="searchResult">
        <div style="display:flex;font-size: 20px; border-bottom: 1px solid;">
          <div style="flex:2">共<b id="num"></b>筆搜尋結果</div>
          <i class="material-icons" style="cursor:pointer;margin-bottom:5">&#xE14C;</i>
        </div>
        <div class="result"> </div>
      </div>
      <div class="lv_sg_box" >
        <div id="select_stage" ></div>
        <div id="select_level" ></div>
      </div>
    </div>
    <div class="content">
      <div id='more_option'>
        <i class="material-icons"text='上一關'id='prev'>&#xE5C4;</i>
        <i class="material-icons"text='下一關'id='next'>&#xE5C8;</i>
        <a target='blank'id="out"><i class="material-icons"text='在超絕攻略網打開'>&#xe895;</i></a>
        <i class="material-icons"text='截圖'id='snapshot'>&#xe439;</i>
        <i class="material-icons"text='加入比較序列'id='AddToCompare'>&#xE242;</i>
        <i class="material-icons"text='回到頂端'id='top'>&#xE25A;</i>
      </div>
      <div class="display">
        <table class="dataTable">
          <tr>
            <th rowspan=2 colspan=1 id='chapter' value=''></th>
            <th rowspan=2 colspan=1 id='stage' value=''></th>
            <th rowspan=2 colspan=2 id="name"></th>
            <th>接關</th><td id="continue"></td>
          </tr>
          <tr><th>統帥力</th><td id="energy"></td></tr>
          <tr>
            <th>城堡體力</th><td id="castle"></td>
            <th>戰線長度</th><td id="length"></td>
            <th>經驗值</th><td id="exp"></td>
          </tr>
          <tr>
            <th>我方出擊限制</th><td colspan='3' id="constrain"></td>
            <th>敵人出擊限制</th><td id="limit_no"></td>
          </tr>
          <tr id="reward_head">
            <th colspan=6>
              過關獎勵
              <i class="material-icons"value='0'>expand_more</i>
            </th>
          </tr>
          <tr id="enemy_toggle">
            <th colspan=6>
              關卡敵人
              <i class="material-icons"value='0'>expand_more</i>
            </th>
          </tr>
          <tr id='enemy_head'>
            <th>敵人</th>
            <th id='multiple'>倍率<span></span><div></div></th>
            <th id='amount'>數量<span></span><div></div></th>
            <th id='castle'>城連動<span></span><div></div></th>
            <th id='first_show'>首次出現(s)<span></span><div></div></th>
            <th id='next_time'>再次出現(s)<span></span><div></div></th>
          </tr>
          <!-- <tr id="list_toggle">
            <th colspan=6>
              相關出陣列表
              <i class="material-icons"value='0'>expand_more</i>
            </th>
          </tr> -->
        </table>
      </div>
    </div>

    <div class="floatDisplay_holder">
      <div class="floatDisplay">
        <i class="material-icons"> close </i>
        <table class="dataTable">
          <tr class="non_mobile">
            <th style='height:80px;padding:0' class="img"></th>
            <th colspan=5 rarity='data.rarity' class='name'></th>
          </tr>
          <tr class="mobile">
            <th class="name" colspan="6"></th>
          </tr>
          <tr class="mobile">
            <th style='height:80px;padding:0;background-color:transparent;' colspan="6" class="img">
            </th>
          </tr>
          <tr>
            <th colspan='1'><span>等級/倍率</span></th>
            <td colspan=5 id='lv'>
              <span style='margin:0 10px'></span>
            </td>
          </tr>
          <tr>
            <th>體力</th><td id='hp'></td>
            <th>KB</th><td id='KB'></td>
            <th>硬度</th><td id='hardness'></td>
          </tr>
          <tr>
            <th>攻擊力</th><td id='atk'></td>
            <th>DPS</th><td id='DPS'></td>
            <th>射程</th><td id='range'></td>
          </tr>
          <tr>
            <th>攻頻</th><td id='freq'></td>
            <th>跑速</th><td id='speed'></td>
            <td colspan='2' rowspan='2' id='aoe'></td>
          </tr>
          <tr class="ForCat">
            <th>花費</th><td id='cost'></td>
            <th>再生產</th><td id='cd'></td>
          </tr>
          <tr>
            <th>獲得金錢</th><td id='reward'></td>
            <th>屬性</th><td id='color'></td>
          </tr>
          <tr>
            <td colspan='6' id='char'></td>
          </tr>
        </table>
        <div style="display:flex;justify-content:flex-end">
          <span>更多詳細資料 ></span>
        </div>
      </div>
    </div>

    <div class="float_BG"></div>
    <div id="canvas_holder">
      <div class="picture"></div>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <div class='title'></div>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <!-- <button id="setting-submit" class="btn btn-default" >Confirm</button> -->
            <button id="setting-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111466284-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/html2canvas.min.js"></script>
    <script src="../public/js/class.js"></script>
    <script src="../public/js/overall.js"></script>
    <script src="../public/js/stage.js"></script>
    <script src="../public/js/FloatDisplay.js"></script>
    <script src="../public/js/jquery.easing.1.3.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="../public/js/firebaseConfig.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
